# See: https://stackoverflow.com/questions/115983/how-can-i-add-an-empty-directory-to-a-git-repository
# Ignore everything in this directory
*
# Except this file
!.gitignore

!script.js
!script-axios-extend.js
!script-cookies.js
!script-password.js
!vuelidate-extend.js
!vue-ph-address.js
!vue-payroll.js
!payroll.js