{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}
    {% include 'employee/employee-profile-photo.html' %}
    {% include 'employee/employee-view-tabs.html' %}

    <div id="vApp" v-cloak v-bind:data-pending="pending" class="tab-content p-3 pt-4 min-height-500">
        <div class="d-flex align-items-center">
            <h1 class="h4 mr-3 mb-3">Add Document</h1>
        </div>
        <form ref="form" v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/document/create" method="POST" enctype="multipart/form-data" class="form-default">
            <div class="form-group">
                <label for="document">Accepted File: ${acceptList}</label>
                <div>
                    <input v-on:change="readFile" name="document" id="document" ref="fileDocument" v-bind:accept="acceptList" type="file" class="form-control">
                    <small class="invalid-feedback">${getError('filesLength')}</small>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Document Name</label>
                <div>
                    <input v-model="name" name="name" id="name" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('name')}</small>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Document Type</label>
                <div>
                    <select v-model="docType" name="docType" id="docType" class="form-control">
                        <option value=""></option>
                        {% for option in CONFIG.e201Types %}
                            <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </select>
                    <small class="invalid-feedback">${getError('docType')}</small>
                </div>
            </div>
            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            pending: false,
            accept: ['image/jpeg', 'image/png', 'application/pdf'],
            name: '',
            docType: '',
            filesLength: 0,
        },
        validations: {
            name: {
                required: window.validators.required
            },
            docType: {
                required: window.validators.required
            },
            filesLength: {
                required: window.validators.minValue(1)
            },
        },
        computed: {
            acceptList: function(){
                return this.accept.join(', ')
            }
        },
        methods: {
            readFile: function(event){
                var me = this;
                var files = [];
                if('target' in event){
                    if('files' in event.target){
                        files = event.target.files
                    }
                }
                if(files){
                    var count = files.length;
                    me.filesLength = count

                    if(count > 1){
                        // Remove all FileList content
                        event.target.value = "";
                        return alert('Maximum of 1 file only');
                    }

                    for(var i = 0; i < count; i++){
                        if(me.accept.indexOf(files.item(i).type) === -1){
                            // Remove all FileList content
                            event.target.value = "";

                            return alert('File type not allowed. Must be one of the following: ' + me.accept.join(', '));
                        }

                        me.name = files.item(i).name

                    }
                    
                }
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.pending = true;
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}