{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Reset Password for {{scanner.name}}</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/scanner/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>

    {% include 'parts/flash.html' %}


    <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/scanner/{{scanner._id}}/code" method="POST" class="form-default">

    <div class="alert alert-warning">Warning: This will revoke the access of all existing scanners. Scanners might not be able to scan until the new password is re-entered.</div>
       

        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                <button class="btn btn-primary">Okay, Generate Access Code</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
        },
        validations: {
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

