{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Apply for DTR Correction <em>({{attendance.createdAt|format_date('MMMM DD, YYYY')}})</em></h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/e-profile/dtr/{{employment._id}}" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class=" mb-5">
        {% include 'parts/flash.html' %}

        {% if attendanceDenied %}
            <div class="alert alert-warning">
                Previous application was denied: <strong>{{attendanceDenied.denyReason}}</strong>
            </div>
        {% endif %}
        <div id="vApp" v-cloak v-bind:data-pending="pending" class="ml-auto mr-auto" >
            <div class="text-center">
                <h4 class="h3 mb-3">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</h4>
                <p class="text-left mb-3"><em class="mr-2">Employment:</em> <strong>{{employment.position}}</strong></p>
            </div>
            <div class="alert alert-warning">Reminder: Please have your attendance corrected not later than 3 days after your incorrect log transaction.</div>

            <form id="vApp" v-cloak ref="form" v-on:submit.prevent="onSubmit" action="/e-profile/dtr/{{employment._id}}/attendance/{{attendance._id}}/edit" method="POST" class="form-default">
                
                <div class="form-group">
                    <label for="type" class="font-weight-bold">Attendance Type <span class="text-danger">*</span></label>
                    <select v-model="attendance.type" name="type" id="type" class="form-control">
                        <option v-for="attendanceType in attendanceTypes" v-bind:value="attendanceType.value">${attendanceType.name}</option>
                    </select>
                </div>
                <div class="form-row" v-if="!attendanceTypesList.includes(_.get(attendance, 'type'))">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="d-flex align-items-start justify-content-between">
                                <label for="log0" class="font-weight-bold mr-3">Morning In</label>
                                <button title="Move Time" v-bind:style="isHidden(0, 1)" v-on:click.prevent="moveTimeLog(0, 1)" class="btn btn-sm btn-light p-0" type="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M10,17L15,12L10,7V17Z" /></svg></button>
                            </div>
                            <input type="time" name="log0" v-model="attendance.ui.log0" id="log0" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="d-flex align-items-start justify-content-between">
                                <label for="log1" class="font-weight-bold mr-3">Morning Out</label>
                                <div>
                                    <button title="Move Time" v-bind:style="isHidden(1, 0)" v-on:click.prevent="moveTimeLog(1, 0)" class="btn btn-sm btn-light p-0" type="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M14,7L9,12L14,17V7Z" /></svg></button>
                                    <button title="Move Time" v-bind:style="isHidden(1, 2)" v-on:click.prevent="moveTimeLog(1, 2)" class="btn btn-sm btn-light p-0" type="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M10,17L15,12L10,7V17Z" /></svg></button>
                                </div>
                            </div>
                            <input type="time" name="log1" v-model="attendance.ui.log1" id="log1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="d-flex align-items-start justify-content-between">
                                <label for="log2" class="font-weight-bold mr-3">Afternoon In </label>
                                <div>
                                    <button title="Move Time" v-bind:style="isHidden(2, 1)" v-on:click.prevent="moveTimeLog(2, 1)" class="btn btn-sm btn-light p-0" type="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M14,7L9,12L14,17V7Z" /></svg></button>
                                    <button title="Move Time" v-bind:style="isHidden(2, 3)" v-on:click.prevent="moveTimeLog(2, 3)" class="btn btn-sm btn-light p-0" type="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M10,17L15,12L10,7V17Z" /></svg></button>
                                </div>
                            </div>
                            <input type="time" name="log2" v-model="attendance.ui.log2" id="log2" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="d-flex align-items-start justify-content-between">
                                <label for="log3" class="font-weight-bold mr-3">Afternoon Out </label>
                                <button title="Move Time" v-bind:style="isHidden(3, 2)" v-on:click.prevent="moveTimeLog(3, 2)" class="btn btn-sm btn-light p-0" type="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M14,7L9,12L14,17V7Z" /></svg></button>
                            </div>
                            <input type="time" name="log3" v-model="attendance.ui.log3" id="log3" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="workScheduleId" class="font-weight-bold">Work Schedule <span class="text-danger">*</span></label>
                    <select v-model="workScheduleId" name="workScheduleId" id="workScheduleId" class="form-control">
                        <option v-for="workSchedule in workSchedules" v-bind:value="workSchedule._id">${workSchedule.name}</option>
                    </select>
                    <small class="invalid-feedback">${getError('workScheduleId')}</small>
                </div>
                <div class="form-group">
                    <label for="correctionReason" class="font-weight-bold">Reason for Correction <span class="text-danger">*</span></label>
                    <select v-model="correctionReason" name="correctionReason" id="correctionReason" class="form-control">
                        <option value=""></option>
                        {% for correctionReason in correctionReasons %}
                            <option value="{{correctionReason.value}}">{{correctionReason.name}}</option>
                        {% endfor %}
                    </select>
                    <small class="invalid-feedback">${getError('correctionReason')}</small>
                </div>
                <div class="form-group" v-if="['normal', 'pass'].includes(_.get(attendance, 'type'))">
                    <label for="logsheetNumber" class="font-weight-bold">Your Number on the Log Sheet</label>
                    <input type="number" v-model="logsheetNumber" name="logsheetNumber" id="logsheetNumber" class="form-control">
                    <small class="invalid-feedback">${getError('logsheetNumber')}</small>
                </div>
                <div class="form-group">
                    <label for="photo" class="font-weight-bold">Select ${attachmentLabel} </label>
                    <div v-if="photo" class="position-relative text-center bg-white" style="overflow: hidden">
                        <img v-bind:src="photo" v-bind:style="rotationCss" id="preview" alt="photo" class="img-fluid">
                        <button v-on:click="rotate" class="btn btn-sm btn-light mb-2" type="button" style="display:inline-block; position: relative; z-index:2;">
                            <svg viewBox="0 0 24 24" style="width: 18px; height: 18px;"><path fill="currentColor" d="M7.34,6.41L0.86,12.9L7.35,19.38L13.84,12.9L7.34,6.41M3.69,12.9L7.35,9.24L11,12.9L7.34,16.56L3.69,12.9M19.36,6.64C17.61,4.88 15.3,4 13,4V0.76L8.76,5L13,9.24V6C14.79,6 16.58,6.68 17.95,8.05C20.68,10.78 20.68,15.22 17.95,17.95C16.58,19.32 14.79,20 13,20C12.03,20 11.06,19.79 10.16,19.39L8.67,20.88C10,21.62 11.5,22 13,22C15.3,22 17.61,21.12 19.36,19.36C22.88,15.85 22.88,10.15 19.36,6.64Z"></path></svg>
                        </button>
                        <button v-on:click="photo=''" class="btn btn-danger" type="button" style="position: absolute; top: 15px; right: 15px;">X</button>
                    </div>
                    <div v-else-if="photo2" class="position-relative text-center bg-white" style="overflow: hidden">
                        <img v-bind:src="photo2" v-bind:style="rotationCss" id="preview" alt="photo2" class="img-fluid">
                        <button v-on:click="rotate" class="btn btn-sm btn-light mb-2" type="button" style="display:inline-block; position: relative; z-index:2;">
                            <svg viewBox="0 0 24 24" style="width: 18px; height: 18px;"><path fill="currentColor" d="M7.34,6.41L0.86,12.9L7.35,19.38L13.84,12.9L7.34,6.41M3.69,12.9L7.35,9.24L11,12.9L7.34,16.56L3.69,12.9M19.36,6.64C17.61,4.88 15.3,4 13,4V0.76L8.76,5L13,9.24V6C14.79,6 16.58,6.68 17.95,8.05C20.68,10.78 20.68,15.22 17.95,17.95C16.58,19.32 14.79,20 13,20C12.03,20 11.06,19.79 10.16,19.39L8.67,20.88C10,21.62 11.5,22 13,22C15.3,22 17.61,21.12 19.36,19.36C22.88,15.85 22.88,10.15 19.36,6.64Z"></path></svg>
                        </button>
                        <button v-on:click="photo2=''" class="btn btn-danger" type="button" style="position: absolute; top: 15px; right: 15px;">X</button>
                    </div>
                    <div class="d-flex flex-wrap text-center" v-else>
                        {% if logSheets.length > 0 %}
                            {% for logSheet in logSheets %}
                                <div class="log-sheets">
                                    <div class="btn p-1" v-on:click.prevent="select('{{logSheet.attachments[0]|s3_url('xlarge')}}')" class="m-2 {% if loop.index0 == 0 %}active{% endif %}">
                                        <img src="{{logSheet.attachments[0]|s3_url('medium')}}" class="img-fluid">
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="log-sheets">
                            <div class="btn p-1 text-center border position-relative" style="max-width: 200px; max-height: 200px; width: 100%; height: 100%;">
                                <label for="photo" class="font-weight-bold btn-link" style="position: absolute; left:0; top: 50%; width: 100%; transform: translateY(-50%);">Upload New</label>
                                <input v-on:change="readFile($event, 'photo', 'canvas')" style="visibility:hidden; position: absolute;" name="photo" id="photo" ref="filePhoto" type="file" class="form-control" accept="accept" />
                                <canvas id="canvas" class="" style="display: none"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
               
                <input type="hidden" name="photo" v-model="photo"> {# base64 image for uploading #}
                <input type="hidden" name="photo2" v-model="photo2"> {# s3 image already uploaded #}
                
                <div class="text-center mb-4">
                    <button class="btn btn-full-width btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-file-upload.js"></script>
<script src="{{app.url}}/js/axios.min.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VueFileUpload.mixin,
        ],
        data: {
            pending: false,
            workScheduleId: '{{attendance.workScheduleId}}',
            employee: {{employee|default([], true)|stringify|safe}},
            workSchedules: {{workSchedules|default([], true)|stringify|safe}},
            attendance: {{attendance|default({}, true)|stringify|safe}},
            attendanceTypes: {{attendanceTypes|default([], true)|stringify|safe}},
            attendanceTypesList: {{attendanceTypesList|default([], true)|stringify|safe}},
            correctionReasons: {{correctionReasons|default([], true)|stringify|safe}},
            correctionReason: '',
            logsheetNumber: '',
            photo: '',
            photo2: '',
            rotation: 0,
        },
        validations: {
            correctionReason: {
                required: window.validators.required
            },
        },
        computed: {
            type: function(){
                return this.attendance.type
            },
            rotationCss: function(){
                return 'transform: rotate(-'+this.rotation+'deg); transition: transform 100ms ease-out;'
            },
            attachmentLabel: function(){
                if(this.type === 'normal'){
                    return 'Log Sheet Photo (Log sheet date and your name must be present)'
                }  else if(this.type === 'travel'){
                    return 'Photo of Authority to Travel'
                }   else if(this.type === 'pass'){
                    return 'Photo of Pass Slip'
                } 
                return 'Attachment (If any)'
            }
        },
        methods: {
            watermark: function(){
                return 'Uploaded by ' + this.employee.firstName + ' ' + this.employee.lastName + ' on ' + moment().format('YYYY-MM-DD hh:mm:ss A');
            },
            select: function(src){
                this.photo2 = src
            },
            rotate: function(){
                var x = this.rotation;
                x += 90;
                if(x > 270){
                    x = 0;
                }
                this.rotation = x;
            },
            
            moveTimeLog: function(current, next){
                var me = this;
                var currentLog = _.get(me, 'attendance.ui.log' + current);
                var nextLog = _.get(me, 'attendance.ui.log' + next);
                if(currentLog && !nextLog){
                    me.attendance.ui['log' + next] = currentLog
                    me.attendance.ui['log' + current] = ''
                }
            },
            isHidden: function(current, next){
                var me = this;
                var currentLog = _.get(me, 'attendance.ui.log' + current);
                var nextLog = _.get(me, 'attendance.ui.log' + next);

                if(!currentLog) {
                    return 'display:none'
                } else if(nextLog) {
                    return 'display:none'
                }
            },
            formatDate: function(date, format){
                return moment(date).format(format);
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    var goodTime = true
                    var log0 = me.attendance.ui.log0
                    var log1 = me.attendance.ui.log1
                    var log2 = me.attendance.ui.log2
                    var log3 = me.attendance.ui.log3

                    if(log0 && log1){
                        if(moment(log0, 'HH:mm').format('x') > moment(log1, 'HH:mm').format('x')){
                            alert('Invalid Time. Morning In is more than Morning Out.')
                            goodTime = false
                        }
                    }
                    if(log2 && log3){
                        if(moment(log2, 'HH:mm').format('x') > moment(log3, 'HH:mm').format('x')){
                            alert('Invalid Time. Afternoon In is more than Afternoon Out.')
                            goodTime = false
                        }
                    }
                   
                    if(goodTime){
                        me.pending = true
                        me.$nextTick(function() {
                            me.$refs.form.submit();
                        });
                    }
                }
            }
        }
    });
</script>
{% endblock %}

