<p class="template">Civil Service Form No. 48</p>

<div class="text-center mb-3">
    <h1 class="mb-0">Daily Time Record</h1>
    <div class="separator mb-3">-----o0o-----</div>
    <div class="name underline">
        {{employee.firstName}} {{employee.middleName}} {{employee.lastName}} {{employee.suffix}}
    </div>
    <div class="name-under mb-3">(Name)</div>
    <table class="table-sched font-italic fz-10">
        <tr>
            <td style="width:20%">For the month of</td>
            <td colspan="3">
                <div class="underline text-left pl-3 font-weight-bold name">
                {{startDate|format_date('MMMM, YYYY')}}
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:25%" colspan="2" rowspan="2" class="align-middle">Official hours for <br>arrival and departure</td>
            <td style="width:20%" class="text-right pr-2">Regular days</td>
            <td class="text-left">
                <div class="underline pl-1 pt-1" style="white-space: pre; font-size:10px; font-family:Consolas, 'Courier New', mono">{{workScheduleWeekDays|replace('Mon,Tue,Wed,Thu,Fri: ','')}}</div>
            </td>
        </tr>
        <tr>
            <td style="width:20%" class="text-right pr-2">Saturdays</td>
            <td class="text-left">
                <div class="underline pl-1 pt-1" style="white-space: pre; font-size:10px; font-family:Consolas, 'Courier New', mono">{{workScheduleWeekEnd|replace('Sat,Sun: ','')}}</div>
            </td>
        </tr>
    </table>
</div>
<table style="width:100%" class="table table-bordered table-dtr table-sm">
    <tr>
        <th width="25%" class="text-center align-middle" rowspan="2" colspan="2">Day</th>
        <th width="25%" class="text-center" colspan="2"><div class="am-pm">A.M.</div></th>
        <th width="25%" class="text-center am-pm" colspan="2"><div class="am-pm">P.M.</div></th>
        <th width="25%" class="text-center" colspan="2">
            {% if showTotalAs === 'time' %}
            <div>Time</div>
            {% else %}
            <div>Undertime</div>
            {% endif %}
        </th>
    </tr>
    <tr class="subcols">
        <th>Arrival</th>
        <th class="pl-0 pr-0">Departure</th>
        
        <th>Arrival</th>
        <th class="pl-0 pr-0">Departure</th>

        <th>Hours</th>
        <th>Minutes</th>
    </tr>
    {% for day in days %}
    {% set attendance = day.attendance %}
    <tr class="position-relative {% if day.date === momentNow|format_date('YYYY-MM-DD') %} selected {% endif %} {% if day.dtr.undertime === true %} undertime {% endif %}">
        <td class="text-center" width="10%">{{day.day}}</td>
        <td class="text-center weekday" width="10%">{{day.weekDay}}</td>
        {% if attendance.type === 'travel'  %}
            {% if attendance.logs.length == 2 and attendance.logs[0].type === 'travel' %}
                <td class="text-center" colspan="4">
                    Travel
                </td>
            {% elif attendance.logs.length <= 4 and attendance.logs[0].type === 'travel' %}
                <td class="text-center" colspan="2">
                    Travel
                </td>
                <td class="text-center">{{day.display.inPM}}</td>
                <td class="text-center">{{day.display.outPM}}</td>
            {% elif attendance.logs.length <= 4 and attendance.logs[2].type === 'travel' %}
                <td class="text-center">{{day.display.inAM}}</td>
                <td class="text-center">{{day.display.outAM}}</td>
                <td class="text-center" colspan="2">
                    Travel
                </td>
            {% else %}
                <td class="text-center" colspan="4">
                    Travel
                </td>
            {% endif %}
        {% elif attendance.type === 'wfh'  %}
            {% if attendance.logs.length == 2 and attendance.logs[0].type === 'wfh' %}
                <td class="text-center" colspan="4">
                    Work From Home
                </td>
            {% elif attendance.logs.length <= 4 and attendance.logs[0].type === 'wfh' %}
                <td class="text-center" colspan="2">
                    Work From Home
                </td>
                <td class="text-center">{{day.display.inPM}}</td>
                <td class="text-center">{{day.display.outPM}}</td>
            {% elif attendance.logs.length <= 4 and attendance.logs[2].type === 'wfh' %}
                <td class="text-center">{{day.display.inAM}}</td>
                <td class="text-center">{{day.display.outAM}}</td>
                <td class="text-center" colspan="2">
                    Work From Home
                </td>
            {% else %}
                <td class="text-center" colspan="4">
                    Work From Home
                </td>
            {% endif %}
        {% elif (attendance.type === 'pass') %}
            <td class="text-center">{{day.display.inAM}}</td>
            <td class="text-center" colspan="2">
                Pass Slip
            </td>
            <td class="text-center">{{day.display.outPM}}</td>
        {% elif (attendance.type === 'leave') %}
            <td class="text-center" colspan="4">
                Leave
            </td>
        {% elif (day.isHoliday) %}
            <td class="text-center" colspan="4">
                Holiday
            </td>
        {% elif (attendance.type === 'normal') %}
            <td>{{day.display.inAM}}</td>
            <td>{{day.display.outAM}}</td>
            <td>{{day.display.inPM}}</td>
            <td>{{day.display.outPM}}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
        <td>
            {% if showTotalAs == 'time' %}
                {{day.time.hoursDays|default('', true)}}
            {% else %}
                {{day.undertime.hoursDays|default('', true)}}
            {% endif %}
        </td>
        <td>
            {% if showTotalAs == 'time' %}
                {{day.time.minutes|default('', true)}}
            {% else %}
                {{day.undertime.minutes|default('', true)}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    
    {% if ['none']|includes(countTimeBy) %}
        <tr>
            <td class="text-right total" colspan="6">Total</td>
            <td class="text-center" colspan="2">
                
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="text-right total" colspan="6" style="vertical-align:bottom;">Total</td>
            <td class="text-center total-num" colspan="2" style="vertical-align:bottom;">
                {% if showTotalAs == 'undertime' %}
                    {{stats.workdays.undertime.days|default(0, true)|maybePluralize('day')}}
                    {{stats.workdays.undertime.hours|default(0, true)|maybePluralize('hr')}}
                    {{stats.workdays.undertime.minutes|default(0, true)|maybePluralize('min')}}
                {% else %}
                    {{stats.workdays.time.days|default(0, true)|maybePluralize('day')}}
                    {{stats.workdays.time.hours|default(0, true)|maybePluralize('hr')}}
                    {{stats.workdays.time.minutes|default(0, true)|maybePluralize('min')}}
                {% endif %}
            </td>
        </tr>
    {% endif %}
</table>
<div class="certify p-4">
I certify on my honor that the above is a true and correct report of the hours of work performed, record of which was made daily at the time of arrival and departure from office.
</div>
<div class="underline pb-2 mb-2"></div>
<div class="font-italic pl-4 mb-2">VERIFIED as to the prescribed office hours:</div>
<div class="underline pt-4 text-center font-weight-bold name" contenteditable="true">{{inCharge}}</div>
<div class="text-center font-italic">In Charge</div>