{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">DTR <em>({{momentNow|format_date('MMMM, YYYY')}})</em></h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/e-profile/home" class="btn btn-sm btn-outline-primary">Back</a>
                <a href="/e-profile/dtr/print/{{employment._id}}?{{query|query_string}}" class="btn btn-sm btn-outline-primary">Print</a>
                <a href="/e-profile/dtr/share/{{employment._id}}?{{query|query_string}}" class="btn btn-sm btn-outline-primary">Share</a>
            </div>
        </div>
    </div>
    <div class=" mb-5">
        {% include 'parts/flash.html' %}
        <div id="vApp" v-cloak v-bind:data-pending="pending" style="max-width: 800px" class="ml-auto mr-auto" >
            <div class="text-center">
                <div class="text-center pt-3 pb-3">
                    <div class="e-profile-photo ml-auto mr-auto">
                        {% if employee.profilePhoto %}
                            <div class="actual-pic">
                                <a href="/e-profile/photo">   
                                    <img style="min-height: 100px" src="{{employee.profilePhoto|s3_url('small')}}" alt="{{employee.firstName|first}}. {{employee.lastName|first}}.">
                                </a>
                            </div>
                        {% else %}
                            <a href="/e-profile/photo">  
                                {% if employee.gender == 'F' %}
                                    <svg viewBox="0 0 24 24">
                                        <path fill="#4bb29d" d="M13.75 13C13.75 12.31 14.31 11.75 15 11.75S16.25 12.31 16.25 13 15.69 14.25 15 14.25 13.75 13.69 13.75 13M22 12V22H2V12C2 6.5 6.5 2 12 2S22 6.5 22 12M4 12C4 16.41 7.59 20 12 20S20 16.41 20 12C20 11.21 19.88 10.45 19.67 9.74C18.95 9.91 18.2 10 17.42 10C14.05 10 11.07 8.33 9.26 5.77C8.28 8.16 6.41 10.09 4.05 11.14C4 11.42 4 11.71 4 12M9 14.25C9.69 14.25 10.25 13.69 10.25 13S9.69 11.75 9 11.75 7.75 12.31 7.75 13 8.31 14.25 9 14.25Z" />
                                    </svg>
                                {% else %}
                                    <svg viewBox="0 0 24 24">
                                        <path fill="#115195" d="M9,11.75A1.25,1.25 0 0,0 7.75,13A1.25,1.25 0 0,0 9,14.25A1.25,1.25 0 0,0 10.25,13A1.25,1.25 0 0,0 9,11.75M15,11.75A1.25,1.25 0 0,0 13.75,13A1.25,1.25 0 0,0 15,14.25A1.25,1.25 0 0,0 16.25,13A1.25,1.25 0 0,0 15,11.75M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,11.71 4,11.42 4.05,11.14C6.41,10.09 8.28,8.16 9.26,5.77C11.07,8.33 14.05,10 17.42,10C18.2,10 18.95,9.91 19.67,9.74C19.88,10.45 20,11.21 20,12C20,16.41 16.41,20 12,20Z" />
                                    </svg>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <h4 class="h3 mb-3">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</h4>
                <p class="text-left mb-3"><em class="mr-2">Employment:</em> <strong>{{employment.position}}</strong></p>
                <p class="text-left mb-4 d-flex align-items-center">
                    <em class="mr-2" style="width: 130px">For the period of:</em>  
                    <strong v-if="!dateEditable">{{momentNow|format_date('MMMM')}}</strong>
                    <button v-if="!dateEditable" v-on:click="dateEditable = true" class="btn btn-sm btn-outline-success ml-2">Edit</button>

                    <select v-if="dateEditable" v-model="month" name="month" id="month" class="form-control mr-1" style="max-width: 100px">
                        <option v-for="m in months" v-bind:value="m">${m}</option>
                    </select>
                    <select v-if="dateEditable" v-model="year" name="year" id="year" class="form-control" style="max-width: 200px">
                        <option v-for="y in years" v-bind:value="y">${y}</option>
                    </select>
                    <button v-on:click="dateEditable = false" v-if="dateEditable" class="btn btn-sm btn-outline-info ml-2">Cancel</button>
                    <button v-on:click="dateChange" v-if="dateEditable" class="btn btn-sm btn-outline-success ml-1">Save</button>

                </p>
                <div class="text-left mb-4 d-flex align-items-center">
                    <em class="mr-2">Work Schedule:</em>  
                    <span v-if="!workScheduleEditable">${_.get(workSchedule, 'times')}</span>
                    <button v-if="!workScheduleEditable" v-on:click="workScheduleEdit" class="btn btn-sm btn-outline-success ml-2">Edit</button>

                    <select v-if="workScheduleEditable" v-model="workScheduleId" name="workScheduleId" id="workScheduleId" class="form-control">
                        <option value=""></option>
                        <option v-for="workSchedule in workSchedules" v-bind:value="workSchedule._id">${workSchedule.times}</option>
                    </select>
                    <button v-on:click="workScheduleEditable = false" v-if="workScheduleEditable" class="btn btn-sm btn-outline-info ml-2">Cancel</button>
                    <button v-on:click="saveSchedule" v-if="workScheduleEditable" class="btn btn-sm btn-outline-success ml-1">Save</button>

                </div>
                <div class="justify-content-center mb-4 d-flex">
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group">
                            <a onclick="return confirm('Do you want to set your attendance today to \'WFH\'?')" href="/e-profile/dtr-set/{{employment._id}}?type=wfh" class="btn btn-sm btn-primary">
                                <span>WFH</span>
                            </a>
                            <a onclick="return confirm('Do you want to set your attendance today to \'Travel\'?')" href="/e-profile/dtr-set/{{employment._id}}?type=travel" class="btn btn-sm btn-primary">
                                <span>Travel </span>
                            </a>
                            <a onclick="return confirm('Do you want to set your attendance today to \'Leave\'?')" href="/e-profile/dtr-set/{{employment._id}}?type=leave" class="btn btn-sm btn-primary">
                                <span>On Leave </span>
                            </a>
                            <a onclick="return confirm('Do you want to set your attendance today to \'Pass Slip\'?')" href="/e-profile/dtr-set/{{employment._id}}?type=pass" class="btn btn-sm btn-primary">
                                <span>Pass Slip</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-dtr">
                    <tr>
                        <th class="text-center" rowspan="2">Day</th>
                        <th class="text-center" colspan="2">AM</th>
                        <th class="text-center" colspan="2">PM</th>
                        <th class="text-center" colspan="2">
                            <select style="border:0; font-weight:bold;"  v-model="totalTimeView" name="totalTimeView" id="totalTimeView">
                                <option value="undertime">Undertime</option>
                                <option value="time">Time</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>Arrival</th>
                        <th>Departure</th>
                        
                        <th>Arrival</th>
                        <th>Departure</th>

                        <th>Hours</th>
                        <th>Minutes</th>
                    </tr>
                    <tr v-for="(dtrDay, index) in dtrDays" v-bind:class="getCssClass(dtrDay)">
                        <td class="text-center">${index + 1}</td>
                        <template v-if="_.get(dtrDay, 'attendance.type') === 'travel'">
                            <td>Travel</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                ${dispHours(dtrDay)}
                            </td>
                            <td>
                                ${dispMins(dtrDay)}
                            </td>
                        </template>
                        <template v-else-if="_.get(dtrDay, 'attendance.type') === 'wfh'">
                            <td>WFH</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                ${dispHours(dtrDay)}
                            </td>
                            <td>
                                ${dispMins(dtrDay)}
                            </td>
                        </template>
                        <template v-else-if="_.get(dtrDay, 'attendance.type') === 'leave'">
                            <td>Leave</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                ${dispHours(dtrDay)}
                            </td>
                            <td>
                                ${dispMins(dtrDay)}
                            </td>
                        </template>
                        <template v-else-if="_.get(dtrDay, 'attendance.type') === 'pass'">
                            <td>Pass Slip</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                ${dispHours(dtrDay)}
                            </td>
                            <td>
                                ${dispMins(dtrDay)}
                            </td>
                        </template>
                        <template v-else >

                            <td>
                                <div v-if="_.get(dtrDay, 'ui.editable')">
                                    <input type="time" v-model="dtrDay.ui.log0">
                                </div>
                                <div v-else>
                                    <div v-if="_.get(dtrDay, 'attendance.logs[0].dateTime')">
                                        ${formatDate(_.get(dtrDay, 'attendance.logs[0].dateTime'), 'hh:mm A')}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div v-if="_.get(dtrDay, 'ui.editable')">
                                    <input type="time" v-model="dtrDay.ui.log1">
                                </div>
                                <div v-else>
                                    <div v-if="_.get(dtrDay, 'attendance.logs[1].dateTime')">
                                        ${formatDate(_.get(dtrDay, 'attendance.logs[1].dateTime'), 'hh:mm A')}
                                    </div>

                                    <div v-if="isTimeOutShown(dtrDay)">
                                        <button v-on:click="logTime(0)" class="btn btn-sm btn-light">Time-Out</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div v-if="_.get(dtrDay, 'ui.editable')">
                                    <input type="time" v-model="dtrDay.ui.log2">
                                </div>
                                <div v-else>
                                    <div v-if="_.get(dtrDay, 'attendance.logs[2].dateTime')">
                                        ${formatDate(_.get(dtrDay, 'attendance.logs[2].dateTime'), 'hh:mm A')}
                                    </div>
                                    <div v-if="isTimeInShown(dtrDay)">
                                        <button v-on:click="logTime(1)" class="btn btn-sm btn-light">Time-In</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div v-if="_.get(dtrDay, 'ui.editable')">
                                    <input type="time" v-model="dtrDay.ui.log3">
                                </div>
                                <div v-else>
                                    <div v-if="_.get(dtrDay, 'attendance.logs[3].dateTime')">
                                        ${formatDate(_.get(dtrDay, 'attendance.logs[3].dateTime'), 'hh:mm A')}
                                    </div>
                                </div>
                            </td>
                            <td>
                                ${dispHours(dtrDay)}
                            </td>
                            <td>
                                ${dispMins(dtrDay)}
                            </td>
                        </template>
                    </tr>
                </table>
            </div>
            <div class="text-center">
                {# <a href="/e-profile/dtr-qr" class="mt-3 btn btn-primary">Scan QR Code To Log Attendance</a> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/axios.min.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
            workScheduleEditable: false,
            totalTimeViewEditable: false,
            dateEditable: false,
            workScheduleId: '{{employment.workScheduleId}}',
            workSchedules: {{workSchedules|default([], true)|stringify|safe}},
            dtrDays: {{dtrDays|default([], true)|stringify|safe}},
            totalTimeView: 'undertime',
            month: '{{momentNow|format_date("MMM")}}',
            year: '{{momentNow|format_date("YYYY")}}',
            months: {{months|default([], true)|stringify|safe}},
            years: {{years|default([], true)|stringify|safe}},
        },
        validations: {},
        computed: {
            workSchedule: function(){
                var me = this;
                return _.find(me.workSchedules, function(o){
                    return me.workScheduleId === o._id
                })
            },
        },
        methods: {
            dateChange: function(){
                window.location.replace('{{baseUrl}}' + '?month=' + this.month + '&year=' + this.year);
            },
            isTimeOutShown: function(dtrDay) {
                return _.get(dtrDay, 'attendance.logs[0]') && !_.get(dtrDay, 'attendance.logs[1]')&& this.isCurrentDay(dtrDay);
            },
            isTimeInShown: function(dtrDay) {
                return _.get(dtrDay, 'attendance.logs[1]') && !_.get(dtrDay, 'attendance.logs[2]')&& this.isCurrentDay(dtrDay);
            },
            dispHours: function(dtrDay) {
                var me = this;
                var dtr = _.get(dtrDay, 'dtr');
                var logs = _.get(dtrDay, 'attendance.logs', []);
                var attendanceType = _.get(dtrDay, 'attendance.type');
                var res = 0;
                if (logs.length > 1 || ['wfh', 'leave', 'travel', 'pass'].includes(attendanceType)){
                    if (me.totalTimeView == 'time') {
                        res = _.get(dtr, 'renderedDays', 0) * 8 + _.get(dtr, 'renderedHours', 0);
                    } else {
                        res = _.get(dtr, 'underDays', 0) * 8 + _.get(dtr, 'underHours', 0);
                    }
                }
                if (res === 0) return ''
                return res
            },
            dispMins: function(dtrDay) {
                var me = this;
                var dtr = _.get(dtrDay, 'dtr');
                var logs = _.get(dtrDay, 'attendance.logs', []);
                var attendanceType = _.get(dtrDay, 'attendance.type');
                var res = 0;
                if (logs.length > 1 || ['wfh', 'leave', 'travel', 'pass'].includes(attendanceType)){
                    if (me.totalTimeView == 'time') {
                        res = _.get(dtr, 'renderedMinutes', 0);
                    } else {
                        res = _.get(dtr, 'underMinutes', 0);
                    }
                }
                if (res === 0) return ''
                return res
            },
            isCurrentDay: function(dtrDay){
                return _.get(dtrDay, 'date') === moment().format('YYYY-MM-DD');
            },
            formatDate: function(date, format){
                return moment(date).format(format);
            },
            getCssClass: function(dtrDay){
                var me = this;
                var dtrDayClass = [];
                if(me.isCurrentDay(dtrDay)){
                    dtrDayClass.push('selected');
                }
                if(_.get(dtrDay, 'dtr.undertime', false)){
                    dtrDayClass.push('undertime');
                }

                return dtrDayClass.join(' ');
            },
            workScheduleEdit: function(){
                this.workScheduleEditable = true;
            },
            totalTimeViewEdit: function(){
                this.totalTimeViewEditable = true;
            },
            saveSchedule: function(){
                var me = this;

                me.pending = true;
                var body = {
                    workScheduleId: me.workScheduleId
                };
                axios.post('/e-profile/dtr/{{employment._id}}/change-sched', body, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function (response) {
                    var data = _.get(response, 'data')
                    console.log(data)
                    me.dtrDays = data
                    
                }).catch(function (error) {
                    if (error.response) {
                        // Request made, server responded with a status code outside of 2xx
                        // console.error(error.response.status)
                        var err = error.response.data;
                       console.error(err)
                       alert(err.msg)

                    } else if (error.request) {
                        var msg = 'The request was made but no response was received'
                        console.error(msg);

                    } else {
                        var msg = 'Something happened in setting up the request that triggered an Error.'
                        console.error(msg, error.message);

                    }
                }).then(function () {
                    // always executed
                    me.pending = false;
                    me.workScheduleEditable = false;
                })
            },
            logTime: function(logType){
                var me = this;

                var msg = 'Are you sure you want to time-out now?'
                if(logType==1){
                    msg = 'Are you sure you want to time-in now?'
                }
                if(!confirm(msg)){
                    return ;
                }

                me.pending = true;
                var body = {

                };
                axios.post('/e-profile/dtr/{{employment._id}}/logs', body, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function (response) {
                    var data = _.get(response, 'data')
                    console.log(data)
                    me.dtrDays = data
                    
                }).catch(function (error) {
                    if (error.response) {
                        // Request made, server responded with a status code outside of 2xx
                        // console.error(error.response.status)
                        var err = error.response.data;
                       console.error(err)
                       alert(err.msg)

                    } else if (error.request) {
                        var msg = 'The request was made but no response was received'
                        console.error(msg);

                    } else {
                        var msg = 'Something happened in setting up the request that triggered an Error.'
                        console.error(msg, error.message);

                    }
                }).then(function () {
                    // always executed
                    me.pending = false;
                })
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

