{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1 class="h3 mb-0">Help</h1>
            <p class="mb-3">Browse help topics</p>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {# <a href="/e-profile/dtr" class="btn btn-sm btn-outline-primary">Back</a> #}
            </div>
        </div>
    </div>

    <div class=" mb-5">
        {% include 'parts/flash.html' %}
        <div class="d-flex align-items-start justify-content-center justify-content-md-start flex-wrap">
            <div class="card m-2" style="max-width: 250px">
                <img src="/images/help/onboarding.jpg" class="img-fluid border border-success rounded-sm m-3" alt="...">
                <div class="card-body">
                    <p class="card-text">Short intro to HRIS.</p>
                    <div class="text-center">
                        <a href="/help/onboard" class="btn btn-success">Watch</a>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 250px">
                <img src="/images/help/leaveform.jpg" class="img-fluid border border-success rounded-sm m-3" alt="...">
                <div class="card-body">
                    <p class="card-text">Generate a Leave Form?</p>
                    <div class="text-center">
                        <a href="/help/leaveform" class="btn btn-success">Watch</a>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 250px">
                <img src="/images/help/leaveform.jpg" class="img-fluid border border-success rounded-sm m-3" alt="...">
                <div class="card-body">
                    <p class="card-text">Change Email?</p>
                    <div class="text-center">
                        <a href="/help/email" class="btn btn-success">Watch</a>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 250px">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/yaH0-MCtqB4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">How to Apply for DTR Correction?</h5>
                    <p class="card-text"></p>
                    <div class="text-center">
                        <a href="https://www.youtube.com/watch?v=yaH0-MCtqB4" class="btn btn-success">Watch</a>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 250px">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/eyE3wXZ2qYU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">How to Apply for Authority to Travel Online?</h5>
                    <p class="card-text"></p>
                    <div class="text-center">
                        <a href="https://www.youtube.com/watch?v=eyE3wXZ2qYU" class="btn btn-success">Watch</a>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 250px">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Vfc5qiymp7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">How to Log Your Flag Raising Attendance Online?</h5>
                    <p class="card-text"></p>
                    <div class="text-center">
                        <a href="https://youtu.be/Vfc5qiymp7s" class="btn btn-success">Watch</a>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="max-width: 250px">
                <img src="/images/help/timezone-correction.jpg" class="img-fluid border border-success rounded-sm m-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">How to Correct Timezone?</h5>
                    <p class="card-text">Time displays incorrectly on another computer or laptop compared to a phone.</p>
                    <div class="text-center">
                        <a href="/help/timezone-correction" class="btn btn-success">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

