{% extends "document.html" %}

{% block body %}
<div class="col-md-12" style="background: #fff">
    <div class=" mb-5">
        <div style="max-width:500px" class=" ml-auto mr-auto" >
            <div class="text-center">
                <div class="text-center pt-3 pb-3">
                    <div class="e-profile-photo ml-auto mr-auto">
                        {% if employee.profilePhoto %}
                            <div class="actual-pic">
                                <a href="/e-profile/photo">   
                                    <img style="min-height: 100px" src="{{employee.profilePhoto|s3_url('small')}}" alt="{{employee.firstName|first}}. {{employee.lastName|first}}.">
                                </a>
                            </div>
                        {% else %}
                            <a href="/e-profile/photo">  
                                {% if employee.gender == 'F' %}
                                    <svg viewBox="0 0 24 24">
                                        <path fill="#4bb29d" d="M13.75 13C13.75 12.31 14.31 11.75 15 11.75S16.25 12.31 16.25 13 15.69 14.25 15 14.25 13.75 13.69 13.75 13M22 12V22H2V12C2 6.5 6.5 2 12 2S22 6.5 22 12M4 12C4 16.41 7.59 20 12 20S20 16.41 20 12C20 11.21 19.88 10.45 19.67 9.74C18.95 9.91 18.2 10 17.42 10C14.05 10 11.07 8.33 9.26 5.77C8.28 8.16 6.41 10.09 4.05 11.14C4 11.42 4 11.71 4 12M9 14.25C9.69 14.25 10.25 13.69 10.25 13S9.69 11.75 9 11.75 7.75 12.31 7.75 13 8.31 14.25 9 14.25Z" />
                                    </svg>
                                {% else %}
                                    <svg viewBox="0 0 24 24">
                                        <path fill="#115195" d="M9,11.75A1.25,1.25 0 0,0 7.75,13A1.25,1.25 0 0,0 9,14.25A1.25,1.25 0 0,0 10.25,13A1.25,1.25 0 0,0 9,11.75M15,11.75A1.25,1.25 0 0,0 13.75,13A1.25,1.25 0 0,0 15,14.25A1.25,1.25 0 0,0 16.25,13A1.25,1.25 0 0,0 15,11.75M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,11.71 4,11.42 4.05,11.14C6.41,10.09 8.28,8.16 9.26,5.77C11.07,8.33 14.05,10 17.42,10C18.2,10 18.95,9.91 19.67,9.74C19.88,10.45 20,11.21 20,12C20,16.41 16.41,20 12,20Z" />
                                    </svg>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <h4 class="h3 mb-3">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</h4>
                
                <div id="carouselQr" style="background: #fff; padding: 15px 0;" class="carousel slide" data-wrap="false" data-interval="false" data-ride="carousel">
                    {% if carouselItems.length > 1 %}
                    <ol class="carousel-indicators">
                        {% for item in carouselItems %}
                        <li data-target="#carouselQr" data-slide-to="{{loop.index0}}" class="{% if loop.index === 1 %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                    <div class="carousel-inner">
                        {% for item in carouselItems %}
                            <div class="carousel-item {% if loop.index === 1 %}active{% endif %}">
                                <div class="text-center pb-4">
                                    <a href="/e-profile/dtr/{{item.employment._id}}" class="mt-3 btn btn-primary">
                                        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M9,10H7V12H9V10M13,10H11V12H13V10M17,10H15V12H17V10M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V8H19V19Z" />
                                        </svg>
                                        <span>View DTR</span>
                                    </a>
                                    <a href="/e-profile/wfh/{{item.employment._id}}" class="mt-3 btn btn-primary">
                                        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M9,13H15V19H18V10L12,5.5L6,10V19H9V13M4,21V9L12,3L20,9V21H4Z" />
                                        </svg>
                                        <span>WFH</span>
                                    </a>
                                    {# <a href="/e-profile/travel/{{item.employment._id}}" class="mt-3 btn btn-primary">
                                        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M3 13.5L11 2.03V13.5H3M12.5 13.5C13.85 9.75 13.67 4.71 12.5 1C17.26 2.54 20.9 8.4 20.96 13.5H12.5M21.1 17.08C20.69 17.72 20.21 18.27 19.65 18.74C19 18.45 18.42 18 17.96 17.5C16.47 19.43 13.46 19.43 11.97 17.5C10.5 19.43 7.47 19.43 6 17.5C5.5 18 4.95 18.45 4.3 18.74C3.16 17.8 2.3 16.46 2 15H21.94C21.78 15.75 21.5 16.44 21.1 17.08M20.96 23C19.9 23 18.9 22.75 17.96 22.25C16.12 23.25 13.81 23.25 11.97 22.25C10.13 23.25 7.82 23.25 6 22.25C4.77 22.94 3.36 23.05 2 23V21C3.41 21.05 4.77 20.9 6 20C7.74 21.25 10.21 21.25 11.97 20C13.74 21.25 16.2 21.25 17.96 20C19.17 20.9 20.54 21.05 21.94 21V23H20.96Z" />
                                        </svg>
                                        <span>On Travel</span>
                                    </a> #}
                                </div>
                                <p class="h5 mb-4">Employment QR Code</p>
                                <img style="max-width: 100%" src="data:image/png;base64, {{item.data|safe}}" alt="QR">
                                <p class="h5 pt-2 pb-3">{{item.title}}</p>
                                
                            </div>
                        {% endfor %}
                    </div>
                    {% if carouselItems.length > 1 %}
                        <a class="carousel-control-prev" href="#carouselQr" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselQr" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            name: '',
            type: 1,
        },
        validations: {
            
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

