{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Office Issuances (Memo)</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {# <a href="/e-profile/dtr" class="btn btn-sm btn-outline-primary">Back</a> #}
            </div>
        </div>
    </div>

    {% include 'parts/flash.html' %}
    {% if memos.length <= 0 %}
        <p>No memo found.</p>
    {% else %}
        <div class="d-flex justify-content-end">
            <div class=" pb-3">
                {% set url = '/memo/all' %}
                {% include 'parts/form-per-page.html' %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="15%">
                            {% set thId = 'number' %}
                            {% set thLabel = 'Memo No.' %}
                            {% include 'parts/sorted-th.html' %}
                            {% set thLabel = '' %}
                        </th>
                        <th>
                            {% set thId = 'subject' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th width="15%">
                            {% set thId = 'date' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for memo in memos %}
                    <tr>
                        <td>{{memo.number}}</td>
                        <td><a href="/e-profile/memo/{{memo._id}}">{{memo.subject}}</a></td>
                        <td>{{memo.date|format_date('MMM DD, YYYY')}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
            </div>
            <div class="col-md-6 text-center text-md-right">
                {% include "parts/pagination.html" %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

