<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e-profile\/pds1/])}}" href="/e-profile/pds1">C1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e-profile\/pds2/])}}" href="/e-profile/pds2">C2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e-profile\/pds3/])}}" href="/e-profile/pds3">C3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e-profile\/pds4/])}}" href="/e-profile/pds4">C4</a>
        </li>
    </ul>
</div>