{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Personal Data Sheet</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {# <a href="/e-profile/dtr" class="btn btn-sm btn-outline-primary">Back</a> #}
            </div>
        </div>
    </div>

    <div class=" mb-5">
        {% include 'parts/flash.html' %}
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/e-profile/pds1" method="POST" class="form-default">
            <h2 class="h5 mb-4">I. Personal Information</h2>
            <div class="form-row">
                <div class="col-md-4">
                    {% set name = 'lastName' %}
                    {% include 'parts/form-group-text.html' %}
                </div>
                <div class="col-md-4">
                    {% set name = 'firstName' %}
                    {% include 'parts/form-group-text.html' %}
                </div>
                <div class="col-md-2">
                    {% set name = 'middleName' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
                <div class="col-md-2">
                    {% set name = 'suffix' %}
                    {% set label = 'Extension (Jr.)' %}
                    {% set options = suffixes|to_options|safe %}
                    {% include 'parts/form-group-select.html' %}
                    {% set label = '' %}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3">
                    {% set name = 'birthDate' %}
                    {% include 'parts/form-group-date.html' %}
                </div>
                <div class="col-md-5">
                    {% set name = 'birthPlace' %}
                    {% set label = 'Place of Birth' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    {% set name = 'gender' %}
                    {% set options = [{value:'', text:''}, {value:'M', text:'Male'}, {value:'F', text:'Female'}] %}
                    {% include 'parts/form-group-select.html' %}
                </div>
                <div class="col-md-2">
                    {% set name = 'civilStatus' %}
                    {% set options = [{value:'', text:''}, {value:'Single', text:'Single'}, {value:'Married', text:'Married'}, {value:'Divorced', text:'Divorced'}, {value:'Separated', text:'Separated'}, {value:'Widowed', text:'Widowed'}] %}
                    {% include 'parts/form-group-select.html' %}
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-4">
                    <label for="heightFeet">Height</label>
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            {% set name = 'heightFeet' %}
                            {% set options = [{value:3, text:'3 ft'}, {value:4, text:'4 ft'}, {value:5, text:'5 ft'}, {value:6, text:'6 ft'}, {value:7, text:'7 ft'}] %}
                            <div>
                                {% include 'parts/form-select.html' %}
                                <small class="invalid-feedback">${getError('{{name}}')}</small>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            {% set name = 'heightInches' %}
                            {% set options = [{value:0, text:''}, {value:1, text:'1 inch'}, {value:2, text:'2 inches'}, {value:3, text:'3 inches'}, {value:4, text:'4 inches'}, {value:'5', text:'5 inches'}, {value:'6', text:'6 inches'}, {value:'7', text:'7 inches'}, {value:'8', text:'8 inches'}, {value:'9', text:'9 inches'}, {value:10, text:'10 inches'}, {value:11, text:'11 inches'}] %}
                            <div>
                                {% include 'parts/form-select.html' %}
                                <small class="invalid-feedback">${getError('{{name}}')}</small>
                            </div>
                            {% set label = '' %}
                            <input type="hidden" name="height" v-model="height">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {% set name = 'weight' %}
                    {% set label = 'Weight (kg)' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
                <div class="col-md-4">
                    {% set name = 'bloodType' %}
                    {% set label = 'Blood Type' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    {% set name = 'gsis' %}
                    {% set label = 'GSIS ID No.' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
                <div class="col-md-6">
                    {% set name = 'sss' %}
                    {% set label = 'SSS No.' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
            </div>
           
            <div class="form-row">
                <div class="col-md-6">
                    {% set name = 'philHealth' %}
                    {% set label = 'PhilHealth No.' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
                <div class="col-md-6">
                    {% set name = 'tin' %}
                    {% set label = 'TIN' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-6">
                    {% set name = 'pagibig' %}
                    {% set label = 'PAG-IBIG ID No.' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
                <div class="col-md-6">
                    {% set name = 'agencyEmployeeNumber' %}
                    {% set label = 'Agency Employee No.' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
            </div>
            <div class="form-group focusable" tabindex="0">
                <h2 class="h5 mb-4">Citizenship</h2>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="citizenship" name="citizenship[]" value="filipino" id="citizenship-fil">
                            <label class="form-check-label" for="citizenship-fil">
                                Filipino
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="citizenship" name="citizenship[]" value="dual" id="citizenship-dual">
                            <label class="form-check-label" for="citizenship-dual">
                                Dual Citizenship
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3" v-if="citizenship.includes('dual')">
                        {% set name = 'citizenshipCountry' %}
                        {% set label = 'Country' %}
                        {# {% set options = countries|to_options %} #}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-check pl-5">
                            <input class="form-check-input" type="checkbox" v-model="citizenshipSource" name="citizenshipSource[]" value="birth" id="citizenship-src-birth">
                            <label class="form-check-label" for="citizenship-src-birth">
                                by Birth
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check pl-5">
                            <input class="form-check-input" type="checkbox" v-model="citizenshipSource" name="citizenshipSource[]" value="naturalization" id="citizenship-src-natural">
                            <label class="form-check-label" for="citizenship-src-natural">
                                by Naturalization
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            {# Address #}
            <div class="form-group focusable" tabindex="0">
                <h2 class="h5">Permanent Address</h2>
                <p class="mb-4"><em>(The one found in your primary IDs)</em></p>
                <div class="form-group form-row">
                    <div class="col-md-4 form-group">
                        <label for="unit0">House/Block/Lot No.</label>
                        <div>
                            {% set name = 'unit0' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('unit0')}</small>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="street0">Street</label>
                        <div>
                            {% set name = 'street0' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('street0')}</small>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="village0">Subdivision/Village</label>
                        <div>
                            {% set name = 'village0' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('village0')}</small>
                        </div>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-8 form-group">
                        <label for="psgc0">Barangay, Municipality, Province <a data-toggle="modal" data-target="#modal-help" href="#" class="btn btn-info btn-help">?</a></label>
                        <div>
                            <autocomplete v-model="psgc0"
                                name="psgc0"
                                initial-value="{{employee.addresses[0].psgc}}"
                                initial-display="{{employee.addresses[0].full}}"
                                placeholder="Type your barangay and city/municipality..."
                                :source="dataSource"
                                input-class="form-control"
                                :request-headers="headers"
                                v-on:selected="onSelect"
                                >
                            </autocomplete>
                            <small class="invalid-feedback">${getError('psgc0')}</small>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="zipCode0">Zip Code</label>
                        <div>
                            {% set name = 'zipCode0' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('zipCode0')}</small>
                        </div>
                    </div>
                </div>
            </div>

            {# Address #}
            <div class="form-group focusable" tabindex="0">
                <h2 class="h5">Present Address</h2>
                <p class="mb-4"><em>(The one where you currently reside. Ignore if the same as Permanent Address.)</em></p>
                <div class="form-group form-row">
                    <div class="col-md-4 form-group">
                        <label for="unit1">House/Block/Lot No.</label>
                        <div>
                            {% set name = 'unit1' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('unit1')}</small>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="street1">Street</label>
                        <div>
                            {% set name = 'street1' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('street1')}</small>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="village1">Subdivision/Village</label>
                        <div>
                            {% set name = 'village1' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('village1')}</small>
                        </div>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-8 form-group">
                        <label for="psgc1">Barangay, Municipality, Province <a data-toggle="modal" data-target="#modal-help" href="#" class="btn btn-info btn-help">?</a></label>
                        <div>
                            <autocomplete v-model="psgc1"
                                name="psgc1"
                                initial-value="{{employee.addresses[1].psgc}}"
                                initial-display="{{employee.addresses[1].full}}"
                                placeholder="Type your barangay and city/municipality..."
                                :source="dataSource"
                                input-class="form-control"
                                :request-headers="headers"
                                v-on:selected="onSelect"
                                >
                            </autocomplete>
                            <small class="invalid-feedback">${getError('psgc1')}</small>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="zipCode1">Zip Code</label>
                        <div>
                            {% set name = 'zipCode1' %}
                            {% include 'parts/form-input-text.html' %}
                            <small class="invalid-feedback">${getError('zipCode1')}</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group form-row">
                <div class="col-md-4">
                    {% set name = 'mobileNumber' %}
                    {% set label = 'Mobile No.' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
                <div class="col-md-4">
                    {% set name = 'email' %}
                    {% set label = 'Email' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
                <div class="col-md-4">
                    {% set name = 'phoneNumber' %}
                    {% set label = 'Tel. No.' %}
                    {% include 'parts/form-group-text.html' %}
                    {% set label = '' %}
                </div>
            </div>

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Save Data</button>
                </div>
            </div>

           

        </form>
    </div>
</div>
{% include 'parts/modal-help.html' %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VuePhAddress.mixin
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        computed: {
            height: {
                get: function () {
                    return parseFloat(((parseFloat(this.heightFeet) * 12 + parseFloat(this.heightInches)) / 39.37).toFixed(2));
                },
                set: function (newValue) {
                    var inches = Math.round(parseFloat(this.height) *  39.37);
                    this.heightFeet = Math.floor(inches / 12);
                    this.heightInches= Math.floor(inches %  12);
                }
            }
        },
        data: {
            firstName: '{{employee.firstName}}',
            middleName: '{{employee.middleName}}',
            lastName: '{{employee.lastName}}',
            suffix: '{{employee.suffix}}',
            birthDate: '{{employee.birthDate|default('', true)|format_date("YYYY-MM-DD")}}',
            gender: '{{employee.gender}}',
            civilStatus: '{{employee.civilStatus}}',
            // employee.personal
            birthPlace: '{{employee.personal.birthPlace}}',
            heightFeet: 0,
            heightInches: 0,
            weight: '{{employee.personal.weight}}',
            bloodType: '{{employee.personal.bloodType}}',
            gsis: '{{employee.personal.gsis}}',
            sss: '{{employee.personal.sss}}',
            philHealth: '{{employee.personal.philHealth}}',
            tin: '{{employee.personal.tin}}',
            pagibig: '{{employee.personal.pagibig}}',
            agencyEmployeeNumber: '{{employee.personal.agencyEmployeeNumber}}',
            citizenship: {{employee.personal.citizenship|default([], true)|stringify|safe|default([], true)}},
            citizenshipCountry: '{{employee.personal.citizenshipCountry}}',
            citizenshipSource: {{employee.personal.citizenshipSource|default([], true)|stringify|safe}},

            mobileNumber: '{{employee.mobileNumber}}',
            phoneNumber: '{{employee.phoneNumber}}',
            email: '{{employee.email}}',

            psgc0: '{{employee.addresses[0].psgc}}',
            unit0: '{{employee.addresses[0].unit}}',
            street0: '{{employee.addresses[0].street}}',
            village0: '{{employee.addresses[0].village}}',
            zipCode0: '{{employee.addresses[0].zipCode}}',

            psgc1: '{{employee.addresses[1].psgc}}',
            unit1: '{{employee.addresses[1].unit}}',
            street1: '{{employee.addresses[1].street}}',
            village1: '{{employee.addresses[1].village}}',
            zipCode1: '{{employee.addresses[1].zipCode}}',

        },
        mounted: function(){
            var inches = Math.round(parseFloat({{employee.personal.height|default(0, true)}}) *  39.37)
            this.heightFeet = Math.floor(inches / 12)
            this.heightInches= Math.floor(inches %  12)
        },
        validations: {
            lastName: {
                required: window.validators.required
            },
            middleName: {
                required: window.validators.required
            },
            firstName: {
                required: window.validators.required
            },
            birthDate: {
                required: window.validators.required
            },
            gender: {
                required: window.validators.required
            },
            civilStatus: {
                required: window.validators.required
            },
            
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

