{% extends "document.html" %}

{% block body %}
<div class="col-md-12">

    {% include 'e-profile/account-header.html' %}
    {% include 'e-profile/account-tabs.html' %}
    
    <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">

        {% include 'parts/flash.html' %}

        <div class="d-flex justify-content-end">
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a href="/e-profile/webcam" class="btn btn-sm btn-outline-primary">Use Webcam</a>
                </div>
            </div>
        </div>

        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/e-profile/photo" method="POST" enctype="multipart/form-data" class="form-default">
            <div class="text-center mb-3">
                {% if employee.profilePhoto %}
                    <img src="{{employee.profilePhoto|s3_url('medium')}}" alt="">
                    <div>
                        <a onclick="return confirm('Delete profile photo?')" href="/e-profile/photo/delete" class="text-danger">Delete</a>
                    </div>
                {% endif %}
            </div>
            
            {% set name = 'photo' %}
            {% set label = 'Select Profile Photo' %}
            {% include 'parts/form-group-file.html' %}

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Upload Profile Photo</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            photo: '',
        },
        validations: {
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

