{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Photo</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/e-profile/home" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 ml-auto mr-auto">
        {% include 'parts/flash.html' %}
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/e-profile/photo" method="POST" enctype="multipart/form-data" class="form-default">
            <div class="text-center mb-3">
                {% if employee.profilePhoto %}
                <img src="{{employee.profilePhoto|s3_url('medium')}}" alt="">
                {% endif %}
            </div>
            
            {% set name = 'photo' %}
            {% set label = 'Select Profile Photo' %}
            {% include 'parts/form-group-file.html' %}

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <a style="float:right" href="/e-profile/photo/delete" class="text-danger">Delete</a>
                    <button class="btn btn-primary">Update Profile Photo</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            photo: '',
        },
        validations: {
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

