{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="">
            <h1 class="h3">Attendance - Work From Home</h1>
            <p><em>({{momentNow|format_date('MMMM D, YYYY')}})</em></p>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/e-profile/home" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class=" mb-5">
        <div style="" class=" ml-auto mr-auto" >
            <div class="text-center">
                <div class="text-center pt-3 pb-3">
                    <div class="e-profile-photo ml-auto mr-auto">
                        {% if employee.profilePhoto %}
                            <div class="actual-pic">
                                <a href="/e-profile/photo">   
                                    <img style="min-height: 100px" src="{{employee.profilePhoto|s3_url('small')}}" alt="{{employee.firstName|first}}. {{employee.lastName|first}}.">
                                </a>
                            </div>
                        {% else %}
                            <a href="/e-profile/photo">  
                                {% if employee.gender == 'F' %}
                                    <svg viewBox="0 0 24 24">
                                        <path fill="#4bb29d" d="M13.75 13C13.75 12.31 14.31 11.75 15 11.75S16.25 12.31 16.25 13 15.69 14.25 15 14.25 13.75 13.69 13.75 13M22 12V22H2V12C2 6.5 6.5 2 12 2S22 6.5 22 12M4 12C4 16.41 7.59 20 12 20S20 16.41 20 12C20 11.21 19.88 10.45 19.67 9.74C18.95 9.91 18.2 10 17.42 10C14.05 10 11.07 8.33 9.26 5.77C8.28 8.16 6.41 10.09 4.05 11.14C4 11.42 4 11.71 4 12M9 14.25C9.69 14.25 10.25 13.69 10.25 13S9.69 11.75 9 11.75 7.75 12.31 7.75 13 8.31 14.25 9 14.25Z" />
                                    </svg>
                                {% else %}
                                    <svg viewBox="0 0 24 24">
                                        <path fill="#115195" d="M9,11.75A1.25,1.25 0 0,0 7.75,13A1.25,1.25 0 0,0 9,14.25A1.25,1.25 0 0,0 10.25,13A1.25,1.25 0 0,0 9,11.75M15,11.75A1.25,1.25 0 0,0 13.75,13A1.25,1.25 0 0,0 15,14.25A1.25,1.25 0 0,0 16.25,13A1.25,1.25 0 0,0 15,11.75M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,11.71 4,11.42 4.05,11.14C6.41,10.09 8.28,8.16 9.26,5.77C11.07,8.33 14.05,10 17.42,10C18.2,10 18.95,9.91 19.67,9.74C19.88,10.45 20,11.21 20,12C20,16.41 16.41,20 12,20Z" />
                                    </svg>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <h4 class="h3 mb-3">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</h4>
                
                <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/e-profile/wfh/{{employment._id}}" method="POST" class="form-default text-left">
                    <h2 class="h5 mb-4"></h2>
                    {# Accomplishments #}
                    <div class="form-group focusable" tabindex="0">
                        <h2 class="h5">Accomplishment Report</h2>
                        <p class="mb-4"><em>List down all work activities at home.</em></p>
                        <div v-for="(accomplishment, index) in accomplishments">
                            <hr v-if="index > 0">
                            <div class="text-right mb-2">
                                <button v-on:click="deleteAccomplishment(index)" type="button" class="btn btn-danger btn-sm">X - Delete</button>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    {% set name = "'accomplishments[' + index + '][activity]'"|safe %}
                                    {% set vModel = 'accomplishment.activity' %}
                                    {% set label = 'Functional Activity' %}
                                    {% include 'parts/form-group-textarea-vue.html' %}
                                    {% set label = '' %}
                                </div>
                                <div class="col-md-3">
                                    {% set name = "'accomplishments[' + index + '][output]'"|safe %}
                                    {% set vModel = 'accomplishment.output' %}
                                    {% set label = 'Output' %}
                                    {% include 'parts/form-group-textarea-vue.html' %}
                                    {% set label = '' %}
                                </div>
                                <div class="col-md-2">
                                    {% set name = "'accomplishments[' + index + '][performanceIndicator]'"|safe %}
                                    {% set vModel = 'accomplishment.performanceIndicator' %}
                                    {% set label = 'Performance Indicator' %}
                                    {% include 'parts/form-group-textarea-vue.html' %}
                                    {% set label = '' %}
                                </div>
                                <div class="col-md-2">
                                    {% set name = "'accomplishments[' + index + '][operationalDefinition]'"|safe %}
                                    {% set vModel = 'accomplishment.operationalDefinition' %}
                                    {% set label = 'Operational Definition' %}
                                    {% include 'parts/form-group-textarea-vue.html' %}
                                    {% set label = '' %}
                                </div>
                                <div class="col-md-2">
                                    {% set name = "'accomplishments[' + index + '][hours]'"|safe %}
                                    {% set vModel = 'accomplishment.hours' %}
                                    {% set label = 'Number of Hours' %}
                                    {% include 'parts/form-group-number-vue.html' %}
                                    {% set label = '' %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" v-bind:disabled="disabled" v-on:click.prevent="addAccomplishment" class="btn btn-sm btn-primary">Add Activity</button>
                        </div> 
                    </div>
                    <hr>
                    <div class="form-row pt-3 pb-3">
                        <div class="col-md-12">
                            <button v-if="accomplishments.length > 0" type="submit" name="save" value="save" class="btn btn-primary">Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            accomplishments:{{accomplishments|default([], true)|stringify|safe}},
        },
        computed: {
            disabled: function(){
                return (this.totalHours >= 8)
            },
            totalHours: function(){
                var hours = _.map(this.accomplishments, function(o){
                    var num = parseFloat(o.hours)
                    if(isNaN(num)){
                        num = 0
                    }
                    return num
                })
                return _.reduce(hours, function (accum, next) {
                    return accum + next
                }, 0)
            },
            hasBlanks: function(){
                var b = false 
                _.each(this.accomplishments, function (accomplishment) {
                    _.each(accomplishment, function (prop) {
                        if(!prop){
                            b = true 
                            return 
                        }
                    })
                })
                return b
            }
        },
        validations: {
           
        },
        methods: {
            addAccomplishment: function(){
                if(this.totalHours >= 8){
                    alert('Max working hours reached. Please reduce time on other activities to continue.');
                    return;
                }
                this.accomplishments.push({
                    activity: '',
                    output: '',
                    performanceIndicator: '',
                    hours: '',
                    operationalDefinition: '',
                })
            },
            deleteAccomplishment: function(start){
                this.$delete(this.accomplishments, start)
            },
            onSubmit: function(){
                var me = this;
                if(me.totalHours != 8){
                    alert('Total hours must be 8 hours.');
                    return;
                }
                if(me.hasBlanks){
                    alert('All fields must be filled-in.');
                    return;
                }
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

