{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3 mb-3 border-bottom">
        <h1 class="h5 mb-0"><a href="/e/document/all">Documents</a> &raquo; {{docType}}</h1>
        <div class="btn-group">
            <a href="/e/document/create?docType={{docType}}" class="btn btn-sm btn-success">Upload</a>
        </div>
    </div>

    <div class="tab-content p-3 mb-5">
        {% include 'parts/flash.html' %}
        <div class="bg-white">
            {%- if employee.documents.length <= 0 %}
                <p>No files.</p> 
            {% else %}
                <table class="table table-sm table-striped border mb-0">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Document Type</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    {% for document in employee.documents %}
                        <tr>
                            <td>
                                <a href="{{document.key|view_url}}">
                                    <img src="{{document.key|s3_url('small')}}" alt="">
                                </a>
                            </td>
                            <td>
                                {{document.name}}
                            </td>
                            <td>
                                {{document.docType}}
                            </td>
                            <td>
                                {% if document.date %}
                                    {{document.date|format_date('MMM DD, YYYY')}}
                                {% else %} 
                                    --
                                {% endif %}
                            </td>
                            <td>
                                <div class="text-right">
                                    <a href="{{document.key|s3_url}}" class="btn btn-sm btn-light border">Download</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif -%}

        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

