{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'e/pds/header.html' %}
    {% include 'e/pds/tabs.html' %}
    <div id="vApp" v-cloak v-bind:data-pending="pending" class="tab-content p-3 min-height-300">
        {% include 'parts/flash.html' %}
        <form ref="form" v-on:submit.prevent="onSubmit" action="/e/pds/csc-eligibility" method="POST" class="form-default">
            <template  v-if="page==1">
                <div v-if="eligibilities.length > 0" class="table-responsive">
                    <table class="table table-bordered table-sm table-striped">
                        <tr>
                            <th width="30%">Name</th>
                            <th class="d-none d-md-table-cell">Rating</th>
                            <th class="d-none d-md-table-cell">Exam Date</th>
                            <th class="d-none d-md-table-cell">Exam Place</th>
                            <th>License Number</th>
                            <th class="d-none d-md-table-cell">Validity</th>
                            <th></th>
                        </tr>
                        <tr v-for="(eligibility, index) in eligibilities">
                            <td>${eligibility.name}</td>
                            <td class="d-none d-md-table-cell">${eligibility.rating}</td>
                            <td class="d-none d-md-table-cell">${eligibility.examDate|formatDate('MM/DD/YYYY')}</td>
                            <td class="d-none d-md-table-cell">${eligibility.examPlace}</td>
                            <td>${eligibility.licenseNumber}</td>
                            <td class="d-none d-md-table-cell">${eligibility.licenseValidity}</td>
                            <td>
                                <div class="d-flex">
                                    <button v-on:click="edit(index)" type="button" class="btn btn-light btn-sm mr-1">Edit</button>
                                    <button v-on:click="del(index)" type="button" class="btn btn-danger btn-sm">X</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <button v-on:click.prevent="add" class="btn btn-sm btn-success" type="button">Add Eligibility</button>
                </div>
            </template>
            <div v-if="page==2" class="form-group focusable" tabindex="0">
                <div class="form-row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="name" class="mb-0">Eligibility <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-5">
                        <select ref="level" @change="onChangeEligibility" v-model="eligibility" name="name" id="name" class="form-control">
                            <option value=""></option> 
                            <option v-for="n in eligibilityList">${n}</option>
                            <option value="Others">Others, please specify:</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input v-model="eligibilities[editIndex].name" name="name" placeholder="" id="name" :type="eligibility=='Others' ? 'text' : 'hidden'" class="form-control">
                    </div>
                </div>
                
                <div class="form-row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="examDate" class="mb-0">Exam Date / Conferment <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-9">
                        <input v-model="eligibilities[editIndex].examDate" name="examDate" id="examDate" type="date" class="form-control">
                    </div>
                </div>
                <div class="form-row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="examPlace" class="mb-0">Place of Exam / Conferment <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-9">
                        <input v-model="eligibilities[editIndex].examPlace" name="examPlace" id="examPlace" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="rating" class="mb-0">Rating (If Applicable)</label>
                    </div>
                    <div class="col-md-9">
                        <input v-model="eligibilities[editIndex].rating" name="rating" id="rating" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="licenseNumber" class="mb-0">License Number (If applicable)</label>
                    </div>
                    <div class="col-md-9">
                        <input v-model="eligibilities[editIndex].licenseNumber" name="licenseNumber" id="licenseNumber" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row mb-3 align-items-center">
                    <div class="col-md-3">
                        <label for="licenseValidity" class="mb-0">Date of Validity (If applicable)</label>
                    </div>
                    <div class="col-md-9">
                        <input v-model="eligibilities[editIndex].licenseValidity" name="licenseValidity" id="licenseValidity" type="text" class="form-control">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">Save</button>
                    <button v-if="action=='add'" type="button" class="btn btn-light" @click="cancel">Cancel</button>
                    <button v-if="action=='edit'" type="button" class="btn btn-light" @click="page=1">Cancel</button>
                </div> 
            </div>
        </form>
    </div>
</div>
{% include 'parts/modal-alert-success.html' %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        filters: {
            age: function (value) {
                let birthDate = moment(value, 'YYYY-MM-DD', true)
                if(birthDate.isValid()){
                    return moment().diff(birthDate, 'years')
                }
                return ''
            },
            formatDate: function(date, format){
                if(moment(date, 'YYYY-MM-DD', true).isValid()){
                    return moment(date).format(format)
                }
                return date
            }
        },
        data: {
            pending: false,
            page: 1,
            action: '',
            eligibilities:{{employee.personal.eligibilities|default([], true)|stringify|safe}},
            editIndex: 0,
            eligibility: '',
            eligibilityList: [
                'Career Service Sub-Professional',
                'Career Service Professional',
                'Career Service Executive',
                'Stenographer',
                'PD 997 – Scientific and Technological Specialist',
                'EO132/790 – Veteran Preference Rating',
                'PD 907 – Honor Graduate',
                'RA 7883 – Barangay Health Worker',
                'Barangay Official',
            ]
        },
        mounted: function(){
        },
        validations: {
        },
        methods: {
            onChangeEligibility: function(){
                const me = this

                if(me.eligibility === 'Others'){
                // if(me.eligibilities[me.editIndex].name === 'Others'){
                    me.eligibilities[me.editIndex].name = ''
                } else {
                    me.eligibilities[me.editIndex].name = me.eligibility
                }
            },
            add: function(){
                const me = this

                me.eligibilities.push({
                    name:'',
                    rating:'',
                    examDate:'',
                    examPlace:'',
                    licenseNumber:'',
                    licenseValidity:'',
                })
                me.page = 2
                me.editIndex = me.eligibilities.length - 1
                me.$nextTick(() => {
                    me.$refs.level.focus();
                })
                me.action = 'add'
            },
            cancel: function(){
                const me = this

                me.page = 1
                me.action = ''
                me.eligibilities.splice(-1, 1)
            },
            edit: function(index){
                const me = this
                this.action = 'edit'

                me.page = 2
                me.editIndex = index

                me.eligibility = me.eligibilities[me.editIndex].name
                if(!me.eligibilityList.includes(me.eligibility)){
                    me.eligibility = 'Others'
                }
                this.$nextTick(() => {
                    me.$refs.level.focus();
                })

            },
            del: function(start){
                const me = this
                if(!confirm('Delete permanently?')){
                    return false
                }
                this.$delete(this.eligibilities, start)
                this.editIndex = this.eligibilities.length - 1

                me.pending = true
                fetch(`/e/pds/csc-eligibility`, {
                    method: 'POST',
                    body: JSON.stringify({
                        eligibilities: me.eligibilities
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then(async function(response){
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error(await response.text())
                    
                }).then(function(responseJson){
                    
                    me.$v.$reset()
                    me.page = 1
                    me.eligibilities = responseJson

                    jQuery('#modal-alert-success').modal('show')
                    jQuery('#modal-alert-success .content').html('Eligibility deleted.')
                }).catch(async function(error){
                    console.error(error)
                    alert(error);
                }).then(function(){
                    me.pending = false
                });
            },
            
            
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                let o = this.eligibilities[this.editIndex]
                if(!o.name){
                    return alert('Please provide Eligibility.')
                }
                if(!o.examDate){
                    return alert('Please provide Exam Date / Conferment.')
                }
                if(!o.examPlace){
                    return alert('Please provide Place of Exam / Conferment.')
                }
                
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.pending = true
                        fetch(`/e/pds/csc-eligibility`, {
                            method: 'POST',
                            body: JSON.stringify({
                                eligibilities: me.eligibilities
                            }),
                            headers: {
                                'Content-Type': 'application/json',
                                'X-Requested-With': 'XMLHttpRequest'
                            }
                        }).then(async function(response){
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error(await response.text())
                            
                        }).then(function(responseJson){
                           
                            me.$v.$reset()
                            me.page = 1
                            me.eligibilities = responseJson

                            jQuery('#modal-alert-success').modal('show')
                            jQuery('#modal-alert-success .content').html('Eligibility saved.')
                        }).catch(async function(error){
                            console.error(error)
                            alert(error);
                        }).then(function(){
                            me.pending = false
                        });

                    });
                }
            }
        }
    });
</script>
{% endblock %}

