{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'e/pds/header.html' %}
    {% include 'e/pds/tabs.html' %}
    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <div class=" mb-5">
            {% include 'parts/flash.html' %}
            <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/e-profile/pds1" method="POST" class="form-default">
                <div class="form-row">
                    <div class="col-md-3">
                        {% set name = 'spouse.lastName' %}
                        {% set label = 'Spouse Last Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-3">
                        {% set name = 'spouse.firstName' %}
                        {% set label = 'Spouse First Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'spouse.middleName' %}
                        {% set label = 'Spouse Middle Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'spouse.suffix' %}
                        {% set label = 'Spouse Extension (Jr.)' %}
                        {% set options = suffixes %}
                        {% include 'parts/form-group-select.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'spouse.birthDate' %}
                        {% set label = 'Spouse Birth Date' %}
                        {% include 'parts/form-group-date.html' %}
                        {% set label = '' %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        {% set name = 'spouse.occupation' %}
                        {% set label = 'Spouse Occupation' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-4">
                        {% set name = 'spouse.employerOrBusinessName' %}
                        {% set label = 'Spouse Employer/Business Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'spouse.businessAddress' %}
                        {% set label = 'Spouse Business Address' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'spouse.phone' %}
                        {% set label = 'Spouse Telephone Number' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        {% set name = 'father.lastName' %}
                        {% set label = 'Father Last Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-3">
                        {% set name = 'father.firstName' %}
                        {% set label = 'Father First Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'father.middleName' %}
                        {% set label = 'Father Middle Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'father.suffix' %}
                        {% set label = 'Father Extension (Jr.)' %}
                        {% set options = suffixes %}
                        {% include 'parts/form-group-select.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'father.birthDate' %}
                        {% set label = 'Father Birth Date' %}
                        {% include 'parts/form-group-date.html' %}
                        {% set label = '' %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        {% set name = 'mother.lastName' %}
                        {% set label = 'Mother Maiden Last Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-3">
                        {% set name = 'mother.firstName' %}
                        {% set label = 'Mother First Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-4">
                        {% set name = 'mother.middleName' %}
                        {% set label = 'Mother Middle Name' %}
                        {% include 'parts/form-group-text.html' %}
                        {% set label = '' %}
                    </div>
                    <div class="col-md-2">
                        {% set name = 'mother.birthDate' %}
                        {% set label = 'Mother Birth Date' %}
                        {% include 'parts/form-group-date.html' %}
                        {% set label = '' %}
                    </div>
                </div>
                {# Children #}
                <div class="form-group focusable" tabindex="0">
                    <h2 class="h5">Children</h2>
                    <p class="mb-4"><em>(Write full name and list all)</em></p>
                    <div v-for="(child, index) in children">
                        <hr v-if="index > 0">
                        <div class="text-right mb-2">
                            <button v-on:click="deleteChild(index)" type="button" class="btn btn-danger btn-sm">X - Delete Child</button>
                        </div>
                        <div class="form-row">
                            <div class="col-md-9">
                                {% set name = "'children[' + index + '][name]'"|safe %}
                                {% set vModel = 'child.name' %}
                                {% set label = 'Full Name of Child' %}
                                {% include 'parts/form-group-text-vue.html' %}
                                {% set label = '' %}
                            </div>
                            <div class="col-md-3">
                                {% set name = "'children[' + index + '][birthDate]'"|safe %}
                                {% set vModel = 'child.birthDate' %}
                                {% set label = 'Child Birth Date' %}
                                {% include 'parts/form-group-date-vue.html' %}
                                {% set label = '' %}
                            </div>
                        </div>
                    </div>
                    <div class="text-center" v-if="children.length < 12">
                        <button type="button" v-on:click.prevent="addChild" class="btn btn-sm btn-primary">Add More Children</button>
                    </div> 
                </div>

                <hr>
                <div class="form-row pt-3 pb-3">
                    <div class="col-md-12">
                        <input name="actionType" type="hidden" v-model="actionType">
                        <button v-on:click="setAction('save')" type="submit" name="save" value="save" class="btn btn-primary">Save PDS</button>
                        <button v-on:click="setAction('saveNext')" type="submit" name="save" value="saveNext" class="btn btn-primary">Save and Go to C2</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'parts/modal-help.html' %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VuePhAddress.mixin
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        computed: {
            height: {
                get: function () {
                    return parseFloat(((parseFloat(this.heightFeet) * 12 + parseFloat(this.heightInches)) / 39.37).toFixed(2));
                },
                set: function (newValue) {
                    var inches = Math.round(parseFloat(this.height) *  39.37);
                    this.heightFeet = Math.floor(inches / 12);
                    this.heightInches= Math.floor(inches %  12);
                }
            }
        },
        data: {
            actionType: 'save',
            firstName: '{{employee.firstName}}',
            middleName: '{{employee.middleName}}',
            lastName: '{{employee.lastName}}',
            suffix: '{{employee.suffix}}',
            birthDate: '{{employee.birthDate|default('', true)|format_date("YYYY-MM-DD")}}',
            gender: '{{employee.gender}}',
            civilStatus: '{{employee.civilStatus}}',
            // employee.personal
            birthPlace: '{{employee.personal.birthPlace}}',
            heightFeet: 0,
            heightInches: 0,
            weight: '{{employee.personal.weight}}',
            bloodType: '{{employee.personal.bloodType}}',
            gsis: '{{employee.personal.gsis}}',
            sss: '{{employee.personal.sss}}',
            philHealth: '{{employee.personal.philHealth}}',
            tin: '{{employee.personal.tin}}',
            pagibig: '{{employee.personal.pagibig}}',
            agencyEmployeeNumber: '{{employee.personal.agencyEmployeeNumber}}',
            citizenship: {{employee.personal.citizenship|default([], true)|stringify|safe|default([], true)}},
            citizenshipCountry: '{{employee.personal.citizenshipCountry}}',
            citizenshipSource: {{employee.personal.citizenshipSource|default([], true)|stringify|safe}},

            mobileNumber: '{{employee.mobileNumber}}',
            phoneNumber: '{{employee.phoneNumber}}',
            email: '{{employee.email}}',

            psgc0: '{{employee.addresses[0].psgc}}',
            unit0: '{{employee.addresses[0].unit}}',
            street0: '{{employee.addresses[0].street}}',
            village0: '{{employee.addresses[0].village}}',
            zipCode0: '{{employee.addresses[0].zipCode}}',

            psgc1: '{{employee.addresses[1].psgc}}',
            unit1: '{{employee.addresses[1].unit}}',
            street1: '{{employee.addresses[1].street}}',
            village1: '{{employee.addresses[1].village}}',
            zipCode1: '{{employee.addresses[1].zipCode}}',

            spouse:{
                lastName:'{{employee.personal.spouse.lastName}}',
                firstName:'{{employee.personal.spouse.firstName}}',
                middleName:'{{employee.personal.spouse.middleName}}',
                suffix:'{{employee.personal.spouse.suffix}}',
                birthDate:'{{employee.personal.spouse.birthDate}}',
                occupation:'{{employee.personal.spouse.occupation}}',
                employerOrBusinessName:'{{employee.personal.spouse.employerOrBusinessName}}',
                businessAddress:'{{employee.personal.spouse.businessAddress}}',
                phone:'{{employee.personal.spouse.phone}}',
            },
            father:{
                lastName:'{{employee.personal.father.lastName}}',
                firstName:'{{employee.personal.father.firstName}}',
                middleName:'{{employee.personal.father.middleName}}',
                suffix:'{{employee.personal.father.suffix}}',
                birthDate:'{{employee.personal.father.birthDate}}',
            },
            mother:{
                lastName:'{{employee.personal.mother.lastName}}',
                firstName:'{{employee.personal.mother.firstName}}',
                middleName:'{{employee.personal.mother.middleName}}',
                birthDate:'{{employee.personal.mother.birthDate}}',
            },
            children:{{employee.personal.children|default([], true)|stringify|safe}},
            schools:{{employee.personal.schools|default([], true)|stringify|safe}},
        },
        mounted: function(){
            var inches = Math.round(parseFloat({{employee.personal.height|default(0, true)}}) *  39.37)
            this.heightFeet = Math.floor(inches / 12)
            this.heightInches= Math.floor(inches %  12)
        },
        validations: {
            lastName: {
                required: window.validators.required
            },
            middleName: {
                required: window.validators.required
            },
            firstName: {
                required: window.validators.required
            },
            birthDate: {
                required: window.validators.required
            },
            gender: {
                required: window.validators.required
            },
            civilStatus: {
                required: window.validators.required
            },
            
        },
        methods: {
            addChild: function(){
                this.children.push({
                    name:'',
                    birthDate: null
                })
            },
            deleteChild: function(start){
                this.$delete(this.children, start)
            },
            addSchool: function(){
                this.schools.push({
                    level:'',
                    name:'',
                    course:'',
                    periodFrom:'',
                    periodTo:'',
                    unitsEarned:'',
                    yearGraduated:'',
                    honors:'',
                })
            },
            deleteSchool: function(start){
                this.$delete(this.schools, start)
            },
            setAction: function(action){
                this.actionType = action
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if(/^([a-zA-Z]\.?)$/.test(me.middleName)){
                    alert('Please type your full middle name, not your middle initial.')
                    throw new Error('Please type your full middle name, not your middle initial.')
                }
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

