<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="">
        <h1 class="h5">Personal Data Sheet</h1>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a target="_blank" href="https://drive.google.com/file/d/1cR1uD1ldZ45BZNMWX1o6RMCbPd_5TDwR/preview" class="btn btn-sm btn-outline-success">Guide to Filling up the PDS</a>
            <a href="/e-profile/pds.xlsx" class="btn btn-sm btn-primary">Download</a>
            <a href="/e-profile/pds" class="btn btn-sm btn-outline-primary">Back</a>
        </div>
    </div>
</div>