<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/personal-info/])}}" href="/e/pds/personal-info">Personal <div class="d-md-inline d-none">Information</div> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/family-background/])}}" href="/e/pds/family-background">Family <div class="d-md-inline d-none">Background</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/educational-background/])}}" href="/e/pds/educational-background">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/csc-eligibility/])}}" href="/e/pds/csc-eligibility">Eligibility</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/work-experience/])}}" href="/e/pds/work-experience">Work <div class="d-md-inline d-none">Experience</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/voluntary-work/])}}" href="/e/pds/voluntary-work">Volunteerism</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/learning-development/])}}" href="/e/pds/learning-development">L&D</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/other-info/])}}" href="/e/pds/other-info">Other <div class="d-md-inline d-none">Info</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/more-info/])}}" href="/e/pds/more-info">More <div class="d-md-inline d-none">Info</div></a>
        </li>
    </ul>
</div>