<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/personal-info/])}}" href="/e/pds/personal-info">Personal Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/family-background/])}}" href="/e/pds/family-background">Family Background</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/educational-background/])}}" href="/e/pds/educational-background">Educational Background</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/csc-eligibility/])}}" href="/e/pds/csc-eligibility">CSC Eligibility</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/pds\/work-experience/])}}" href="/e/pds/work-experience">Work Experience</a>
        </li>
    </ul>
</div>