# create: sudo nano /etc/systemd/system/hris.service
# update systemd: sudo systemctl daemon-reload
# restart: sudo systemctl restart hris
# status: sudo systemctl status hris
# start-on-boot: sudo systemctl enable hris

[Unit]
Description=HRIS

# Requires this service to run first
Requires=After=mongod.service       

[Service]
ExecStart=/usr/bin/node /home/ubuntu/hris/index.js

# Restart service after 10 seconds if node service crashes
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hris
Environment=NODE_ENV=live PORT=9094

[Install]
WantedBy=multi-user.target