<div class="hros certificate-of-appearance">
    <div class="border-thick">
        <div class="border-thin p-5">
            <div class="row align-items-start mb-4 text-center">
                <div class="col-4"><img src="/images/logo-md.png" alt="Logo"></div>
                <div class="col-4">
                    <p>Republic of the Philippines </p>
                    <p class="font-weight-bold">State Universities and Colleges</p>
                    <p class="font-weight-bold">GUIMARAS STATE COLLEGE</p>
                    <p>Buenavista, Guimaras</p>
                </div>
                <div class="col-4">
                    <img src="/images/socotec-sm.jpg" alt="">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-12 text-center mb-5">
                    <h1>Certificate of Appearance</h1>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-12">
                    <p class="text-uppercase font-weight-bold mb-5">To Whom it May Concern:</p>
                    <p class="pl-5">This is to certify that <span class="underline text-center min-w-200"> {{employee.firstName}} {{employee.middleName|first}}. {{employee.lastName}}</span> of <span class="underline min-w-200" contenteditable="true">&nbsp;</span> has personally appeared in this office to <span class="underline min-w-300" contenteditable="true"></span> on <span class="underline min-w-200" contenteditable="true"></span>.</p>
                    <p class="pl-5">Issued this <span class="underline min-w-100" contenteditable="true"></span> day of <span class="underline min-w-100" contenteditable="true"></span> at <span class="underline min-w-100" contenteditable="true"></span>.</p>
                    <p class="text-right">
                        <span class="underline min-w-300" contenteditable="true"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
