{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">Work Schedules</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/schedule/create" class="btn btn-sm btn-primary">Create Schedule</a>
                {# <a href="/attendance/schedule/all" class="btn btn-sm btn-outline-primary">Classic Schedule System</a> #}
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    
    {% if schedules.length <= 0 %}
        <p>None found.</p>
    {% else %}
        <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                           <th class="text-center" width="5%">#</th>
                           <th>Name</th>
                           <th>Time</th>
                           <th>Visible To</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for schedule in schedules %}
                        <tr>
                            <td class="text-center" width="5%">{{loop.index}}</td>
                            <td><a href="/schedule/{{schedule._id}}">{{schedule.name}}</a></td>
                            <td>{{schedule.readable|replace(r/\n/g, '<br />')|safe}}
                                {# <ul>
                                    {% for segment in schedule.timeSegments %}
                                        <li>
                                            {{segment.start}} - {{segment.end}} <em>({{segment.maxHours}} hrs)</em> 
                                            

                                            {% if segment.grace > 0 %} <em>with ({{segment.grace}} minutes grace)</em> {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul> #}
                            </td>
                            <td width="10%">{{schedule.visibility|replace('members', 'Selected Employees Only')}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

