{% extends "document-email.html" %}

{% block body %}
<p>Greetings {{firstName}}!</p>

<p>Your HRIS admin account is:</p>
<ul>
    <li>Admin Username: <em>{{username}}</em></li>
    <li>Admin Password: <em>{{password}}</em></li>
</ul>
<p>This email was sent by HRIS. You do not need to reply.</p>

<div style="text-align: center; padding-top: 50px">
    <a href="{{loginUrl}}" style="background-color: #115195; display: inline-block;        color: white;        text-align: center;        text-decoration: none;        border-radius: 4px;        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);        transition-duration: 0.5s;        padding: 10px 20px;        font-size: 16px;" class="">Open Your HRIS Account</a>
</div>

<p style="margin-top: 100px; text-align: center; font-size: 14px">Did you encounter any problems? Or do you have questions? <br>You can reach us at any of these channels:</p>
<table style="font-size: 11px;" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td style="text-align: center;  padding: 5px">
            <a href="mailto:mis@gsc.edu.ph"><img src="https://hris.codefleet.net/images/email.png" alt="email"></a>
            <span style="display: block; text-align: center">   
                Write to us: <br> 
                <a href="mailto:mis@gsc.edu.ph"><em>mis@gsc.edu.ph</em></a>
                <br> <span style="font-size: 11px;">Email Address</span>
            </span> 
        </td>
        <td style="text-align: center;  padding: 5px">
            <a href="tel:+639975518770"><img src="https://hris.codefleet.net/images/phone.png" alt="call"> </a>
            <span style="display: block;">   
                Call us: <br>
                <a href="tel:+639975518770"><em>Reiner Jun Alminaza</em></a>
                <br> <span style="font-size: 11px;">MIS Director</span>
            </span> 
        </td>
        <td style="text-align: center; padding: 8px">
            <a href="https://m.me/nico.amarilla.3511"><img src="https://hris.codefleet.net/images/facebook-messenger.png" alt="fb"></a>
            <span style="display: block;">   
                Chat with us: <br>
                <a href="https://m.me/nico.amarilla.3511"><em>Nico Amarilla</em></a>
                <br> <span style="font-size: 11px;">Programmer</span>
            </span> 
        </td>
        
    </tr>
</table>
{% endblock %}

