{% extends "document-email.html" %}

{% block body %}
<p>Greetings {{firstName}}!</p>

<p>You requested to reset the password for your HRIS account with the e-mail address {{to}}.</p>
<p>Please click the button below to reset your password:</p>

<div style="text-align: center; padding-top: 50px">
    <a href="{{resetLink}}" target="_blank" style="background-color: #115195; display: inline-block;        color: white;        text-align: center;        text-decoration: none;        border-radius: 4px;        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);        transition-duration: 0.5s;        padding: 10px 20px;        font-size: 16px;" class="">Reset My Password</a>
</div>

<p style="margin-top: 100px; text-align: center; font-size: 14px">Did you encounter any problems? Or do you have questions? <br>You can reach us via these channels:</p>
<table style="font-size: 11px;" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td style="text-align: center;  padding: 5px">
            <a href="mailto:hrmo@gsc.edu.ph"><img src="{{baseUrl}}/images/email.png" alt="email"></a>
            <span style="display: block; text-align: center">   
                <span style="font-size: 11px;">for Attendance Concerns</span> 
                <br><a href="mailto:hrmo@gsc.edu.ph"><em>hrmo@gsc.edu.ph</em></a>
                <br><span style="font-size: 10px;">Human Resource Management Office</span> 

            </span> 
        </td>
        <td style="text-align: center;  padding: 5px">
            <a href="mailto:mis@gsc.edu.ph"><img src="{{baseUrl}}/images/technical.png" alt="email"></a>
            <span style="display: block; text-align: center">   
                <span style="font-size: 11px;">for Technical Issues</span> 
                <br><a href="mailto:mis@gsc.edu.ph"><em>mis@gsc.edu.ph</em></a>
                <br><span style="font-size: 10px;">Management Information System</span> 
            </span> 
        </td>
        <td style="text-align: center;  padding: 5px">
            <a href="{{baseUrl}}/help"><img src="{{baseUrl}}/images/help.png" alt="email"></a>
            <span style="display: block; text-align: center">   
                <span style="font-size: 11px;">Browse Help Topics</span> 
                <br><a href="{{baseUrl}}/help"><em>/help</em></a>
            </span> 
        </td>
    </tr>
</table>
{% endblock %}

