{% extends "document-email.html" %}

{% block body %}
<p>Greetings {{firstName}}!</p>

<p>Welcome to HRIS. Your login credentials are:</p>
<ul>
    <li>Username: <em>{{username}}</em></li>
    <li>Password: <em>{{password}}</em></li>
</ul>
<p>You can now start using your ID card for logging-in and logging-out. Just hover it on one of our scanners. </p>
<p>You can view your Daily Time Record (DTR) in your HRIS account.</p>

<div style="text-align: center; padding-top: 50px">
    <a href="{{loginUrl}}" style="background-color: #115195; display: inline-block;        color: white;        text-align: center;        text-decoration: none;        border-radius: 4px;        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);        transition-duration: 0.5s;        padding: 10px 20px;        font-size: 16px;" class="">Go to HRIS Login Page</a>
</div>

<p style="margin-top: 100px; text-align: center; font-size: 14px">Did you encounter any problems? Or do you have questions? <br>You can reach us at any of these channels:</p>
<table>
    <tr>
        <td style="text-align: center;  padding: 5px">
            <img src="https://hris.codefleet.net/images/email.png" alt=""> 
            <span style="display: block; text-align: center">   
                Write to us: <br> 
                <a href="mailto:mis@gsc.edu.ph"><em>mis@gsc.edu.ph</em></a>
                <br> <span style="font-size: 12px;">Email Address</span>
            </span> 
        </td>
        <td style="text-align: center;  padding: 5px">
            <img src="https://hris.codefleet.net/images/phone.png" alt=""> 
            <span style="display: block;">   
                Call us: <br>
                <a href="tel:+639975518770"><em>Reiner Jun Alminaza</em></a>
                <br> <span style="font-size: 12px;">MIS Director</span>
            </span> 
        </td>
        <td style="text-align: center; padding: 8px">
            <img src="https://hris.codefleet.net/images/facebook-messenger.png" alt=""> 
            <span style="display: block;">   
                Chat with us: <br>
                <a href="https://m.me/nico.amarilla.3511"><em>Nico Amarilla</em></a>
                <br> <span style="font-size: 12px;">Programmer</span>
            </span> 
        </td>
        
    </tr>
</table>
{% endblock %}

