<div id="vAppDtrSettings" v-cloak class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex">
                    <svg class="mr-1" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#001968" d="M12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12S17.5 2 12 2M7.7 15.5L7 14.2L11 11.9V7H12.5V12.8L7.7 15.5Z" />
                    </svg>
                    <span><strong>Settings</strong> </span>
                </h5>
            </div>
            <div class="modal-body pl-4 pr-4">
                <div class="row mb-2">
                    <div class="col-sm-3">Employment:</div>
                    <div class="col-sm-9"><strong>{{employment.position}}</strong></div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">Show:</div>
                    <div class="col-sm-9">
                        <div class="d-flex">
                            <select v-model="periodSlice" name="periodSlice" id="periodSlice" class="form-control form-control-sm mr-1">
                                <option value="15th">1st-15th</option>
                                <option value="30th">16th-end</option>
                                <option value="all">All</option>
                            </select>
                            <select v-model="periodMonthYear" name="periodMonthYear" id="periodMonthYear" class="form-control form-control-sm mr-1">
                                <option v-for="option in periodMonthYearList" v-bind:value="option.value">${option.text}</option>
                            </select>
                            <select v-model="periodWeekDays" name="periodWeekDays" id="periodWeekDays" class="form-control form-control-sm">
                                <option value="Mon-Fri">Mon-Fri Only</option>
                                <option value="Sat-Sun">Sat-Sun Only</option>
                                <option value="All">All days</option>
                            </select>
                        </div>
                    </div>
                </div>
                {% if employment.employmentType != 'part-time' %}
                <div class="row mb-2">
                    <div class="col-sm-3">Work Sched:</div>
                    <div class="col-sm-9">
                        <select v-model="workScheduleId" name="workScheduleId" id="workScheduleId" class="form-control form-control-sm">
                            <option v-for="workSchedule in workSchedules" v-bind:value="workSchedule._id">${workSchedule.times}</option>
                        </select>
                    </div>
                </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-sm-3">In Charge:</div>
                    <div class="col-sm-9">
                        <input v-model="inCharge" name="inCharge" id="inCharge" type="text" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">Count:</div>
                    <div class="col-sm-9">
                        <div class="d-flex">
                            <select v-model="showTotalAs" name="showTotalAs" id="showTotalAs" class="form-control form-control-sm mr-1">
                                <option value="time">Time</option>
                                <option value="undertime">Undertime</option>
                            </select>
                            <select v-model="countTimeBy" name="countTimeBy" id="countTimeBy" class="form-control form-control-sm">
                                <option value="weekdays">On Weekdays Only</option>
                                <option value="weekends">On Weekends Only</option>
                                <option value="all">All Week</option>
                                <option value="none">Don't Show</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button v-on:click="reloado" id="btn-consent" class="ml-2 btn btn-success align-items-center d-flex" >
                    <span class="mr-2">Save</span>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#FFF" d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z" /></svg>
                </button>
            </div>
        </div>
    </div>
</div>