<script>
    var vModalSelectAction = new Vue({
        el: '#modal-select-action',
        delimiters: ["${", "}"],
        mixins: [
        ],
        data: {
            mode: 'create', // or edit
            attendanceId: '',
        },
        computed: {
            urlCorrection: function() {
                if(this.attendanceId) {
                    return '/e-profile/attendance/' + this.attendanceId + '/edit'
                }
                return '/e-profile/attendance/create'
            },
            urlTravel: function() {
                if(this.attendanceId) {
                    return '/e-profile/attendance/' + this.attendanceId + '/edit/type?type=travel'
                }
                return '/e-profile/attendance/create?type=travel'
            },
            urlWfh: function() {
                if(this.attendanceId) {
                    return '/e-profile/attendance/' + this.attendanceId + '/edit/type?type=wfh'
                }
                return '/e-profile/attendance/create?type=wfh'
            },
            urlAnal: function() {
                if(this.attendanceId) {
                    return '/e-profile/attendance/' + this.attendanceId + '/analyze'
                }
                return '#'
            },
            urlLeave: function() {
                if(this.attendanceId) {
                    return '/e-profile/attendance/' + this.attendanceId + '/leave'
                }
                return '#'
            },
        }
    });
</script>