{% extends "document.html" %}

{% block body %}
<div class="col-md-12">

    {% include 'parts/flash.html' %}
    {% include 'attendance/header.html' %}
    {# {% include 'parts/employee-profile-photo.html' %} #}
    {# {% include 'attendance/tabs-calendar.html' %} #}
    <div class="tab-content pt-3 pb-2 pl-3 pr-3">
        <h1 class="text-center h4 mb-2">Attendance Sheet</h1>
        <p class="text-center mb-3">{{mCalendar|format_date('dddd - MMM DD, YYYY')}}</p>

        <div>
            <form action="">
                <input name="date" type="hidden" value="{{mCalendar|format_date('YYYY-MM-DD')}}">
                <h3 class="h5">Filter by</h3>
                <div class="form-group">
                    <label for="show" class="mr-2">Attendance types: </label>
                    {% for attendanceType in attendanceTypesList %}
                    <div class="form-check form-check-inline">
                        <input {% if attendanceTypes|includes(attendanceType.key) %}checked{% else %}{% endif %} class="form-check-input" type="checkbox" id="byAttendance{{attendanceType.key}}" name="byAttendanceType[]" value="{{attendanceType.key}}">
                        <label class="form-check-label" for="byAttendance{{attendanceType.key}}">{{attendanceType.value}}</label>
                    </div>
                    {% endfor %}
                   
                    <button class="btn btn-sm btn-success">Apply Filters</button>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-sm">
                <tr class="text-center">
                    <th class="align-middle text-center" rowspan="2">No.</th>
                    <th class="align-middle text-center" rowspan="2">Campus</th>
                    <th class="align-middle" rowspan="2">Name</th>
                    <th class="align-middle" colspan="2">Sex</th>
                    <th>AM</th>
                    <th class="align-middle" rowspan="2"></th>
                    <th>AM</th>
                    <th class="align-middle" rowspan="2"></th>
                    <th>PM</th>
                    <th class="align-middle" rowspan="2"></th>
                    <th>PM</th>
                    <th class="align-middle" rowspan="2"></th>
                </tr>
                <tr class="text-center">
                    <th>M</th>
                    <th>F</th>
                    <th>In</th>
                    <th>Out</th>
                    <th>In</th>
                    <th>Out</th>
                </tr>
                {% for attendance in attendances %}
                    <tr>
                        <td class="text-center">{{loop.index}}</td>
                        <td><em>{{attendance.employment.campus|capitalize}}</em></td>
                        <td>
                            <a class="privy-name text-left d-block" href="/attendance/employee/{{attendance.employeeId}}/employment/{{attendance.employmentId}}?start={{mCalendar.startOf('month').format('YYYY-MM-DD')}}&amp;end={{mCalendar.endOf('month').format('YYYY-MM-DD')}}&amp;showWeekDays=Mon|Tue|Wed|Thu|Fri|Sat|Sun">
                                {{attendance.employee.firstName}} {{attendance.employee.lastName}} {{attendance.employee.suffix}}
                            </a>
                            
                        </td>
                        <td class="text-center">{% if attendance.employee.gender == 'M' %}✓{% endif %}</td>
                        <td class="text-center">{% if attendance.employee.gender == 'F' %}✓{% endif %}</td>
                        
                        {% if attendance.type == 'normal' %}
                            {% set log = attendance.logs[0] %}
                            
                            <td>
                            {{attendance.logs[0].dateTime|default(true, '')|format_date('hh:mm')}}

                            {% if log.extra.photo %} 
                                <a href="{{log.extra.photo|view_url}}" target="_blank">
                                    <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,16C9.37,16 7,14.43 6,12C7.38,8.69 11.19,7.12 14.5,8.5C16.08,9.16 17.34,10.42 18,12C17,14.43 14.63,16 12,16M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13Z" />
                                    </svg>
                                </a> 
                            {% endif %}
                            
                            </td>
                            <td>{#<img src="/images/signature-sample.jpeg" alt="sign">#}</td>
                            <td>
                                {% set log = attendance.logs[1] %}

                                <div class="d-flex">

                                {{log.dateTime|default(true, '')|format_date('hh:mm')}}  
                                {% if log.extra.lat %}
                                    <a data-toggle="tooltip" data-placement="top" title="View Location" href="https://nominatim.openstreetmap.org/ui/reverse.html?lat={{log.extra.lat}}&lon={{log.extra.lon}}"> 
                                        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
                                        </svg>
                                    </a>
                                {% endif %}

                                {% if log.extra.photo %} 
                                    <a href="{{log.extra.photo|view_url}}" target="_blank">
                                        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,16C9.37,16 7,14.43 6,12C7.38,8.69 11.19,7.12 14.5,8.5C16.08,9.16 17.34,10.42 18,12C17,14.43 14.63,16 12,16M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13Z" />
                                        </svg>
                                    </a> 
                                {% endif %}
                                </div>
                            </td>
                            <td>{#<img src="/images/signature-sample.jpeg" alt="sign">#}
                            </td>
                            <td>
                                {% set log = attendance.logs[2] %}
                                {{log.dateTime|default(true, '')|format_date('hh:mm')}}  

                                {% if log.extra.lat %}
                                    <a data-toggle="tooltip" data-placement="top" title="View Location" href="https://nominatim.openstreetmap.org/ui/reverse.html?lat={{log.extra.lat}}&lon={{log.extra.lon}}"> 
                                        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
                                        </svg>
                                    </a>
                                {% endif %}

                                {% if log.extra.photo %} 
                                    <a href="{{log.extra.photo|view_url}}" target="_blank">
                                        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,16C9.37,16 7,14.43 6,12C7.38,8.69 11.19,7.12 14.5,8.5C16.08,9.16 17.34,10.42 18,12C17,14.43 14.63,16 12,16M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13Z" />
                                        </svg>
                                    </a> 
                                {% endif %}
                            </td>
                            <td>{#<img src="/images/signature-sample.jpeg" alt="sign">#}</td>
                            <td>
                                {% set log = attendance.logs[3] %}
                                {{log.dateTime|default(true, '')|format_date('hh:mm')}}

                                {% if log.extra.photo %} 
                                    <a href="{{log.extra.photo|view_url}}" target="_blank">
                                        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,16C9.37,16 7,14.43 6,12C7.38,8.69 11.19,7.12 14.5,8.5C16.08,9.16 17.34,10.42 18,12C17,14.43 14.63,16 12,16M12,9.5A2.5,2.5 0 0,0 9.5,12A2.5,2.5 0 0,0 12,14.5A2.5,2.5 0 0,0 14.5,12A2.5,2.5 0 0,0 12,9.5M12,13A1,1 0 0,1 11,12A1,1 0 0,1 12,11A1,1 0 0,1 13,12A1,1 0 0,1 12,13Z" />
                                        </svg>
                                    </a> 
                                {% endif %}
                            </td>
                            <td>{#<img src="/images/signature-sample.jpeg" alt="sign">#}</td>

                        {% else %}
                            <td colspan="8">{{attendance.type|capitalize|replace('Wfh', 'WFH')}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div>
            <a class="btn btn-sm btn-light" href="/attendance/daily.xlsx?{{query|query_string}}">Download</a>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            
        },
        validations: {
            
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

