{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <div>
                <h1>Edit Attendance</h1>
                <p class="mb-0 pl-1"></p>
            </div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/attendance/employee/{{employee._id}}/employment/{{employment._id}}?start={{attendance.createdAt|format_date('YYYY-MM-DD')}}&amp;end={{attendance.createdAt|format_date('YYYY-MM-DD')}}" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>

    <div class="tab-content pt-3 pb-2 pl-3 pr-3">
        <h1 class="mt-2">
            {{employee.lastName}},
            {{employee.firstName}}
        </h1>
        <h2 class="h5 mb-4">
            {{attendance.createdAt|format_date('MMM DD, YYYY - dddd')}}
        </h2>


        <form id="vApp" v-cloak ref="form" v-on:submit.prevent="onSubmit" action="/attendance/employee/{{employee._id}}/employment/{{employment._id}}/attendance/{{attendance._id}}/edit" method="POST" class="form-default">
            {% include 'parts/flash.html' %}
            <div class="form-row mb-3 pt-5">
                <div class="col-1 pt-5 text-right" style="font-size: 10px">
                    <div class="t-bar pr-2">
                        Time
                    </div>
                    <div class="t-bar pr-2">
                        Schedule
                    </div>
                    <div class="t-bar pr-2">
                        Logs
                    </div>
                    <div class="t-bar pr-2">
                        Counted
                    </div>
                    <div class="t-bar pr-2">
                        OT
                    </div>
                </div>
                <div class="col-11">
                    <div class="table-responsive pt-5 p-1">
                    <div style="min-width: 1000px">
                    <div class="t-bar">
                        {% for i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23] %}
                        <div class="t-bar-hour" style="left: {{i*60/1440*100}}%">
                            <div class="t-bar-hour-label">
                                {% if i == 0 %}
                                    12AM
                                {% elif i <= 11 %}
                                    {{i}}AM
                                {% elif i === 12 %}
                                    {{i}}PM
                            
                                {% else %}
                                    {{i-12}}PM
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="t-bar">
                        {% for timeSegment in timeSegments %}
                        <div class="t-bar-segment" style="background: #7f9299; width: {{(timeSegment.end-timeSegment.start)/1440*100}}%;  left: {{timeSegment.start/1440*100}}%;">
                            <div style="float: left"> {{timeSegment.start|mToTime}}</div>
                            <div style="float: right">{{timeSegment.end|mToTime}} </div>
                            <div title="{{timeSegment.max}}">{{timeSegment.name}} (max {{(timeSegment.max/60)|round2}} hrs)</div>

                            <div class="t-bar-grace bg-warning" style="width: {{timeSegment.grace/240*100}}%; left: 0; opacity: 0.6" title="Grace period"></div>
                        </div>
                        {% endfor %}
                    
                    </div>
                    <div class="t-bar">
                        {% for logSegment in logSegments %}
                        <div class="t-bar-segment" style="background: #60a322; width: {{logSegment.raw/1440*100}}%;  left: {{logSegment.start/1440*100}}%;">
                            <div style="float: left"> {{logSegment.start|mToTime}}</div>
                            <div style="float: right">{{logSegment.end|mToTime}} </div>
                            <div>{{logSegment.raw|mToHour}} hrs {{logSegment.raw|mToMin}} mins</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="t-bar">
                        {% for timeWork in timeWorked %}
                        {% if timeWork.name != 'OT' %}
                        {% for logSegment in timeWork.logSegments %}
                        <div class="t-bar-segment" style="background: #294b81; width: {{logSegment.counted/1440*100}}%;  left: {{logSegment.countedStart/1440*100}}%;">
                            <div>{{logSegment.counted|mToHour}} hrs {{logSegment.counted|mToMin}} mins</div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="t-bar">
                        {% for timeWork in timeWorked %}
                        {% if timeWork.name == 'OT' %}
                        {% for logSegment in timeWork.logSegments %}
                        <div class="t-bar-segment" style="background: #294b81; width: {{logSegment.counted/1440*100}}%;  left: {{logSegment.countedStart/1440*100}}%;">
                            <div>{{logSegment.counted|mToHour}} hrs {{logSegment.counted|mToMin}} mins</div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {#  aaaa #}
                        {% for timeWork in timeWorked %}
                        {% if timeWork.name != 'OT' %}
                        {% for logSegment in timeWork.logSegments %}
                        {% if logSegment.countedExcess > 0 %}
                        <div class="t-bar-segment" style="background: #294b81; width: {{logSegment.countedExcess/1440*100}}%;  left: {{(logSegment.countedStart + logSegment.counted)/1440*100}}%;">
                            <div>{{logSegment.countedExcess|mToHour}} hrs {{logSegment.countedExcess|mToMin}} mins</div>
                        </div>
                        {% endif %}

                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    </div>
                </div>
            </div>
          
            <div class="table-responsive">
                <table class="table table-dtr">
                    <tr>
                        <th class="text-center" rowspan="2" width="5%"></th>
                        <th class="text-center" rowspan="2" colspan="2">Day</th>
                        <th class="text-center" colspan="2">AM</th>
                        <th class="text-center" colspan="2">PM</th>
                       
                    </tr>
                    <tr>
                        <th>Arrival</th>
                        <th>Departure</th>
                        
                        <th>Arrival</th>
                        <th>Departure</th>

                   
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="p-2">
                                <select v-model="attendance.type" name="type" id="type" class="mb-2">
                                    <option value=""></option>
                                    {% for attendanceType in attendanceTypes %}
                                        <option value="{{attendanceType.value}}">{{attendanceType.name}}</option>
                                    {% endfor %}
                                </select>
                                <select v-model="workSchedule._id" name="workScheduleId" id="workScheduleId">
                                    <option v-for="workSchedule in workSchedules" v-bind:value="workSchedule._id">${workSchedule.name}</option>
                                </select>
                            </div>
                        </td>
                        <td class="text-center">{{attendance.createdAt|format_date('ddd')}}</td>
                        <td class="text-center">
                            {{attendance.createdAt|format_date('DD')}}
                        </td>
                        {% if attendanceTypesList.includes(attendance.type) %}
                            <td colspan="6">{{attendance.type|capitalize}}</td>
                        {% else %}

                            <td>
                                <div class="d-flex">
                                    <input type="time" v-model="log0" name="log0">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <input type="time" v-model="log1" name="log1">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <input type="time" v-model="log2" name="log2">
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <input type="time" v-model="log3" name="log3">
                                </div>
                            </td>
                            
                        {% endif %}
                    </tr>
                  
                </table>
            </div>

            <div class="form-group">
                <label for="comment">Comments (optional)</label>
                <div>
                    <textarea  name="comment" id="comment" rows="1" class="form-control"></textarea>
                </div>
            </div>

            {# <div class="alert alert-warning">Warning: Dishonest time is a serious offense.</div> #}


            <div class="text-right">
                <button class="btn btn-primary btn-sm">Change Time Log</button>
            </div>
        </form>
        <hr>
        <div class="mb-5">
            {% if attendance.changes.length > 0 %}
                <h2 class="h2">History</h2>
                <ul>
                    {% for change in attendance.changes.reverse() %}
                        <li>{{change.summary}} - <a href="#"><em title="{{change.createdAt|format_date('MMM DD, YYYY - h:mm:ss A')}}">{{change.createdAt|from_now}}</em></a>
                         </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if attendance.comments.length > 0 %}
                <h2 class="h2">Comments</h2>
                <ul>
                    {% for comment in attendance.comments.reverse() %}
                        <li>{{comment.summary}} - <a href="#"><em title="{{comment.createdAt|format_date('MMM DD, YYYY - h:mm:ss A')}}">{{comment.createdAt|from_now}}</em></a>
                         </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            attendance: {{attendance|default({}, true)|stringify|safe}},
            workSchedules: {{workSchedules|default([], true)|stringify|safe}},
            workSchedule: {{workSchedule|default({}, true)|stringify|safe}},
            log0: '',
            log1: '',
            log2: '',
            log3: '',
        },
        validations: {
            
        },
        created: function(){
            var me = this;
            for(var x = 0; x < me.attendance.logs.length; x++){
                me['log' + x] = moment(me.attendance.logs[x].dateTime).format('HH:mm')
            }

            
        },
        mounted: function(){
            
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

