{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'attendance/header.html' %}
    {# {% include 'parts/employee-profile-photo.html' %} #}
    {# {% include 'attendance/tabs-calendar.html' %} #}
    <div class="tab-content pt-3 pb-2 pl-3 pr-3">
        <h1 class="mt-2">
            {{employee.lastName}},
            {{employee.firstName}}
        </h1>
        <h2 class="h5 mb-4">
            {{startMoment|format_date('MMM DD, YYYY')}}
            {% if startMoment|format_date('MMM DD, YYYY') != endMoment|format_date('MMM DD, YYYY') %}
                to {{endMoment|format_date('MMM DD, YYYY')}}
            {% endif %}
        </h2>

        <div class="table-responsive">
            <table class="table table-dtr">
                <tr>
                    <th class="text-center" rowspan="2"></th>
                    <th class="text-center" rowspan="2">Day</th>
                    <th class="text-center" colspan="2">AM</th>
                    <th class="text-center" colspan="2">PM</th>
                    <th class="text-center" colspan="3">
                        {% if undertimeView %}
                            <a href="?{{query|query_string({undertime: 0})}}">Undertime</a>
                        {% else %}
                            <a href="?{{query|query_string({undertime: 1})}}">Time</a>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>Arrival</th>
                    <th>Departure</th>
                    
                    <th>Arrival</th>
                    <th>Departure</th>

                    <th>Days</th>
                    <th>Hours</th>
                    <th>Minutes</th>
                </tr>
                {% for day in days %}
                {% set attendance = day.attendance %}
                <tr class="{% if day.date === momentNow|format_date('YYYY-MM-DD') %} selected {% endif %} {% if day.dtr.undertime === true %} undertime {% endif %}">
                    <td class="text-center {% if ['Sun','Sat'].includes(day.weekDay) %} bg-light {% endif %}">{{day.weekDay}}</td>
                    <td class="text-center">
                        <a href="/attendance/employee/{{employee._id}}/employment/{{employment._id}}/attendance/{{attendance._id}}/edit">{{day.day}}</a>
                    </td>
                    {% if attendance.type === 'travel' %}
                        <td colspan="4" class="text-center">Travel</td>
                        <td></td>
                        <td></td>
                    {% elif attendance.type === 'wfh' %}
                        <td colspan="4" class="text-center">WFH</td>
                        <td></td>
                        <td></td>
                    {% else %}
                        {% if attendance.type == 'normal' %}
                            <td>{% if attendance.logs[0].dateTime %} {{attendance.logs[0].dateTime|format_date('hh:mm A')}} {% endif %}</td>
                            <td>{% if attendance.logs[1].dateTime %} {{attendance.logs[1].dateTime|format_date('hh:mm A')}} {% endif %}</td>
                            <td>{% if attendance.logs[2].dateTime %} {{attendance.logs[2].dateTime|format_date('hh:mm A')}} {% endif %}</td>
                            <td>{% if attendance.logs[3].dateTime %} {{attendance.logs[3].dateTime|format_date('hh:mm A')}} {% endif %}</td>

                        {% else %}
                            <td colspan="4">{{attendance.type|capitalize|replace('Pass', 'Pass Slip')|replace('Wfh', 'WFH')}}</td>
                        {% endif %}
                        <td>
                            {% if undertimeView %}
                                {{day.dtr.underDays|default('', true)}}
                            {% else %}
                                {{day.dtr.renderedDays}}
                            {% endif %}
                        </td>
                        <td>
                            {% if undertimeView %}
                                {{day.dtr.underHours|default('', true)}}
                            {% else %}
                                {{day.dtr.renderedHours}}
                            {% endif %}
                        </td>
                        <td>
                            {% if undertimeView %}
                                {{day.dtr.underMinutes|default('', true)}}
                            {% else %}
                                {{day.dtr.renderedMinutes}}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6"><h5 class="m-0">Total</h5></td>
                    <td>
                        {% if undertimeView %}
                            {{timeRecordSummary.underDays|default('', true)}}
                        {% else %}
                            {{timeRecordSummary.renderedDays}}
                        {% endif %}
                    </td>
                    <td>
                        {% if undertimeView %}
                            {{timeRecordSummary.underHours|default('', true)}}
                        {% else %}
                            {{timeRecordSummary.renderedHours}}
                        {% endif %}
                    </td>
                    <td>
                        {% if undertimeView %}
                            {{timeRecordSummary.underMinutes|default('', true)}}
                        {% else %}
                            {{timeRecordSummary.renderedMinutes}}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
      
        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                {# <a href="/employee/employment/{{employee._id}}" class="btn btn-primary">Back to Employee</a> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            
        },
        validations: {
            
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

