<div class="p-3">
    <form action="" ref="form" v-on:submit.prevent="reloado">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-8">
                <div class="d-flex justify-content-center">
                    <select v-model="showDays" name="showDays" id="showDays" class="form-control form-control-sm">
                        <option value="0">All Days</option>
                        <option value="1">Working Days</option>
                        <option value="4">Rest Days</option>
                        <!-- <option value="2">Weekends</option> -->
                        <!-- <option value="3">Holidays</option> -->
                    </select>
                    <label for="startDate" class="mr-2 ml-2">from</label>
                    <input v-model="startDate" id="startDate" type="date" value="{{startMoment|format_date('YYYY-MM-DD')}}" class="form-control form-control-sm">
                    <label for="endDate" class="mr-2 ml-2"> to </label>
                    <input v-model="endDate" id="endDate" type="date" value="{{endMoment|format_date('YYYY-MM-DD')}}" class="form-control form-control-sm">

                    <select v-model="scheduleName" id="scheduleName" name="scheduleName">
                        <option v-for="schedule in schedules" :value="schedule.name">${schedule.name}</option>
                    </select>
                    <div class="btn-toolbar justify-content-end ml-3">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Change</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>