<div class="p-3">
    <form action="" ref="form" v-on:submit.prevent="reloado">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-8">
                <div class="d-flex justify-content-center">
                    <select v-model="showDays" name="showDays" id="showDays" class="form-control form-control-sm">
                        <option value="0">All Days</option>
                        <option value="1">Working Days</option>
                        <option value="4">Rest Days</option>
                        <!-- <option value="2">Weekends</option> -->
                        <!-- <option value="3">Holidays</option> -->
                    </select>
                    <label for="startDate" class="mr-2 ml-2">from</label>
                    <input v-model="startDate" id="startDate" type="date" value="{{startMoment|format_date('YYYY-MM-DD')}}" class="form-control form-control-sm">
                    <label for="endDate" class="mr-2 ml-2"> to </label>
                    <input v-model="endDate" id="endDate" type="date" value="{{endMoment|format_date('YYYY-MM-DD')}}" class="form-control form-control-sm">
                    <div class="btn-toolbar justify-content-end ml-3">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Change</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

<div class="p-3">
    <span>Extended Services</span>
    {{startMoment|format_date('MMM DD, YYYY')}}
    {% if startMoment|format_date('MMM DD, YYYY') != endMoment|format_date('MMM DD, YYYY') %}
        to {{endMoment|format_date('MMM DD, YYYY')}}
    {% endif %}
</div>
<form action="" method="post">
    <input type="hidden" name="start" value="{{startMoment|format_date('YYYY-MM-DD')}}">
    <input type="hidden" name="end" value="{{endMoment|format_date('YYYY-MM-DD')}}">
    <input type="hidden" name="showDays" value="{{showDays}}">

    <div class="table-responsive">
        <table class="table table-bordered table-dtr mb-0">
            <tr class="text-center">
                <th rowspan="2" class="text-left">
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check-all">
                        <label class="form-check-label" for="check-all">
                            <span>Date</span>
                        </label>
                    </div>
                </th>
                <th rowspan="2">Day</th>
                <th rowspan="2">In</th>
                <th rowspan="2">Out</th>
                <th rowspan="2">In</th>
                <th rowspan="2">Out</th>
                <th colspan="2">Extended Services</th>
                <th rowspan="2">Hrs. Mins.</th>
                <th rowspan="2">Rate</th>
                <th rowspan="2">Total</th>
            </tr>
            <tr class="text-center">
                <th>In</th>
                <th>Out</th>
            </tr>
            {% for day in days2 %}
            {% set cssClass = [] %}

            {% if day.isNow %}
                {% set cssClass = (cssClass.push('selected'), cssClass) %}
            {% endif %}

            {% if days[loop.index0].isInvalidOvertime %}
                {% set cssClass = (cssClass.push('undertime'), cssClass) %}
            {% endif %}

            {% if day.isHoliday %}
                {% set cssClass = (cssClass.push('holiday'), cssClass) %}
            {% endif %}

            <tr class="{{cssClass.join(",")}} text-center">
                <td class="text-left">
                    <div class="form-check">
                        <input {%if days[loop.index0].isInvalidOvertime %}disabled{%endif%} class="form-check-input catt" type="checkbox" value="{{day.date}}" name="attendances[]" id="day-{{loop.index}}">
                        <label class="form-check-label" for="day-{{loop.index}}">
                            {{day.date|format_date('MMM DD')}}
                        </label>
                    </div>
                    
                </td>
                <td>
                    {{day.weekDay}}
                </td>
                {% if day.attendance %}

                    <td class="{{classes}}">{{day.display.inAM}}</td>
                    <td class="{{classes}}">{{day.display.outAM}}</td>
                    <td class="{{classes}}">{{day.display.inPM}}</td>
                    <td class="{{classes}}">{{day.display.outPM}}</td>
                {% else %}
                    <td colspan="4"></td>
                {% endif %}

                <td>
                    {% if day.attendance %}
                        {{day.segments[0].logSegments[0].countedStart|mToTime|default('', true)}}
                    {% endif %}
                </td>
                <td>
                    {% if day.attendance %}
                        {{day.segments[0].logSegments[0].countedEnd|mToTime|default('', true)}}
                    {% endif %}
                </td>
                <td class="text-right mono">
                    <div class=" form-row" onclick="alert('{{day.time.hoursDays}} hrs + ({{day.time.minutes}} / 60) = {{day.time.asHours}}  hours')">
                        <div class="col-6 text-pointer">
                            {{(day.time.hoursDays)|default('', true)}}
                        </div>
                        <div class="col-6 text-pointer">
                            {{(day.time.minutes)|default('', true)}}
                        </div>
                    </div>
                </td>
                <td class="text-right mono">
                    {% if day.time.total %}
                        {{day.rate|currency}}
                    {% endif %}
                </td>
                <td class="text-right mono">
                    {% if day.time.total %}
                        <div class="text-pointer" onclick="alert(`{{day.time.asHours}} x {{day.rate}} = {{day.time.OTPay|roundOff(9)}}`)">
                            {{day.time.OTPay|currency}}
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="p-3">
        <button class="btn btn-light">Print Overtime</button>
    </div>
</form>