{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">Attendance Corrections Review <em>({{attendanceReviews.length}})</em></h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {# <a href="/attendance/schedule/create" class="btn btn-sm btn-outline-primary">Create Schedule</a> #}
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    
    {% if attendanceReviews.length <= 0 %}
        <p>None found.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-sm text-center">
                <tr>
                    <th width="3%" class="text-left"></th>
                    <th width="25%" class="text-left">Name</th>
                    <th width="25%" class="text-left">Date</th>
                    <th width="25%" class="text-left">Date Applied</th>
                    <th width="22%"></th>
                </tr>
                {% for attendanceReview in attendanceReviews%}
                {% set review = attendanceReview %}
                {% set attendance = review.attendance %}
                <tr>
                    <td class="text-left">{{loop.index}}</td>
                    <td class="text-left"><a href="/attendance/review/{{review._id}}">{{review.employee.lastName}}, {{review.employee.firstName}}</a></td>
                    <td class="text-left">{{attendance.createdAt|format_date('ddd - MMM DD, YYYY')}}</td>
                    <td class="text-left">
                        <div>
                            {{review.createdAt|format_date('MMM DD, YYYY')}} at <em>{{review.createdAt|format_date('hh:mm A')}} </em>
                            {% set diff = review.createdAt|date_diff(attendance.createdAt) %}

                            {% if diff <= 0 %}
                            {% elif diff <= 1 %}
                                <sup class="text-success font-weight-bold">{{diff}} day</sup>

                            {% elif diff <= 2 %}
                                <sup class="text-success font-weight-bold">{{diff}} days</sup>

                            {% elif diff == 3 %}
                                <sup class="text-warning font-weight-bold" style="color: #ff9800;">{{diff}} days</sup>
                            
                                {% else %}
                                <sup class="text-danger font-weight-bold">{{diff}} days</sup>

                            {% endif %}
                        </div>
                    </td>
                    <td><a href="/attendance/review/{{review._id}}">Review</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}

