{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">Attendance Corrections Review <em>({{attendanceReviews.length}})</em></h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {# <a href="/attendance/schedule/create" class="btn btn-sm btn-outline-primary">Create Schedule</a> #}
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    
    {% if attendanceReviews.length <= 0 %}
        <p>None found.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Date Applied</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {% for attendanceReview in attendanceReviews%}
                {% set review = attendanceReview %}
                {% set attendance = review.attendance %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a href="/attendance/review/{{review._id}}">{{review.employee.lastName}}, {{review.employee.firstName}}</a></td>
                    <td>{{attendance.createdAt|format_date('ddd - MMM DD, YYYY')}}</td>
                    <td>{{review.createdAt|format_date('MMM DD, YYYY')}} <em>{{review.createdAt|from_now}}</em></td>
                    <td>{{review.status}}</td>
                    <td><a href="/attendance/review/{{review._id}}">Review</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}

