{% extends "document.html" %}
{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">Work Schedules</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/attendance/schedule/all" class="btn btn-sm btn-outline-primary">Back </a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
        
        <form ref="form" id="vApp" v-cloak v-bind:data-pending="pending" v-on:submit.prevent="onSubmit" action="/attendance/schedule/create" method="POST" class="form-default">
            {% set name = 'name' %}
            {% include 'parts/form-group-text.html' %}

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th width="5%">Time Segment</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Grace Period</th>
                        <th></th>
                    </tr>
                    <tr v-for="(timeSegment, i) in timeSegments">
                        <td>#${i+1}</td>
                        <td><input v-model="timeSegment.start" type="time" id="" v-bind:name="'timeSegments[' +i+ '][start]'" class="form-control"></td>
                        <td><input v-model="timeSegment.end" type="time" id="" v-bind:name="'timeSegments[' +i+ '][end]'" class="form-control"></td>
                        <td><input v-model="timeSegment.grace" step="1" placeholder="minutes" type="number" id="" v-bind:name="'timeSegments[' +i+ '][grace]'" class="form-control"></td>
                        <td><button v-if="i > 0" v-on:click="deleteTimeSegment(i)" class="btn btn-sm btn-danger" type="button">X</button></td>
                    </tr>
                </table>
            </div>
            <div class="text-center">
                <button v-on:click.prevent="addTimeSegment" class="btn btn-sm btn-success" type="button">Add Time Segment</button>
            </div>

            <div class="visibility">
                <div class="form-group">
                    <label for="roles">Visible to:</label>
                    <div>
                        <select v-model="visibility" name="visibility" id="visibility" class="">
                            <option value="">All</option>
                            <option value="members">Selected Employees Only</option>
                        </select>
                        <small class="invalid-feedback">${getError('visibility')}</small>

                        <div v-if="visibility" class="p-3">
                            <div class="d-flex align-items-center">
                                <autocomplete ref="autocomplete"
                                    placeholder="Type employee name..."
                                    :source="dataSource"
                                    v-on:selected="onSelect"
                                    v-on:clear="onClear"
                                    input-class="form-control"
                                    v-bind:request-headers="headers"
                                ></autocomplete>
                                <div class="ml-2 mr-2"> or </div>
                                <autocomplete ref="autocomplete2"
                                    placeholder="Type list name..."
                                    :source="dataSource2"
                                    v-on:selected="onSelect2"
                                    v-on:clear="onClear2"
                                    input-class="form-control"
                                    v-bind:request-headers="headers"
                                ></autocomplete>
                            </div>

                            <div class="p-1" style="max-height: 100px; overflow-y: scroll;">
                                <div class="d-flex flex-wrap">
                                    <div v-for="(member, i) in members" class="border border-secondary rounded p-1 m-1">${member.name} <div v-on:click="deleteMember(i)" class="btn btn-sm btn-danger">X</div></div>
                                </div>
                            </div>

                            <input type="hidden" name="memberIds" v-model="memberIds">
                            <small class="invalid-feedback">${getError('memberIds')}</small>

                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex justify-content-between">
                <a class="btn btn-outline-primary" href="/attendance/schedule/all">Cancel</a>
                <button class="btn btn-primary">Save Schedule</button>
            </div>
        </form>
    </div>
</div>
{# {% include 'parts/vue-timepicker.vue' %} #}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vuejs-auto-complete.js"></script>
<script src="{{app.url}}/js/vuejs-auto-complete-extend.js"></script>
<script>

    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            window.vueJsAutoCompleteExtendMixin,
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            pending: false,
            name: '',
            visibility: '',
            timeSegments: [],
            employeeLists: {{employeeLists|default([], true)|stringify|safe}},
            members: {{members|default([], true)|stringify|safe}},
        },
        validations: {
            name: {
                required: window.validators.required
            },
            memberIds: {
                required: window.validators.requiredIf(function(){
                    return this.visibility === 'members';
                })
            },
        },
        mounted: function(){
            var me = this
            me.addTimeSegment()
            
        },
        computed: {
            memberIds: function(){
                var me = this;
                return _.map(me.members, function(member){
                    return member.objectId;
                })
            }
        },
        methods: {
            addTimeSegment: function(){
                var me = this;
                me.timeSegments.push({
                    start: '',
                    end: '',
                    grace: null,
                    maxHours: 4,
                    flexible: false
                })
            },
            deleteTimeSegment: function(i){
                var me = this;
                if(confirm('Remove time segment?')){
                    Vue.delete(me.timeSegments, i)
                }
            },
            toHtmlTime: function(hours, mins){
                return String(hours).padStart(2, '0') + ':' + String(mins).padStart(2, '0')
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            },
            // vuejs autocomplete
            deleteMember: function(x){
                this.$delete(this.members, x)
            },
            onSelect: function(o){
                this.members.push({
                    objectId: o.value,
                    name: o.display,
                });
                this.$refs.autocomplete.close();
                this.$refs.autocomplete.clear();
            },
            onClear: function(o){
            },
            dataSource: function(input) {
                return '/auto-complete/employee?salary=0&s=' + input + '&ignore=' + this.memberIds.join(',');
            },

            onSelect2: function(o){
                this.members.push({
                    objectId: o.value,
                    name: o.display,
                });
                this.$refs.autocomplete2.close();
                this.$refs.autocomplete2.clear();
            },
            onClear2: function(o){
            },
            dataSource2: function(input) {
                return '/auto-complete/employee-list?s=' + input + '&ignore=' + this.memberIds.join(',');
            },
        }
    });
</script>
{% endblock %}

