{% extends "document.html" %}

{% block body %}
<div id="vApp" v-cloak :data-pending="pending" class="col-md-12">
    
    {% include 'e/account/header.html' %}
    {% include 'e/account/tabs.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
        {% include 'parts/flash.html' %}
        <div class="table-responsive mb-4">
            <table class="table table-sm bg-light border">
                <tr>
                    <td class="text-right align-middle" style="width: 20%;">
                        Email
                    </td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center">
                            <em>mis+diwa.rhia2@gsu.edu.ph</em>
                        </div>
                    </td>
                    <td class="text-right">
                        <a href="#" class="btn btn-sm btn-light d-inline-flex align-items-center text-success">
                            <span class="mr-1 text-success">Edit</span>
                            <svg width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Next</title><path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                        </a>
                    </td>
                </tr>
                
                <!-- <tr>
                    <td class="text-right">
                        Reminders
                    </td>
                    <td>
                        <span class="text-success">Enabled (Email) </span>
                    </td>
                    <td class="text-right">
                        <a href="#" class="btn btn-sm btn-light d-inline-flex align-items-center">
                            <span class="mr-1">Edit</span>
                            <svg width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Next</title><path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                        </a>
                    </td>
                </tr> -->
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
            editEmail: false,
            email: '',
            logReminder: false,
        },
        methods: {
            onSubmit: function(){
                var me = this;
                
            }
        }
    });
</script>
{% endblock %}

