{% extends "document.html" %}

{% block body %}
<div id="vApp" v-cloak :data-pending="pending" class="col-md-12">
    
    {% include 'e/account/header.html' %}
    {% include 'e/account/tabs.html' %}

    <div class="tab-content p-3 mb-5">
        {% include 'parts/flash.html' %}
        {% if user.settings.emailPendingStatus %}
        <div class="alert alert-warning">Pending email change. Open your inbox at "{{user.settings.emailPendingValue}}".</div>
        {% endif %}

        
        <div class="table-responsive">
            <table class="table table-striped table-sm border mb-0 ml-auto mr-auto" style="max-width: 600px;">
                <tr>
                    <td class="text-right align-middle" style="width: 25%;">
                        <strong>Current Email</strong>
                    </td>
                    <td class="pt-2">
                        <em>${email}</em>
                    </td>
                    <td class="text-right">
                        {% if user.settings.emailPendingStatus %}
                            <button disabled class="btn btn-sm btn-outline-success font-italic d-inline-flex align-items-center">
                                <span class="mr-1">Pending Change</span>
                                <svg width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Edit</title><path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                            </button>
                        {% else %}
                            <a href="/e/account/email-change" class="btn btn-sm btn-outline-success d-inline-flex align-items-center">
                                <span class="mr-1">Change</span>
                                <svg width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Edit</title><path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                            </a>
                        {% endif %}

                    </td>
                </tr>
                <!-- <tr>
                    <td class="text-right">
                        <strong>Reminders</strong>   
                    </td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input v-model="logReminder" type="checkbox" class="custom-control-input" id="logReminder">
                            <label class="custom-control-label" for="logReminder">Log</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="earlyOutReminder" type="checkbox" class="custom-control-input" id="earlyOutReminder">
                            <label class="custom-control-label" for="earlyOutReminder">Early-out</label>
                        </div>
                    </td>
                </tr> -->
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
            editEmail: false,
            email: '{{user.email}}',
            logReminder: false,
            earlyOutReminder: false,
        },
        methods: {
            onSubmit: function(){
                var me = this;
                
            }
        }
    });
</script>
{% endblock %}

