{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    
    {% include 'e/account/header.html' %}
    {% include 'e/account/tabs.html' %}

    <div id="vApp" v-cloak :data-pending="pending" class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
        {% include 'parts/flash.html' %}
        <form ref="form" v-on:submit.prevent="onSubmit($event)" action="/e/account/password" method="POST" class="form-default">
            <template v-if="page==1">
                <div class="form-row">
                    <div class="col-md-4"></div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="oldPassword">Current Password</label>
                            <div v-bind:data-error="errors['oldPassword']!==''" v-on:click="errors['oldPassword']=''" class="toggled-password-group">
                                <input id="oldPassword" placeholder="Type your current password..." name="oldPassword" v-model="oldPassword" v-bind:type="passwordType" class="form-control">
                                <button v-on:click="togglePassword" class="btn btn-eye d-flex align-items-center" v-bind:data-state="passwordType" type="button">
                                    <svg style="width:18px;height:18px" viewBox="0 0 24 24"><path d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg>
                                    <svg style="width:18px;height:18px" viewBox="0 0 24 24" ><path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>
                                </button>
                            </div>
                            <small v-if="errors['oldPassword']" class="invalid-feedback">${errors['oldPassword']}</small>
                        </div>
                    </div>

                    <div class="col-md-4"></div>

                </div>
                <div class="form-row  pb-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button id="btnNext" class="btn btn-full-width btn-primary">Next </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </template>
            <template v-if="page==2">
                <div class="form-row">
                    <div class="col-md-2"></div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <div v-bind:data-error="errors['newPassword']!==''" v-on:click="errors['newPassword']=''" class="toggled-password-group">
                                <input v-on:keyup="checkPassword($event.target.value, ['{{user.email}}', '{{user.firstName}}', '{{user.lastName}}'])" v-on:blur="checkPassword($event.target.value, ['{{user.email}}', '{{user.firstName}}', '{{user.lastName}}'])" id="newPassword" placeholder="Your new password..." name="newPassword" v-model="newPassword" v-bind:type="passwordType2" class="form-control">
                                <button v-on:click="generatePass" class="btn btn-eye d-flex align-items-center" type="button">
                                    <svg style="width:18px;height:18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" /></svg>
                                    <span class="ml-1">Generate</span>
                                </button>
                                <button v-on:click="togglePassword2" class="btn btn-eye d-flex align-items-center" v-bind:data-state="passwordType2" type="button">
                                    <svg style="width:18px;height:18px" viewBox="0 0 24 24"><path d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg>
                                    <svg style="width:18px;height:18px" viewBox="0 0 24 24" ><path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>
                                </button>
                            </div>
                            <small v-if="errors['newPassword']" class="invalid-feedback">${errors['newPassword']}</small>
                        </div>
                        <input type="hidden" name="oldPassword" v-model="oldPassword">
                    </div>

                    <div class="col-md-2"></div>
                </div>
                <div class="form-row  pb-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button id="btnSubmit" class="btn btn-full-width btn-primary">Change Password</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </template>

        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/polyfills.js"></script>
<script src="{{app.url}}/js/script-password2.js"></script>
<script src="{{app.url}}/js/zxcvbn.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.VuePassword.mixin,
        ],
        data: {
            pending: false,
            errors: {
                oldPassword: '',
                newPassword: '',
            },
            page: 1,
            oldPassword: '',
            newPassword: '',
        },
        mounted: function(){
            var me = this
            this.passwordType2 = 'text'
            me.newPassword = `{{passphrase}}`
        },
        methods: {
            generatePass: function(){
                const me = this;
                me.pending = true;
                me.errors['newPassword'] = ''
                fetch(`/e/account/gen-passphrase`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then(async function(response){
                    if (response.ok) {
                        return response.text();
                    }
                    throw new Error(await response.text())
                    
                }).then(function(responseText){
                    me.newPassword = responseText;
                }).catch(async function(error){
                    console.error(error)
                    me.errors['newPassword'] = 'Something went wrong.'
                }).then(function(){
                    me.pending = false
                });
            },
            onSubmit: function (e) {
                try {
                    const me = this;
                    Object.keys(this.$data).forEach(key => {
                        if (typeof this[key] === 'string') {
                            this[key] = this[key].trim()
                        }
                    });
                    
                    const submitterId = _.get(e, 'submitter.id')
                    if (submitterId === 'btnNext') {
                        if (!me.oldPassword) {
                            me.errors['oldPassword'] = 'Please specify your Current Password.'
                            throw new Error(me.errors['oldPassword'])
                        }

                        me.pending = true;
                        fetch(`/e/account/check-password`, {
                            method: 'POST',
                            body: JSON.stringify({
                                password: me.oldPassword
                            }),
                            headers: {
                                'Content-Type': 'application/json',
                                'X-Requested-With': 'XMLHttpRequest'
                            }
                        }).then(async function(response){
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error(await response.text())
                            
                        }).then(function(responseJson){
                            me.page = 2;
                        }).catch(async function(error){
                            console.error(error)
                            me.errors['oldPassword'] = error
                        }).then(function(){
                            me.pending = false
                        });

                    } else if (submitterId === 'btnSubmit') {

                        me.checkPassword(me.newPassword)

                        if (!me.passwordStrong) {
                            me.errors['newPassword'] = 'Weak password.'
                            throw new Error(me.errors['newPassword'])
                        }

                        me.$nextTick(function () {
                            me.$refs.form.submit();
                        });
                    }
                    
                } catch (err) {
                    // alert(err)
                }
            }
        }
    });
</script>
{% endblock %}

