<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/account\/password/])}}" href="/e/account/password">Change Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/account\/photo/, r/^\/e\/account\/webcam/])}}" href="/e/account/photo">Profile Photo</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/e\/account\/email/, r/^\/e\/account\/notifications/])}}" href="/e/account/email">Email</a>
        </li> -->
    </ul>
</div>