{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">{{group.name}}</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/group/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    <p>{{group.description}}</p>        
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subgroups</th>
                    <th>Desc</th>
                    <th>Parent</th>
                </tr>
            </thead>
            <tbody>
            {% for subgroup in subgroups %}
                <tr>
                    <td><a href="/group/{{subgroup._id}}">{{subgroup.name}}</a></td>
                    <td>{{subgroup.description}}</td>
                    <td><a href="/group/{{subgroup.parent._id}}">{{subgroup.parent.name}}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

