{% extends "document.html" %}

{% block body %}
<div class="col-md-12">


    <div class="tab-content p-3 mt-3">
        {% include 'parts/flash.html' %}
        <div class="row">
            <div class="col-md-2 text-center mb-3">
                <svg style="max-width: 150px;" width="100%" height="auto" viewBox="-28 -45 180 90" fill="#fcd116">	<path fill="#0038a8" d="m-28-45h180V0L0 44z"/>	<path fill="#ce1126" d="m0 0h152v45H-28z"/>	<path fill="#fff" d="m49.942 0L-28 45v-90z"/>	<circle r="9"/>	<g id="c">		<g id="b">			<path id="a" d="m0 0-3.164-15.909.945-.946zl-1.169-17.831L0-19l1.169 1.169zl2.219-16.855.945.946z"/>			<use transform="scale(-1)" xlink:href="#a"/>		</g>		<use transform="rotate(90)" xlink:href="#b"/>	</g>	<use transform="rotate(45)" xlink:href="#c"/>	<path id="s" d="m40.942 0-3.382 1.176L37.487 4.755l-2.163-2.853-3.427 1.037L33.942 0l-2.045-2.939 3.427 1.037 2.163-2.853L37.56-1.176z"/>	<use transform="rotate(120,-2.019,0)" xlink:href="#s"/>	<use transform="rotate(240,-2.019,0)" xlink:href="#s"/></svg>
            </div>
            <div class="col-md-10 text-center text-md-left mb-3">
                <h1 class="h5 mb-2">Flag Raising Ceremony Electronic Attendance Sheet</h1>
                <p class="h6">{{mCalendar|format_date('dddd - MMM DD, YYYY')}}</p>
            </div>
        </div>
       
        <div class="text-center">
            {# {% if isMonday %} #}
                {% if alreadyLogged %}
                    <button type="btn" disabled class="btn btn-lg btn-primary">Log My Attendance</button>
                {% else %}
                    <a href="/hros/flag/create" class="btn btn-lg btn-primary">Log My Attendance</a>
                {% endif %}
{# 
            {% else %}
                <button type="btn" disabled class="btn btn-lg btn-primary">Log My Attendance</button>
            {% endif %} #}
        </div>
        {% if attendances.length > 0 %}
            <div class="table-responsive mt-4">
                <table class="table table-sm">
                    <tr class="text-center">
                        <th class="align-middle text-center" width="5%">No.</th>
                        <th class="align-middle" width="10%">Name</th>
                        <th class="align-middle" width="5%">Sex</th>
                        <th class="align-middle" width="10%">Time</th>
                    </tr>
                  
                
                    {% for attendance in attendances %}
                        <tr>
                            <td class="text-center">{{loop.index}}</td>
                            <td class="privy-name">
                                {{attendance.employee.firstName}} {{attendance.employee.lastName}} {{attendance.employee.suffix}}
                            </td>
                            <td class="text-center">{% if attendance.employee.gender == 'M' %}M{% else %}F{% endif %}</td>
                            <td class="text-center">
                                <div class="d-flex align-items-center">
                                <div class="mr-1 mr-md-3">{{attendance.dateTime|default('', true)|format_date('hh:mm A')}}</div>
                                <a href="{{attendance.extra.photo|view_url}}" style="width:20px; height:20px; border-radius: 100%; display:block; overflow: hidden; border: 2px solid teal"><img src="{{attendance.extra.photo|s3_url('tiny')}}" alt="Photo"></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {# <div>
            <a class="btn btn-sm btn-light" href="/attendance/daily.xlsx?{{query|query_string}}">Download</a>
        </div> #}
    </div>
</div>
{% endblock %}