{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <div class="d-flex align-items-start">
            <h1 class="h3">Office Issuances</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="/e/memo/create" class="btn btn-sm btn-outline-primary">Post Memo</a>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    {% if memos.length > 0 %}
        <div id="vApp" v-cloak class="mb-3">
            <div class="form-group d-flex align-items-center">
                <autocomplete ref="autocomplete"
                    id="search"
                    placeholder="Type the subject or the memo number..."
                    :source="dataSource"
                    v-on:selected="onSelect"
                    v-on:clear="onClear"
                    input-class="form-control"
                    v-bind:request-headers="headers"
                ></autocomplete>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%">
                            Memo No.
                        </th>
                        <th>
                            Subject
                        </th>
                        <th width="10%" class="text-center">
                            Series
                        </th>
                        <th width="15%">
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for memo in memos %}
                    <tr>
                        <td>{{memo.number}}</td>
                        <td><a href="/e/memo/{{memo._id}}">{{memo.subject}}</a></td>
                        <td class="text-center">{{memo.date|format_date('YYYY')}}</td>
                        <td>{{memo.date|format_date('MMM DD, YYYY')}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a href="/e/memo/all?lastId={{memos.at(-1)._id}}" class="btn btn-light btn-sm">Previous</a>
        </div>
    {% else %}
        <p>Nothing to show. Go <a class="" href="/e/memo/all">Back</a>.</p>
    {% endif %}
    
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vuejs-auto-complete.js"></script>
<script src="{{app.url}}/js/vuejs-auto-complete-extend.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            window.vueJsAutoCompleteExtendMixin,
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        methods: {
            onSelect: function(o){
               
                window.location.replace('/memo/' + o.value);
                this.$refs.autocomplete.close();
                this.$refs.autocomplete.clear();
            },
            onClear: function(o){
            },
            dataSource: function(input) {
                return '/auto-complete/search-memo?s=' + input
            },
        }
    });
</script>
{% endblock %}

