{% extends "document.html" %}

{% block body %}
<div id="vApp" v-cloak class="col-md-12">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h4">Edit Authority to Travel</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/online-services/at/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="mb-5">
        {% include 'parts/flash.html' %}
        <form ref="form" v-on:submit.prevent="onSubmit" action="/online-services/at/{{at._id}}/update" method="POST" class="form-default">
            <div class="form-row">
                <div class="col-md-12">
                    <label for="periodOfTravel" class="font-weight-bold">Period of Travel <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="periodOfTravel">From</label>
                        <div>
                            <input v-on:change="syncDates" name="periodOfTravel" id="periodOfTravel" v-model="periodOfTravel" type="date" class="form-control">
                            <small class="invalid-feedback">${getError('periodOfTravel')}</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="periodOfTravelEnd">To</label>
                        <div>
                            <input name="periodOfTravelEnd" id="periodOfTravelEnd" v-model="periodOfTravelEnd" type="date" class="form-control">
                            <small class="invalid-feedback">${getError('periodOfTravelEnd')}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a onclick="return confirm('Delete permanently?')" href="/online-services/at/{{at._id}}/delete" class="text-danger">Delete</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-full-width">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            pending: false,
            employmeeId: '{{at.employmeeId}}',
            designation: '{{at.designation}}',
            officialStation: '{{at.officialStation}}',
            destination: '{{at.destination}}',
            periodOfTravel: '{{at.periodOfTravel|format_date("YYYY-MM-DD")}}',
            periodOfTravelEnd: '{{at.periodOfTravelEnd|format_date("YYYY-MM-DD")}}',
            natureOfBusiness: '{{at.natureOfBusiness}}',
            endorser: '{{at.endorser}}',
            endorserDesignation: '{{at.endorserDesignation}}',
            approver: '{{at.approver}}',
            approverDesignation: '{{at.approverDesignation}}',
            autoset: true,
        },
        validations: {
            periodOfTravel: {
                required: window.validators.required
            },
            periodOfTravelEnd: {
                required: window.validators.required
            },
        },
        computed: {
            
        },
        watch: {
            
        },
        mounted: function(){
            this.charLength = 180 - ((this.natureOfBusiness + '').split('').length)
        },
        methods: {
            delete: function(e, id){
                return confirm("Delete?")
            },
            limitChars: function (max, e) {
                if (e.target.value.length >= max) {
                    this.natureOfBusiness = e.target.value.substring(0, max);
                }
                this.charLength = 180 - ((this.natureOfBusiness + '').split('').length)
            },
            syncDates: function () {
                var me = this;
                var mDate1 = moment(me.periodOfTravel)
                var mDate2 = moment(me.periodOfTravelEnd)
                if (mDate1.isValid() && !mDate2.isValid()) {
                    me.periodOfTravelEnd = me.periodOfTravel
                }
                if (mDate1.isValid() && mDate1.isAfter(mDate2)) {
                    me.periodOfTravelEnd = me.periodOfTravel
                }
            },
            onSubmit: function () {
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.pending = true
                    me.$nextTick(function () {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}