{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">All Employees</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/employee/create" class="btn btn-sm btn-outline-primary">Add Employee</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    {% if employees.length <= 0 %}
        <p>None found.</p>
    {% else %}

        <div class="d-flex justify-content-end">
            <div class=" pb-3">
                {% set url = '/employee/all' %}
                {% include 'parts/form-per-page.html' %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            {% set thId = 'lastName' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thId = 'firstName' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thId = 'gender' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thLabel = 'Age' %}
                            {% set thId = 'birthDate' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thLabel = 'Address' %}
                            {% set thId = 'address' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr>
                        <td><a href="/employee/personal/{{employee._id}}">{{employee.lastName}}</a></td>
                        <td>{{employee.firstName}} {{employee.middleName|first}}</td>
                        <td>{{employee.gender|capitalize}}</td>
                        <td>{{employee.birthDate|age}}</td>
                        <td>{{employee.address}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">

            <div class="col-md-6 text-center text-md-left">

            </div>
            <div class="col-md-6 text-center text-md-right">
                {% include "parts/pagination.html" %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

