{% extends "document.html" %}

{% block body %}
<div id="vApp" v-cloak v-bind:data-pending="pending" class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h5">
                Employees <em>(${pagination.totalDocs})</em>
            </h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/employee/create" class="btn btn-sm btn-outline-primary">Add Employee</a>
                <a :href="'/employee/all.csv?' + query_string(pagination.query, {})" class="btn btn-outline-primary btn-sm">Download CSV</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    
    {% if employees.length <= 0 %}
        <p>None found.</p>
    {% else %}
        {% include 'employee/employee-tabs.html' %}
        <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
            <div class="d-flex justify-content-between">
                <div class="d-flex pb-3 align-self-center pr-3">
                    <form @submit.prevent="search(s)" action="">
                        <input @search="search(s)" v-model="s" type="search" placeholder="Search by name..." class="form-control">
                    </form>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="pb-3 align-self-center pr-3 text-right">
                        Per page:
                    </div>
                    <div class=" pb-3">
                        {% set url = '/employee/all' %}
                        {% include 'parts/form-per-page.html' %}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="1%">
                                {% set thId = 'profilePhoto' %}
                                {% set thLabel = ' ' %}
                                {% include 'parts/sorted-th-any.html' %}
                                {% set thLabel = '' %}
                            </th>
                            <th>
                                {% set thId = 'lastName' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'firstName' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'position' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'department' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'employmentType' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'group' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'campus' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th v-if="query.customFilter=='pwd'">
                                {% set thId = 'pwd' %}
                                {% set thLabel = 'PWD ID' %}
                                {% include 'parts/sorted-th.html' %}
                                {% set thLabel = '' %}
                            </th>
                            <th>
                                {% set thId = 'email' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'mobileNumber' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'gender' %}
                                {% include 'parts/sorted-th-any.html' %}
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="employee, i in employees">
                            <td><a :href="'/employee/' + employee._id + '/personal'">${(i+1) + (pagination.page - 1) * (pagination.perPage)}</a></td>
                            <td>
                                <a v-if="employee.profilePhoto" :href="'/employee/' + employee._id + '/personal'"><img width="30" height="30" class="privy-photo" :src="employee.profilePhoto|s3_url('tiny')" alt="..."></a>
                            </td>
                            <td>
                                <a class="privy-name privy-last-name" :href="'/employee/' + employee._id + '/personal'">${employee.lastName}</a>
                            </td>
                            <td><a class="privy-name privy-last-name" :href="'/employee/' + employee._id + '/personal'">${employee.firstName}</a></td>
                            <td>
                                <template v-for="employment in employee.employments">
                                    <div v-if="employment.active"><a :class="(employee.employments.length > 1) ? 'text-success' : ''" :href="'/employee/' + employee._id + '/employment'">${employment.position}</a></div>
                                    <div v-else><a class="text-secondary" :href="'/employee/' + employee._id + '/employment'">${employment.position}</a></div>
                                </template>
                            </td>
                            <td>
                                <div v-for="employment in employee.employments">
                                    <a :href="'/employee/' + employee._id + '/employment'">${_.get(employment, 'department')}</a>
                                </div>
                            </td>
                            <td>
                                <div v-for="employment in employee.employments">
                                    <a :href="'/employee/' + employee._id + '/employment'">${_.get(employment, 'employmentType')|capitalize|replace(/^jo$/i,'Job Order')|replace(/^cos$/i,'COS')}</a>
                                </div>
                            </td>
                            <td>
                                <div v-for="employment in employee.employments">
                                    <a :href="'/employee/' + employee._id + '/employment'">${_.get(employment, 'group')|capitalize}</a>
                                </div>
                            </td>
                            <td>
                                <div v-for="employment in employee.employments">
                                    <a :href="'/employee/all?customFilter=campus&customFilterValue=' + _.get(employment, 'campus')">${_.get(employment, 'campus')|capitalize}</a>
                                </div>
                            </td>
                            <td v-if="query.customFilter=='pwd'">
                                ${_.get(employee, 'personal.pwdDetails')}
                            </td>
                            <td>
                                <small>${_.get(employee, 'email')}</small>
                            </td>
                            
                            <td>
                               <small>${_.get(employee, 'mobileNumber')}</small>
                            </td>
                            <td>
                                ${_.get(employee, 'gender')}
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="pagination.pages.length > 0" class="row">
                <div class="col-md-6 text-center text-md-left pt-3 pb-3">
                    <div class="pages">
                        <span>Pages</span>
                        <a v-on:click.prevent="goto($event)" v-for="p in pagination.pages" :href="paginationUrl({page:p})" :class="'btn btn-sm ' + ((pagination.page == p) ? 'btn-primary' : 'btn-light')">${p}</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-right pt-3 pb-5">
                    <a :href="'/employee/all.csv?' + query_string(pagination.query,{})" class="btn btn-primary btn-sm">Download CSV</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/axios.min.js"></script>
{# <script src="{{app.url}}/js/socket.io.min.js"></script> #}
<script>
    {# let socket = io("{{serverUrl}}/admin-page", {
        query: {
            room: 'employee-all'
        }
    }); #}
    let vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
            s: '{{s}}',
            employees: {{employees|default([], true)|stringify|safe}},
            pagination: {{pagination|default({}, true)|stringify|safe}},
            query: {{query|default({}, true)|stringify|safe}},
        },
        filters: {
            s3_url: function (value, sizePrefix = "") {
                if (!value) {
                    return ''
                }
                if (sizePrefix) {
                    sizePrefix += "-";
                }
                return `/file-getter/{{CONFIG.aws.bucket1.name}}/{{CONFIG.aws.bucket1.prefix}}/${sizePrefix}${value}`
            },
            capitalize: (value) => {
                return _.capitalize(value);
            },
            replace: (value,a,b) => {
                return value.replace(a,b)
            },
            query_string: function(defs, params){
                return this.query_string(defs, params)
            }
        },
        methods: {
            query_string: function(defs, params){
                let merged = { ...defs, ...params }
                let qs = new URLSearchParams(merged);
                return qs.toString()
            },
            paginationUrl: function(params){
                return `${this.pagination.urlBase}?${this.query_string(this.pagination.query, params)}`
            },
            goto: function(e){
                let me = this
                me.pending = true
                let r = axios.get(`${e.target.href}`, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(r => {
                    me.employees = _.get(r, 'data.employees', []);
                    me.pagination = _.get(r, 'data.pagination', {});
                    me.pending = false;
                }).catch(err => {
                    console.error(err)
                })
            },
            search: function(s){
                let me = this;
                me.pending = true;
                let r = axios.get(`/employee/all.json?s=${s}`, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(r => {
                    me.employees = _.get(r, 'data.employees', []);
                    me.pagination = _.get(r, 'data.pagination', {});
                    me.pending = false;

                    const url = new URL(window.location);
                    url.searchParams.set('s', s);
                    window.history.pushState({}, '', url);
                }).catch(err => {
                    console.error(err)
                })
            }
        },
        mounted: function(){
           
        }
    })
</script>
{% endblock %}