{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}
    {% include 'employee/employee-profile-photo.html' %}
    {% include 'employee/employee-view-tabs.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/biometrics" method="POST" class="form-default">

            <div class="form-group" :data-error="errors.biometricsId" @click="errors.biometricsId=false">
                <label for="biometricsId">Biometrics ID  <span class="text-danger">*</span></label>
                <div>
                    <input name="biometricsId" id="biometricsId" v-model="biometricsId" type="number" class="form-control">
                </div>
            </div>
            <div class="border p-3 border-radius-2">
                <label for="biometricsCampusOverride">Cross-Campus Logging</label>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group" :data-error="errors.biometricsCampusOverride" @click="errors.biometricsCampusOverride=false">
                            <div class="custom-control custom-switch">
                                <input v-model="biometricsCampusOverride" name="biometricsCampusOverride" type="checkbox" class="custom-control-input" id="biometricsCampusOverride" :value="'true'">
                                <label class="custom-control-label" for="biometricsCampusOverride">Allow</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div v-if="biometricsCampusOverride" class="form-group" :data-error="errors.biometricsCampusSelect" @click="errors.biometricsCampusSelect=false">
                            <div class="alert alert-info pl-2 pr-2 pt-1 pb-2 mb-1">
                                <small><em>Check [✓ ] the campus(es) where this employee can use the biometrics. </em></small>
                            </div>
                            {% for campus in ['salvador','mosqueda','baterna'] %}
                            <div class="form-check mb-2">
                                <input v-model="biometricsCampusSelect" name="biometricsCampusSelect[]" class="form-check-input mt-2" type="checkbox" value="{{campus}}" id="biometricsCampusSelect{{loop.index}}">
                                <label class="form-check-label mb-0" for="biometricsCampusSelect{{loop.index}}">{{campus|capitalize}}</label>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <a href="/employee/all" class="btn btn-light">Cancel</a>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        data: {
            biometricsId: '{{employee.biometricsId}}',
            biometricsCampusOverride: {{employee.biometricsCampusOverride|default(false, true)|stringify|safe}},
            biometricsCampusSelect: {{employee.biometricsCampusSelect|default([], true)|stringify|safe}},
            errors: {
                biometricsId: false,
                biometricsCampusOverride: false,
                biometricsCampusSelect: false,
            }
        },
        methods: {
            onSubmit: function(){
                let me = this;
                try {
                    if(!me.biometricsId){
                        me.errors.biometricsId = true
                        throw new Error('Biometrics ID is required.')
                    }
                    if(me.biometricsCampusOverride){
                        if(!me.biometricsCampusSelect.length){
                            me.errors.biometricsCampusSelect = true
                            throw new Error('Select at least 1 campus.')
                        }
                    }

                    me.$nextTick(function(){
                        me.$refs.form.submit()
                    })
                } catch (err) {
                    console.error(err)
                    alert(err.message)
                }
            }
        }
    });
</script>
{% endblock %}