{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Add Employee</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/employee/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Employee</a>
            </li>
        </ul>
    </div>
    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/create" method="POST" class="form-default">
            
            {% include 'employee/form-employee-info.html' %}

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <a href="/employee/all" class="btn btn-light">Cancel</a>
                        <button class="btn btn-primary">Add Employee</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var voices = []
    var synth = window.speechSynthesis;
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            firstName: '',
            middleName: '',
            lastName: '',
            suffix: '',
            gender: 'M',
            civilStatus: 'Single',
            birthDate: '',
            // region1: '06',
            // province1: '0679',
            // cityMun1: '067901',
            // brgyDistrict1: '',
            // unit1: '',
            // addressSame: false,
            voicesReady: false,
            speechSynthesisName: '',
            agencyEmployeeNumber: '',
        },
        validations: {
            firstName: {
                required: window.validators.required
            },
            lastName: {
                required: window.validators.required
            },
            gender: {
                required: window.validators.required
            },
            civilStatus: {
                required: window.validators.required
            },
            birthDate: {
                required: window.validators.required
            },
            // region1: {
            //     required: window.validators.required
            // },
            // cityMun1: {
            //     required: window.validators.required
            // },
            // brgyDistrict1: {
            //     required: window.validators.required
            // },
        },
        computed: {
            btnSpeechDisabled: function(){
                return _.trim(this.speechSynthesisName) === '' ? true : false;
            }
        },
        mounted: function(){
            var me = this;
            // Voices
            var timer = setInterval(function(){
                voices = synth.getVoices();

                if(voices.length > 0){
                    clearInterval(timer)
                    me.voicesReady = true;
                }
            }, 100)

            if(!me.speechSynthesisName){
                me.speechSynthesisName = me.firstName
            }
        },
        methods: {
            clean: function(){
                this.speechSynthesisName = this.speechSynthesisName.replace(/^Ma\./i, ''); // Remove maria
            },
            hambal: function(words){
                try {
                    if(this.voicesReady){
                        var utterThis = new SpeechSynthesisUtterance(words);
                        utterThis.voice = _.find(voices, function(v){
                            return v.name.includes('Microsoft Zira')
                        });
                        utterThis.pitch = 1;
                        utterThis.rate = 1;
                        synth.cancel();
                        synth.speak(utterThis);
                    }
                } catch (err){
                    console.error(err)
                }
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}