{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h4">Confirm Deletion</h1>
        </div>
       
    </div>
    {% if employee.employments.length > 0 %}
        <div class="alert alert-danger"><p class="mb-0">Cannot delete employee with employments. Please delete all associated employments first.</p></div>
        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                <a href="/employee/{{employee._id}}/personal" class="btn btn-light">Cancel</a>
            </div>
        </div>
    {% elif employee.userAccount %}
        <div class="alert alert-danger"><p class="mb-0">Cannot delete employee with an Online Account. Please delete the Online Account first.</p></div>
        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                <a href="/employee/{{employee._id}}/personal" class="btn btn-light">Cancel</a>
            </div>
        </div>
    {% else %}
    <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/delete" method="POST" class="form-default">
        <input type="hidden" name="acsrf" value="{{acsrf}}">
        <div class="alert alert-warning">Are you sure you want to delete employee "{{employee.firstName}} {{employee.lastName}}"?</div>
        <div class="form-row pt-3 pb-3">
            <div class="col-md-12 d-flex justify-content-between">
                <a href="/employee/{{employee._id}}/personal" class="btn btn-light">Cancel</a>
                <button class="btn btn-danger">Delete Employee</button>
            </div>
        </div>
    </form>
    {% endif %}

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var voices = []
    var synth = window.speechSynthesis;
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            
        },
        validations: {
           
        },
        computed: {
            
        },
        mounted: function(){
            var me = this;
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}