{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">
            List: {{employeeList.name}}
            </h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/employee/list/{{employeeList._id}}" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    
    <div id="vApp" v-cloak class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
        <form ref="form" v-on:submit.prevent="onSubmit" action="/employee/list/{{employeeList._id}}/update" method="POST" class="form-default pt-2">
            <div class="form-group">
                <label for="name">Name</label>
                <div>
                    <input v-model="name" name="name" id="name" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('name')}</small>
                </div>
            </div>
            <div class="form-group">
                <label for="tags">Tags <em>(Comma separated)</em></label>
                <div>
                    <input v-model="tags" name="tags" id="tags" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('tags')}</small>
                </div>
            </div>
            <div class="form-row pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        components: {
        },
        data: {
            name: '{{employeeList.name}}',
            tags: '{{employeeList.tags|join(',')}}',
            pending: false,
        },
        validations: {
            name: {
                required: window.validators.required
            },
            
        },
        mounted: function() {
            var me = this;
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}