{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'parts/employee-header.html' %}
    {% include 'parts/employee-profile-photo.html' %}
    {% include 'parts/employee-tabs.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        
        {% if employee.employments.length > 0 %}
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Source of Fund</th>
                        <th>Position</th>
                        <th>Salary</th>
                        <th>Salary Rate</th>
                        <th>Employment Type</th>
                        <th>Campus</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for employment in employee.employments %}
                    <tr>
                        <td>{{employment.fundSource}}</td>
                        <td>{{employment.position}}</td>
                        <td>{{employment.salary|currency}}</td>
                        <td>{{employment.salaryType}}</td>
                        <td>{{employment.employmentType|capitalize|replace(r/^jo$/i,'Job Order')|replace(r/^cos$/i,'COS')}}</td>
                        <td>{{employment.campus|capitalize}}</td>
                        <td>
                            <a href="/employee/employment/{{employee._id}}/{{employment._id}}">Edit</a> | 
                            <a href="/employee/{{employee._id}}/employment/{{employment._id}}/schedule/{{employment.workScheduleId}}">Sched</a>
                        </td>
                        <td>
                            <a href="/attendance/employee/{{employee._id}}/employment/{{employment._id}}">Att.</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>No employment. <a href="/employee/employment/{{employee._id}}/create" class="btn btn-link">Add Employment</a></p>
        {% endif %}
        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                <a href="/employee/employment/{{employee._id}}/create" class="btn btn-primary">Add Employment</a>
            </div>
        </div>

    </div>

</div>
{# {% include "parts/modal-employment.html" %} #}
{% endblock %}
{% block scripts %}
{{ super() }}
{# {% include "parts/script-employment.html" %} #}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            campus: '{{employee.employments[0].campus}}',
            group: '{{employee.employments[0].group}}',
            position: '{{employee.employments[0].position}}',
            employmentType: '{{employee.employments[0].employmentType}}',
            salary: '{{employee.employments[0].salary}}',
            salaryType: '{{employee.employments[0].salaryType}}',
            department: '{{employee.employments[0].department}}',
            fundSource: '{{employee.employments[0].fundSource}}',
            sssDeduction: '{{employee.employments[0].sssDeduction}}',
        },
        validations: {
            campus: {
                required: window.validators.required
            },
            group: {
                required: window.validators.required
            },
            position: {
                required: window.validators.required
            },
            employmentType: {
                required: window.validators.required
            },
            salary: {
                required: window.validators.required,
                isMoneyFormat: window.customValidators.isMoneyFormat('Not a valid money format.')
            },
            salaryType: {
                required: window.validators.required,
            },
            sssDeduction: {
                isMoneyFormat: window.customValidators.isMoneyFormat('Not a valid money format.')
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

