{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'parts/employee-header.html' %}
    {% include 'parts/employee-profile-photo.html' %}
    {% include 'parts/employee-tabs.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/employment/{{employee._id}}/{{employment._id}}" method="POST" class="form-default">
            
            {% set name = 'campus' %}
            {% set label = 'Campus *' %}
            {% set options = [{value:'', text:''}, {value:'main', text:'Main'}, {value:'baterna', text:'Baterna'}, {value:'mosqueda', text:'Mosqueda'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'group' %}
            {% set label = 'Group *' %}
            {% set options = [{value:'', text:''}, {value:'staff', text:'Staff'}, {value:'faculty', text:'Faculty'}, {value:'other', text:'Others'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'position' %}
            {% set label = 'Position *' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'employmentType' %}
            {% set label = 'Employment Type *' %}
            {% set options = [{value:'', text:''}, {value:'permanent', text:'Permanent'}, {value:'cos', text:'Contract of Service'}, {value:'jo', text:'Job Order'}, {value:'part-time', text:'Part-Time'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'salary' %}
            {% set label = 'Salary *' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'salaryType' %}
            {% set label = 'Salary Rate *' %}
            {% set options = [{value:'', text:''}, {value:'monthly', text:'Monthly'}, {value:'daily', text:'Daily'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'department' %}
            {% set label = 'Department' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'fundSource' %}
            {% set label = 'Source of Fund' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'sssDeduction' %}
            {% set label = 'SSS Amount' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}


            <div class="form-row pt-3 pb-3">
                <div class="col-md-6 text-md-left">
                    <a class="btn btn-link" href="/employee/employment/{{employee._id}}">Cancel</a>
                    <button class="btn btn-primary">Update</button>
                </div>
                <div class="col-md-6 text-md-right">
                    {# <a class="btn btn-danger" href="/employee/employment/{{employee._id}}/{{employment._id}}/delete">Delete</a> #}
                </div>
            </div>

        </form>
    </div>

</div>
{# {% include "parts/modal-employment.html" %} #}
{% endblock %}
{% block scripts %}
{{ super() }}
{# {% include "parts/script-employment.html" %} #}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            campus: '{{employment.campus}}',
            group: '{{employment.group}}',
            position: '{{employment.position}}',
            employmentType: '{{employment.employmentType}}',
            salary: '{{employment.salary}}',
            salaryType: '{{employment.salaryType}}',
            department: '{{employment.department}}',
            fundSource: '{{employment.fundSource}}',
            sssDeduction: '{{employment.sssDeduction}}',
        },
        validations: {
            campus: {
                required: window.validators.required
            },
            group: {
                required: window.validators.required
            },
            position: {
                required: window.validators.required
            },
            employmentType: {
                required: window.validators.required
            },
            salary: {
                required: window.validators.required,
                isMoneyFormat: window.customValidators.isMoneyFormat('Not a valid money format.')
            },
            salaryType: {
                required: window.validators.required,
            },
            sssDeduction: {
                isMoneyFormat: window.customValidators.isMoneyFormat('Not a valid money format.')
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

