{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}
    {% include 'employee/employee-profile-photo.html' %}
    {% include 'employee/employee-view-tabs.html' %}

    <div class="tab-content p-3 pt-4 min-height-500">
        <div class="d-flex align-items-center mb-4">
            <h1 class="h4 mr-3 mb-0">History</h1>
        </div>
        <ol>
            {% for h in history%}
            <li><span class="{{h.alert}}">{{h.description}}</span> | {{h.createdAt|format_date('MMM DD, YYYY - h:mm A')}} - <em>{{h.createdAt|from_now}}</em></li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock body %}