{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">
            {% if query.customFilter %}
                Employees - {{query.customFilterValue}} <em>({{pagination.totalDocs}})</em>
            {% else %}
                All Employees <em>({{pagination.totalDocs}})</em>
            {% endif %}
            
            </h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/employee/create" class="btn btn-sm btn-outline-primary">Add Employee</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    
    {% if employees.length <= 0 %}
        <p>None found.</p>
    {% else %}
        {% include 'employee/employee-tabs.html' %}
        
        <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
            <div class="d-flex justify-content-end">
                <div class=" pb-3 align-self-center pr-3">
                    Per page:
                </div>
                <div class=" pb-3">
                    {% set url = '/employee/all' %}
                    {% include 'parts/form-per-page.html' %}
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                {% set thId = 'lastName' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'firstName' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'position' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'employmentType' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'group' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            {# <th>
                                {% set thId = 'campus' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thLabel = 'Address' %}
                                {% set thId = 'address' %}
                                {% include 'parts/sorted-th.html' %}
                            </th> #}
                        </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{loop.index + (pagination.page - 1) * (pagination.perPage|default(0,true))}}</td>
                            <td><a href="/employee/{{employee._id}}/employment">{{employee.lastName}}</a></td>
                            <td><a href="/employee/{{employee._id}}/employment">{{employee.firstName}}</a></td>
                            <td><a href="/employee/{{employee._id}}/employment">{{employee.employments[0].position}}</a></td>
                            <td><a href="/employee/{{employee._id}}/employment">{{employee.employments[0].employmentType|capitalize|replace(r/^jo$/i,'Job Order')|replace(r/^cos$/i,'COS')}}</a></td>
                            <td><a href="/employee/{{employee._id}}/employment">{{employee.employments[0].group|capitalize}}</a></td>
                            {# <td><a href="/employee/all?customFilter=campus&customFilterValue={{employee.employments[0].campus}}">{{employee.employments[0].campus|capitalize}}</a></td>
                            <td>{{employee.address}}</td> #}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-md-left pt-3 pb-5">
                    <a href="{{pagination.urlBase}}?{{pagination.query|query_string({qr: 1})}}" class="btn btn-sm btn-primary">Generate QR</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-md-left pt-3 pb-5">
                    {% include "parts/pagination.html" %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

