{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}
    {% include 'employee/employee-profile-photo.html' %}
    {% include 'employee/employee-view-tabs.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/personal" method="POST" class="form-default">

            {% include 'employee/form-employee-info.html' %}

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <a href="/employee/all" class="btn btn-light">Cancel</a>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var voices = []
    var synth = window.speechSynthesis;
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            voicesReady: false,
            firstName: '{{employee.firstName}}',
            middleName: '{{employee.middleName}}',
            lastName: '{{employee.lastName}}',
            suffix: '{{employee.suffix}}',
            gender: '{{employee.gender|default(true, "M")}}',
            birthDate: '{{employee.birthDate|format_date("YYYY-MM-DD")}}',
            civilStatus: '{{employee.civilStatus|default(true, "S")}}',
            speechSynthesisName: '{{employee.speechSynthesisName}}',
            agencyEmployeeNumber: '{{employee.personal.agencyEmployeeNumber}}',
            biometricsId: '{{employee.biometricsId}}',
        },
        validations: {
            firstName: {
                required: window.validators.required
            },
            lastName: {
                required: window.validators.required
            },
            gender: {
                required: window.validators.required
            },
            birthDate: {
                required: window.validators.required
            },
            civilStatus: {
                required: window.validators.required
            },
        },
        computed: {
            btnSpeechDisabled: function(){
                return _.trim(this.speechSynthesisName) === '' ? true : false;
            }
        },
        mounted: function(){
            var me = this;
            // Voices
            var timer = setInterval(function(){
                voices = synth.getVoices();

                if(voices.length > 0){
                    clearInterval(timer)
                    me.voicesReady = true;
                }
            }, 100)

            if(!me.speechSynthesisName){
                me.speechSynthesisName = me.firstName
            }
        },
        methods: {
            clean: function(){
                this.speechSynthesisName = this.speechSynthesisName.replace(/^Ma\./i, ''); // Remove maria
            },
            hambal: function(words){
                try {
                    if(this.voicesReady){
                        var utterThis = new SpeechSynthesisUtterance(words);
                        utterThis.voice = _.find(voices, function(v){
                            return v.name.includes('Microsoft Zira')
                        });
                        utterThis.pitch = 1;
                        utterThis.rate = 1;
                        synth.cancel();
                        synth.speak(utterThis);
                    }
                } catch (err){
                    console.error(err)
                }
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}