{% extends "document.html" %}

{% block body %}
<div id="vApp" v-cloak class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}

    <form ref="form" v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/photo" method="POST" class="form-default">
        <div v-if="photo" class="text-center position-relative">

            <img v-bind:src="photo" id="preview" alt="photo">
        </div>

        {% set name = 'photo' %}
        <div class="form-group">
            <label for="{{name}}">Photo</label>
            <div>
                <input v-if="!photo" v-on:change="readFile($event, 'photo', 'canvas')"  id="{{name}}" ref="{{('file_'+name)|camel_case}}" type="file" class="form-control">
                <small class="invalid-feedback">${getError('{{name}}')}</small>
            </div>
        </div>
        <canvas id="canvas" class="" style="display: none"></canvas>
        <input type="hidden" name="photo" v-model="photo">
        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                <button class="btn btn-primary">Update Profile Photo</button>
                <a v-if="photo" onclick="return confirm('Delete permanently?');" href="/employee/{{employee._id}}/photo/delete" class="btn btn-danger">X</a>

            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-file-upload.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VueFileUpload.mixin, // vue-file-upload.js
        ],
        data: {
            photo: '{{employee.profilePhoto|default('', true)|s3_url('medium')}}',
        },
        validations: {
            photo: {
                required: window.validators.required
            },
        },
        methods: {
            watermark: function(){ // vue-file-upload.js
                return 'HRIS '+ moment().format('YYYY-MM-DD hh:mm:ss A');
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

