{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'parts/employee-header.html' %}
    {% include 'parts/employee-profile-photo.html' %}
    {% include 'parts/employee-tabs.html' %}

    <div class="tab-content p-3">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/employment/{{employment._id}}/schedule" method="POST" class="form-default">
            <p>Work Schedule Settings</p>

            <div class="table-responsive">
                <table class="table table-sm text-center">
                    <tr>
                        <th width="5%">Day</th>
                        <th width="5%">Type</th>
                        <th width="25%"colspan="2">Morning</th>
                        <th width="25%" colspan="2">Afternoon</th>
                        <th width="25%">Breaks</th>
                        <th width="5%">Hours</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>In</th>
                        <th>Out</th>
                        <th>In</th>
                        <th>Out</th>
                        <th></th>
                        <th></th>
                    </tr>
                    
                    <tr v-for="(weekDay, weekDayId) in workSchedule.weekDays">
                        <td v-bind:class="dayTypeClass(weekDay)">${weekDay.name}</td>
                        <td v-bind:class="dayTypeClass(weekDay)">
                            ${getTypeString(weekDayId)}
                        </td>
                        <td class="text-left">
                            <span v-if="getMorningIn(weekDayId)">
                                ${getMorningIn(weekDayId, 'hh:mmA')}
                                <em v-if="getGrace(weekDayId, 0)" title="Grace Period">(${getGrace(weekDayId, 0)})</em>
                            </span>
                        </td>
                        <td class="text-left">
                            ${getMorningOut(weekDayId, 'hh:mmA')}
                        </td>
                        <td class="text-left">
                            ${getAfternoonIn(weekDayId, 'hh:mmA')}
                            <em v-if="getGrace(weekDayId, 1)" title="Grace Period">(${getGrace(weekDayId, 1)})</em>
                        </td>
                        <td class="text-left">
                            ${getAfternoonOut(weekDayId, 'hh:mmA')}
                        </td>
                        <td class="text-left">
                            <div v-for="br in getBreaks(weekDayId)">
                                ${mToTime(br.start, 'h:mmA')}-${mToTime(br.end, 'h:mmA')} ${br.type} 
                            </div>
                        </td>
                        <td>
                            <button v-if="getTimeSegmentHours(weekDayId)" v-on:click="modalTimeSegmentShow(weekDay)" class="btn btn-sm btn-light" type="button">
                                ${getTimeSegmentHours(weekDayId)}
                            </button>
                            <button v-else v-on:click="modalTimeSegmentShow(weekDay)" class="btn btn-sm btn-success" type="button">
                                <svg style="width:16px;height:16px" viewBox="0 0 24 24"><path fill="currentColor" d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8 S16.41,20,12,20z M12.5,7H11v6l5.2,3.2l0.8-1.3l-4.5-2.7V7z"/></svg>
                            </button>
                        </td>
                    </tr>{# end v-for #}

                    <tr>
                        <td colspan="7" class="text-right">Total Weekly Hours</td>
                        <td>${getWeeklyHours()}</td>
                    </tr>
                </table>
            </div>
            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <a href="/employee/employment/{{employee._id}}" class="btn btn-light">Cancel</a>
                        <input type="hidden" name="workSchedule" v-model="workScheduleString">
                        <button class="btn btn-primary">Update Employment</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
{% include "attendance/schedule/modal-time-segment-settings.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
{% include "attendance/schedule/script-time-segment-settings.html" %}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            workSchedule: {{workSchedule|default({}, true)|stringify|safe}},
        },
        computed: {
            workScheduleString: function(){
                return JSON.stringify(this.workSchedule);
            }
        },
        mounted: function(){
            var me = this;
            
        },
        methods: {
            // Convert from minutes from midnight into HTML time input HH:mm
            mToTime: function(minutes, format){
                if(!minutes) return 0
                format = format || 'HH:mm'
                return moment().startOf('year').startOf('day').add(minutes, 'minutes').format(format)
            },
            // Convert from HTML time input HH:mm into minutes from midnight
            timeToM: function (time, format) {
                format = format || 'HH:mm'
                var momentDayStart = moment().startOf('day')

                var timeParser = moment(time, format)
                var momentTime = momentDayStart.clone().hours(timeParser.hours()).minutes(timeParser.minutes())

                return momentTime.diff(momentDayStart, 'minutes')
            },
            getTypeString: function(weekDayId){
                return (_.get(this.workSchedule, 'weekDays.' + weekDayId + '.type') === 1) ? 'Work' : 'Rest';
            },
            getBreaks: function(weekDay){
                var me = this;
                var timeSegments = _.get(me, 'workSchedule.weekDays.' + weekDay + '.timeSegments', []);
                timeSegments = JSON.parse(JSON.stringify(timeSegments))
                var breaks = []
                _.each(timeSegments, function(timeSegment) {
                    _.each(timeSegment.breaks, function(br){
                        breaks.push(br)
                    })
                });
                return breaks;
            },
            getTimeSegmentProp: function(weekDay, timeSegmentIndex, propName, format){
                var me = this;
                var m = _.get(me, 'workSchedule.weekDays.' + weekDay + '.timeSegments[' + timeSegmentIndex + '].' + propName);
                
                return (!m) ? '' : me.mToTime(m, format)
            },
            getTimeSegmentHours: function(weekDay){
                var me = this;
                var timeSegments = JSON.parse(JSON.stringify(_.get(me, 'workSchedule.weekDays.' + weekDay + '.timeSegments', [])));
                var minutes = 0;
                _.each(timeSegments, function(timeSegment){
                    var diff = me.timeToM(timeSegment.end) - me.timeToM(timeSegment.start);

                    var totalBreakTime = 0;
                    _.each(timeSegment.breaks, function(br){
                        totalBreakTime += me.timeToM(br.end) - me.timeToM(br.start);
                    })
                    minutes += (diff - totalBreakTime);
                });

                var hrs = moment.duration(minutes, 'minutes').as('hours');
                return (hrs === 0) ? 0 : hrs; 
            },
            getWeeklyHours: function(){
                var me = this;
                var weekDays = JSON.parse(JSON.stringify(_.get(me, 'workSchedule.weekDays')));
                var hrs = 0;
                _.each(weekDays, function(weekDay){
                    hrs += me.getTimeSegmentHours(weekDay.id)
                })
                
                return (hrs === 0) ? '' : hrs; 
            },

            getMorningIn: function(weekDay, format){
                var me = this;
                return me.getTimeSegmentProp(weekDay, 0, 'start', format)
            },
            getMorningOut: function(weekDay, format){
                var me = this;
                return me.getTimeSegmentProp(weekDay, 0, 'end', format)
            },
            getAfternoonIn: function(weekDay, format){
                var me = this;
                return me.getTimeSegmentProp(weekDay, 1, 'start', format)
            },
            getAfternoonOut: function(weekDay, format){
                var me = this;
                return me.getTimeSegmentProp(weekDay, 1, 'end', format)
            },

            setTime: function(weekDay, timeSegmentIndex, propName, time){
                var me = this;
                var m = me.timeToM(time)
                _.set(me, 'workSchedule.weekDays.' + weekDay + '.timeSegments[' + timeSegmentIndex + '].' + propName, m);
            },
            setMorningIn: function(weekDay, time){
                var me = this;
                me.setTime(weekDay, 0, 'start', time)
            },
            setMorningOut: function(weekDay, time){
                var me = this;
                me.setTime(weekDay, 0, 'end', time)
            },
            setAfternoonIn: function(weekDay, time){
                var me = this;
                me.setTime(weekDay, 1, 'start', time)
            },
            setAfternoonOut: function(weekDay, time){
                var me = this;
                me.setTime(weekDay, 1, 'end', time)
            },

            getGrace: function(weekDay, timeSegmentIndex){
                var me = this;
                return _.get(me, 'workSchedule.weekDays.' + weekDay + '.timeSegments[' + timeSegmentIndex + '].grace');
            },

            dayTypeClass: function(weekDay){
                return (weekDay.type===2) ? 'text-danger' : '';
            },
            
            modalTimeSegmentShow: function(weekDay){
                var me = this;
                vModalTimeSegmentSettings.clearForm()
                vModalTimeSegmentSettings.weekDay = weekDay;
                vModalTimeSegmentSettings.path = 'workSchedule.weekDays.' + weekDay.id;
                vModalTimeSegmentSettings.dayType = _.get(weekDay, 'type');
                vModalTimeSegmentSettings.morningIn = _.get(weekDay, 'timeSegments[0].start');
                vModalTimeSegmentSettings.morningOut = _.get(weekDay, 'timeSegments[0].end');
                vModalTimeSegmentSettings.morningGrace = _.get(weekDay, 'timeSegments[0].grace');
                //
                vModalTimeSegmentSettings.afternoonIn = _.get(weekDay, 'timeSegments[1].start');
                vModalTimeSegmentSettings.afternoonOut = _.get(weekDay, 'timeSegments[1].end');
                vModalTimeSegmentSettings.afternoonGrace = _.get(weekDay, 'timeSegments[0].grace');
                

                _.each(_.get(weekDay, 'timeSegments'), function(timeSegment){
                    _.each(timeSegment.breaks, function(br){
                        vModalTimeSegmentSettings.breaks.push(br)
                    })
                });

                jQuery('#modal-time-segment-settings').modal('show')
            },
            onSubmit: function(){
                var me = this;
                me.pending = true;
                me.$nextTick(function() {
                    me.$refs.form.submit();
                });
            }
        }
    });
</script>
{% endblock %}

