{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'parts/employee-header.html' %}
    {% include 'parts/employee-profile-photo.html' %}
    {% include 'parts/employee-tabs.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        {% if employee.user %}
            <p>Username: <em>{{employee.user.email}} </em></p>
            <p>Password: <em>****</em></p>
            <form onsubmit="return confirm('This will generate a new random password for this user. Continue?');" action="/employee/user/{{employee._id}}/password" method="POST" class="form-default">
                <p><button class="btn btn-primary btn-sm">Reset Password</button></p>
            </form>
        {% else %}
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/user/{{employee._id}}" method="POST" class="form-default">
            <p class="alert alert-info"><em>Employee does not have an HRIS web access account yet.</em></p>
            {% set name = 'username' %}
            {% set label = 'Username *' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'password' %}
            {% set label = 'New Password *' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}


            <div class="form-row pt-3 pb-3">
                <div class="col-md-6 text-md-left">
                    <a class="btn btn-link" href="/employee/{{employee._id}}">Cancel</a>
                    <button class="btn btn-primary">Create Web Account</button>
                </div>
                <div class="col-md-6 text-md-right">
                    {# <a class="btn btn-danger" href="/employee/employment/{{employee._id}}/{{employment._id}}/delete">Delete</a> #}
                </div>
            </div>

        </form>
        {% endif %}

    </div>

</div>
{# {% include "parts/modal-employment.html" %} #}
{% endblock %}
{% block scripts %}
{{ super() }}
{# {% include "parts/script-employment.html" %} #}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            username: '{{username}}',
            password: '{{password}}',
            
        },
        validations: {
            username: {
                required: window.validators.required
            },
            password: {
                required: window.validators.required,
                minLength: window.validators.minLength(8)
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

