{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3 mb-3 border-bottom">
        <h1 class="h5 mb-0">Documents</h1>
        <div class="btn-group">
            <a href="/e/document/create" class="btn btn-sm btn-success">Upload</a>
        </div>
    </div>

    <div class="tab-content p-3 mb-5">
        {% include 'parts/flash.html' %}
        <div class="form-inline align-items-stretch">
            <div class="col-md-3 col-lg-2 text-center m-2 p-2 border">
                <div>
                    <a href="/e-profile/pds1">
                        <svg style="width:64px;height:64px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M21.17 3.25Q21.5 3.25 21.76 3.5 22 3.74 22 4.08V19.92Q22 20.26 21.76 20.5 21.5 20.75 21.17 20.75H7.83Q7.5 20.75 7.24 20.5 7 20.26 7 19.92V17H2.83Q2.5 17 2.24 16.76 2 16.5 2 16.17V7.83Q2 7.5 2.24 7.24 2.5 7 2.83 7H7V4.08Q7 3.74 7.24 3.5 7.5 3.25 7.83 3.25M7 13.06L8.18 15.28H9.97L8 12.06L9.93 8.89H8.22L7.13 10.9L7.09 10.96L7.06 11.03Q6.8 10.5 6.5 9.96 6.25 9.43 5.97 8.89H4.16L6.05 12.08L4 15.28H5.78M13.88 19.5V17H8.25V19.5M13.88 15.75V12.63H12V15.75M13.88 11.38V8.25H12V11.38M13.88 7V4.5H8.25V7M20.75 19.5V17H15.13V19.5M20.75 15.75V12.63H15.13V15.75M20.75 11.38V8.25H15.13V11.38M20.75 7V4.5H15.13V7Z" />
                        </svg>
                    </a>
                </div>
                <p>CS Form No. 212 Personal Data Sheet</p>
                <div class="d-flex justify-content-center pb-2">
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a href="/e-profile/pds.xlsx" class="btn btn-sm btn-success">Download</a>
                            <a href="/e-profile/pds1" class="btn btn-sm btn-success">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for document in employee.documents %}
                <div class="col-md-3 col-lg-2 text-center m-2 p-2 border">
                    <div>
                        <a href="{{document.key|s3_url}}">
                            <svg style="width:64px;height:64px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M6,2A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6M6,4H13V9H18V20H6V4M8,12V14H16V12H8M8,16V18H13V16H8Z" />
                            </svg>
                        </a>
                    </div>
                    <p>{{document.name}}</p>
                    <p>{{document.docType}}</p>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

