{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3 mb-3 border-bottom">
        <h1 class="h5 mb-0">Add File</h1>
    </div>

    {% include 'parts/flash.html' %}

    <div class="tab-content p-3 mb-5 min-height-500">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/e/document/create" method="POST" enctype="multipart/form-data" class="form-default">
            <div class="form-group">
                <label for="document">Accepted File: <em>Images (JPEG, PNG), PDF</em></label>
                <div>
                    <input v-on:change="readFile" name="document" id="document" ref="fileDocument" v-bind:accept="acceptList" type="file" class="form-control">
                    <small class="invalid-feedback">${getError('filesLength')}</small>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Document Name</label>
                <div>
                    <input v-model="name" name="name" id="name" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('name')}</small>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="docTypeSelect">Document Type <span class="text-danger">*</span></label>
                        <div>
                            <select v-on:change="onDocTypeChange" v-model="docTypeSelect" name="docTypeSelect" id="docTypeSelect" class="form-control">
                                <option value=""></option>
                                {% for option in e201Types %}
                                    <option value="{{option}}">{{option}}</option>
                                {% endfor %}
                                <option value="others">Others</option>
                            </select>
                            <small class="invalid-feedback">${getError('docTypeSelect')}</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div v-if="docTypeSelect==='others'" class="form-group">
                            <label for="docTypeSelect">Please specify document type<span class="text-danger">*</span>:</label>
                            <div>
                                <input type="text" v-model="docType" name="docType" id="docType" class="form-control">
                                <small class="invalid-feedback">${getError('docType')}</small>
                            </div>
                        </div>
                        <input v-else type="hidden" v-model="docType" name="docType" id="docType">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            pending: false,
            accept: ['image/jpeg', 'image/png', 'application/pdf', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'],
            name: '',
            docType: '',
            docTypeSelect: '',
            filesLength: 0,
        },
        validations: {
            name: {
                required: window.validators.required
            },
            docTypeSelect: {
                required: window.validators.required
            },
            docType: {
                required: window.validators.required
            },
            filesLength: {
                required: window.validators.minValue(1)
            },
        },
        computed: {
            acceptList: function(){
                return this.accept.join(', ')
            }
        },
        methods: {
            onDocTypeChange: function(event){
                this.docType = (this.docTypeSelect === 'others') ? '' : this.docTypeSelect
            },
            readFile: function(event){
                var me = this;
                var files = [];
                if('target' in event){
                    if('files' in event.target){
                        files = event.target.files
                    }
                }
                if(files){
                    var count = files.length;
                    me.filesLength = count

                    if(count > 1){
                        // Remove all FileList content
                        event.target.value = "";
                        return alert('Maximum of 1 file only');
                    }

                    for(var i = 0; i < count; i++){
                        if(me.accept.indexOf(files.item(i).type) === -1){
                            // Remove all FileList content
                            event.target.value = "";

                            return alert('File type not allowed. Must be one of the following: ' + me.accept.join(', '));
                        }

                        me.name = files.item(i).name

                    }
                    
                }
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}
