{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="px-4 py-5">
        <div class="id-card pt-3 pb-3">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center pb-3">
                    <div>Republic of the Philippines</div>
                    {# <div class="mb-2">Province of Guimaras</div> #}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 text-center">
                    <div class="photo">
                        {% if person.profilePhoto %}
                            <img src="{{person.profilePhoto|s3_url('medium')}}" alt="{{person.firstName|first}}. {{person.lastName|first}}.">
                        {% else %}
                            <span class="initials">{{person.firstName|first}} {{person.lastName|first}}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 text-center text-md-left py-4 py-md-0">
                    <h1 class="h5" style="font-size: 16px; text-transform: uppercase; font-weight: bold"><u>{{person.firstName}}</u> <u>{{person.middleName}}</u> <u>{{person.lastName}}</u> <u>{{person.suffix}}</u></h1>
                    <p class="mb-1"><span style="font-size: 10px; line-height: 1.2;">Address:</span> <span style="font-size: 12px">{{person.address}}</span></p>
                    <p class="mb-1"><span style="font-size: 10px">Date of Birth:</span> <span style="font-size: 12px">{{person.birthDate|format_date("MMM DD, YYYY")}}</span></p>
                    <p class="mb-1"><span style="font-size: 10px">Gender:</span> <span style="font-size: 12px">{{person.gender}}</span></p>
                
                </div>
                <div class="col-md-4 text-center">
                    <div>{{qrCodeSvg|safe}}</div>

                    <p>{{person.uid}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            photo: '',
        },
        validations: {
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

