{% extends "document.html" %}

{% block body %}
<div class="p-3">

    {% include 'parts/flash.html' %}
    {% include 'parts/payroll-header.html' %}
    {% include 'parts/payroll-tabs.html' %}

    <div id="vApp" v-cloak class="tab-content pt-3 pb-2 pl-3 pr-2">
        <div v-if="pending" class="wait cover"></div>

        {% if payroll.rows.length > 0 %}
            {% if payroll.template === 'permanent' %}
                {% include 'payroll/table-permanent-vue.html' %}
            {% elif payroll.template === 'cos_staff' %}
                {% include 'payroll/table-cos-vue.html' %}
            {% endif %}
        {% endif %}
        <hr>
        <form ref="form" v-cloak v-on:submit.prevent="onSubmit" action="/payroll/employees/{{payroll._id}}" method="POST" class="form-default pt-2">
            <div class="form-group">
                    <label for="employmentId">Add Employee <span class="text-danger">*</span></label>
                    <div>
                        <autocomplete v-model="employmentId"
                            name="employmentId"
                            initial-value="{{''}}"
                            initial-display="{{''}}"
                            placeholder="Type employee name..."
                            :source="dataSource"
                            input-class="form-control"
                            :request-headers="headers"
                            v-on:selected="onSelect"
                            >
                        </autocomplete>
                        <small class="invalid-feedback">${getError('employmentId')}</small>
                    </div>
            </div>
            <div class="form-row pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Add Employee</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% include "parts/modal-employment.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/axios.min.js"></script>
<script src="{{app.url}}/js/script-axios-extend.js"></script>
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script src="{{app.url}}/js/vue-money.js"></script>
<script src="{{app.url}}/js/Sortable.min.js"></script>
{% include "parts/script-employment.html" %}
<script>
{# var el = document.getElementById('sort-me'); #}
    
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VuePhAddress.mixin,
            VueMoney.mixin,
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            employmentId: '',
            pending: false,
            payroll: {{payroll|default({}, true)|stringify|safe}},
        },
        computed: {
            deductionsMandatory: function () {
                return this.users.filter(function (user) {
                    return user.isActive
                })
            }
        },
        validations: {
            employmentId: {
                required: window.validators.required
            },
        },
        mounted: function() {
            var me = this;
            me.$nextTick(function () {
                if(!document.getElementById('sortMe')) return
                var sortable = Sortable.create(document.getElementById('sortMe'), {
                    handle: '.dragMe',
                    onEnd: function (evt) {
                        if(evt.newIndex === evt.oldIndex) return;

                        jQuery('.cover').addClass('wait')
                        var rows = []
                        jQuery('.drag-employment').each(function(i, e){
                            rows.push(String(jQuery(e).data('ruid'))) // Row UID
                        })
                        me.pending = true;
                        window.axios.post('/payroll/{{payroll._id}}/sort-rows', {rows: rows}).then(function(response){
                            var data = response.data;
                            console.log('Changes saved.');
                        }).catch(function(error){
                            handleAxiosError(error);
                        }).then(function(){
                            me.pending = false;
                            jQuery('.cover').removeClass('wait');
                        });
                    },
                });
            })
        },
        methods: {
            filterBy: function(array, filterObj) {
                return _.filter(array, filterObj)
            },
            getTotalIncentives: function(incentives){
                incentives = incentives.map(o => o.amount)
                return incentives.reduce( (accum, current) => {
                    return accum + current;
                }, 0)
            },
            getTotalDeductions: function(deductions){
                deductions = deductions.map(o => o.amount)
                return deductions.reduce( (accum, current) => {
                    return accum + current;
                }, 0)
            },
            getSubTotal: function(path){
                let subTotal = 0;
                this.payroll.rows.forEach((row)=>{
                    subTotal += _.get(row, path, 0)
                })
                return subTotal
            },
            getIncentivesSubTotal: function(uid){
                let subTotal = 0;
                this.payroll.rows.forEach((row)=>{
                    let incentiveIndex = _.findIndex(row.incentives, (o)=>o.uid===uid)
                    subTotal += _.get(row, `incentives.${incentiveIndex}.amount`, 0)
                })
                return subTotal
            },
            getTotalX: function(){
                let subTotal = 0;
                for(let x = 0; x < this.payroll.rows.length; x++){
                    let row = this.payroll.rows[x]

                    subTotal += this.getTotalIncentives(row.incentives) + _.get(row, 'computed.amountWorked', 0)

                }
               
                return subTotal
            },
            getTotalY: function(){
                let subTotal = 0;
                for(let x = 0; x < this.payroll.rows.length; x++){
                    let row = this.payroll.rows[x]

                    subTotal += _.get(row, 'computed.amountWorked', 0) + this.getTotalIncentives(row.incentives) - this.getTotalDeductions(row.deductions)
                }
               
                return subTotal
            },
            deleteRow: function(i){
                this.payroll.rows.splice(i, 1)
            },
            editInput: function(e, deductionType) {
                if(deductionType=='percentage') return
                var el = jQuery(e.target)
                var elInput = el.siblings('input')
                elInput.data('orig', elInput.val())
                el.parents('td').addClass('editable')
                elInput.focus()
            },
            lockInput: function(e) { // onBlur
                var el = jQuery(e.target)
                el.parents('td').removeClass('editable')

                e.target.value = this.toMoney(e.target.value)
            },

            editText: function(e) {
                var el = jQuery(e.target)
                var elInput = el.siblings('input')
                el.parents('td').addClass('editable')
                elInput.focus()
            },
            lockText: function(e) { // onBlur
                var el = jQuery(e.target)
                el.parents('td').removeClass('editable')
            },
            toMoney: function(value){
                value = parseFloat(_.trim(value).replace(/[^0-9.]+/ig, ''))
                value = isNaN(value) ? 0 : value
                return value
            },
            inputMoney: function(e, deduction){
                deduction.amount = this.toMoney(e.target.value)
            },
            onKeyUp: function(e, deduction) {
                var el = jQuery(e.target)

                if(e.keyCode === 27){
                    deduction.amount = el.data('orig')
                    el.blur()
                }
            },
            moment: function (date) {
                return moment(date);
            },
            addRow: function(type) {
                var me = this;
                me.pending = true
                axios.post(`/payroll/{{payroll._id}}/add-row`, {type: type}, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function(response){
                    me.payroll.rows.push(_.get(response, 'data'))
                    console.log(response.data);
                }).catch(function(error){
                    alert("Something went wrong.");
                }).then(function(){
                    me.pending = false
                });
            },
            saveMe: function() {
                var me = this;
                me.pending = true
                axios.post(`/payroll/{{payroll._id}}/save`, {rows: JSON.parse(JSON.stringify(me.payroll.rows))}, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function(response){
                    console.log(response.data);
                }).catch(function(error){
                    alert("Something went wrong.");
                }).then(function(){
                    me.pending = false
                });

            },
            updateAmount: function(){
                var me = this;
                var totalAmountPostIncentives = 0;
                var totalAmountPostDeductions = 0;
                for(x = 0; x < me.payroll.employees.length; x++){
                    var employee = me.payroll.employees[x];
                    var totalIncentives = 0;
                    for(b = 0; b < employee.incentives.length; b++){
                        var incentive = employee.incentives[b];
                        totalIncentives += parseFloat(incentive.amount)
                    }
                    employee.totalIncentives = totalIncentives;
                    employee.amountPostIncentives = employee.amountWorked - totalIncentives
                    totalAmountPostIncentives += employee.amountPostIncentives

                    var totalDeductions = 0;
                    for(b = 0; b < employee.deductions.length; b++){
                        var deduction = employee.deductions[b];
                        totalDeductions += parseFloat(deduction.amount)
                    }
                    employee.totalDeductions = totalDeductions;
                    employee.amountPostDeductions = employee.amountWorked - totalDeductions
                    totalAmountPostDeductions += employee.amountPostDeductions

                }
                me.payroll.totalAmountPostIncentives = totalAmountPostIncentives
                me.payroll.totalAmountPostDeductions = totalAmountPostDeductions

            },
            dataSource: function(input) {
                return '/employee?s=' + input
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

