{% extends "document.html" %}

{% block body %}
<div class="col-md-12">

    {% include 'parts/flash.html' %}
    {% include 'parts/payroll-header.html' %}
    {% include 'parts/payroll-tabs.html' %}

    <div id="vApp" v-cloak class="tab-content pt-3 pb-2 pl-3 pr-2">
        {% if payroll.employments.length > 0 %}
            {% if payroll.template === 'permanent' %}
                {% include 'payroll/table-permanent-vue.html' %}
            {% else %}
                <div class="table-responsive">
                    <div class="cover"></div>
                    <table class="table table-payroll table-striped">
                        <thead>
                            <tr>
                            <th></th>
                               <th>Name</th>
                                <th>Position</th>
                                {# <th>Office Assigned</th> #}
                                <th>Daily Wage</th>
                                <th>No. of Days/Hrs/Mins <br>Rendered</th>
                                <th>Amount</th>
                                {# {% for deduction in payroll.deductions %}
                                    <th>{{deduction.name}}</th>
                                {% endfor %}
                                <th>Total Deductions</th>
                                <th>Net Amount</th> #}
                            </tr>
                        </thead>
                        <tbody id="sortMe">
                        {% for employment in payroll.employments %}
                            {% set employee = employment.employee %}
                            <tr class="drag-employment" data-id="{{employment._id}}" data-employee-id="{{employee._id}}">
                                <td style="padding:0; text-align:center; vertical-align: middle;">
                                    <svg class="dragMe" style="cursor: move; width:24px;height:24px; opacity: 0.4" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M7,19V17H9V19H7M11,19V17H13V19H11M15,19V17H17V19H15M7,15V13H9V15H7M11,15V13H13V15H11M15,15V13H17V15H15M7,11V9H9V11H7M11,11V9H13V11H11M15,11V9H17V11H15M7,7V5H9V7H7M11,7V5H13V7H11M15,7V5H17V7H15Z" />
                                    </svg>
                                </td>
                                <td>{{employee.lastName}}, {{employee.firstName}} <u>{{employee.middleName|first}}</u></td>
                                <td>{{employment.position}}</td>
                                {# <td>{{employment.department}}</td> #}
                                <td>{{employment.salary|currency}}</td>
                                <td>
                                    <a href="http://localhost:9094/attendance/employee/employment/{{employee._id}}/{{employment._id}}?month={{payroll.dateStart|format_date('MMM')}}&amp;year={{payroll.dateStart|format_date('YYYY')}}&amp;undertime=1" class="d-flex">
                                        <div>{{employment.timeRecord.renderedDays}} days</div>
                                        <div class="pl-2 pr-2">{{employment.timeRecord.renderedHours}} hrs</div>
                                        <div>{{employment.timeRecord.renderedMinutes}} mins</div>
                                    </a>
                                </td>
                                {# {% for incentive in employment.incentives %}
                                    <td>{{incentive.amount|currency}}</td>
                                {% endfor %} #}
                                <td>{{employment.amountWorked|currency}}</td>
                                {# <td>{{employment.grantTotal|currency}}</td>
                                {% for deduction in employment.deductions %}
                                    <td>
                                        {{deduction.amount|currency}}
                                    </td>
                                {% endfor %}
                                <td>{{employment.totalDeductions|currency}}</td>
                                <td>{{employment.netAmountPostDeductions|currency}}</td> #}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div> 
                <div class="d-flex ">
                    <a href="/payroll/employees/{{payroll._id}}/payroll.xlsx" class="btn btn-light">Download</a>
                </div>
            {% endif %}
        {% endif %}
        <hr>
        <form ref="form" v-cloak v-on:submit.prevent="onSubmit" action="/payroll/employees/{{payroll._id}}" method="POST" class="form-default pt-2">
            <div class="form-group">
                    <label for="employmentId">Add Employee <span class="text-danger">*</span></label>
                    <div>
                        <autocomplete v-model="employmentId"
                            name="employmentId"
                            initial-value="{{''}}"
                            initial-display="{{''}}"
                            placeholder="Type employee name..."
                            :source="dataSource"
                            input-class="form-control"
                            :request-headers="headers"
                            v-on:selected="onSelect"
                            >
                        </autocomplete>
                        <small class="invalid-feedback">${getError('employmentId')}</small>
                    </div>
            </div>
            <div class="form-row pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Add Employee</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% include "parts/modal-employment.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/axios.min.js"></script>
<script src="{{app.url}}/js/script-axios-extend.js"></script>
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script src="{{app.url}}/js/vue-money.js"></script>
<script src="{{app.url}}/js/Sortable.min.js"></script>
{% include "parts/script-employment.html" %}
<script>
{# var el = document.getElementById('sort-me'); #}
    
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VuePhAddress.mixin,
            VueMoney.mixin,
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            employmentId: '',
            pending: false,
            payroll: {{payroll|default({}, true)|stringify|safe}},
        },
        validations: {
            employmentId: {
                required: window.validators.required
            },
        },
        mounted: function() {
            var me = this;
            me.$nextTick(function () {
                if(!document.getElementById('sortMe')) return
                var sortable = Sortable.create(document.getElementById('sortMe'), {
                    handle: '.dragMe',
                    onEnd: function (evt) {
                        if(evt.newIndex === evt.oldIndex) return;

                        jQuery('.cover').addClass('wait')
                        var employments = []
                        jQuery('.drag-employment').each(function(i, e){
                            employments.push({
                                _id: jQuery(e).data('id'),
                                employeeId: jQuery(e).data('employee-id')
                            })
                        })
                        me.pending = true;
                        window.axios.post('/payroll/employees/{{payroll._id}}/sort-employments', {employments: employments}).then(function(response){
                            var data = response.data;
                            console.log('Changes saved.');
                        }).catch(function(error){
                            handleAxiosError(error);
                        }).then(function(){
                            me.pending = false;
                            jQuery('.cover').removeClass('wait');
                        });
                    },
                });
            })
        },
        methods: {
            stringToMoney: function(amount) {
                return parseFloat(_.trim(amount).replace(/,/ig, ''))
            },
            getTotalMandatoryDeductions: function(employmentIndex){
                let total = 0;
                let deductions = this.payroll.employments[employmentIndex].deductionsMandatory
                for(x = 0; x < deductions.length; x++){
                    var amount = deductions[x].amount
                    deductions[x].amount = amount
                    total += deductions[x].amount
                }
                this.payroll.employments[employmentIndex].totalDeductionsMandatory = total
            },
            getTotalNonMandatoryDeductions: function(employmentIndex){
                let total = 0;
                let deductions = this.payroll.employments[employmentIndex].deductionsNonMandatory
                for(x = 0; x < deductions.length; x++){
                    var amount = deductions[x].amount
                    deductions[x].amount = amount
                    total += deductions[x].amount
                }
                this.payroll.employments[employmentIndex].totalDeductionsNonMandatory = total
            },
            editInput: function(e, rowIndex, deductionIndex) {
                var el = jQuery(e.target)
                var elInput = el.siblings('input')
                elInput.data('orig', elInput.val())
                el.parents('td').addClass('editable')
                elInput.focus()
            },
            lockInput: function(e, rowIndex, deductionIndex) { // onBlur
                var el = jQuery(e.target)
                el.val(parseFloat(_.trim(e.target.value).replace(/[^0-9.]+/ig, '')))
                el.parents('td').removeClass('editable')
            },
            inputMoney: function(e, d){
                d.amount = parseFloat(_.trim(e.target.value).replace(/[^0-9.]+/ig, ''))
            },
            onKeyUp: function(e, rowIndex, deductionIndex) {
                var el = jQuery(e.target)

                if(e.keyCode === 27){
                    this.payroll.employments[rowIndex].deductions[deductionIndex].amount = el.data('orig')
                    el.blur()
                }
            },
            moment: function (date) {
                return moment(date);
            },
            saveNow: function(value, d, employeeIndex, deductionIndex) {
                var me = this;

                d.vueReadOnly = true
                d.vueDisabled = true
                axios.post(`/payroll/{{payroll._id}}/ded`, {value: value}, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function(response){
                    console.log(response.data);
                }).catch(function(error){
                    alert("Something went wrong.");
                }).then(function(){
                    d.vueDisabled = false
                });

            },
            saveMe: function() {
                var me = this;

                axios.post(`/payroll/{{payroll._id}}/save`, {employments: JSON.parse(JSON.stringify(me.payroll.employments))}, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function(response){
                    console.log(response.data);
                }).catch(function(error){
                    alert("Something went wrong.");
                }).then(function(){
                });

            },
            updateAmount: function(){
                var me = this;
                var totalAmountPostIncentives = 0;
                var totalAmountPostDeductions = 0;
                for(x = 0; x < me.payroll.employees.length; x++){
                    var employee = me.payroll.employees[x];
                    var totalIncentives = 0;
                    for(b = 0; b < employee.incentives.length; b++){
                        var incentive = employee.incentives[b];
                        totalIncentives += parseFloat(incentive.amount)
                    }
                    employee.totalIncentives = totalIncentives;
                    employee.amountPostIncentives = employee.amountWorked - totalIncentives
                    totalAmountPostIncentives += employee.amountPostIncentives

                    var totalDeductions = 0;
                    for(b = 0; b < employee.deductions.length; b++){
                        var deduction = employee.deductions[b];
                        totalDeductions += parseFloat(deduction.amount)
                    }
                    employee.totalDeductions = totalDeductions;
                    employee.amountPostDeductions = employee.amountWorked - totalDeductions
                    totalAmountPostDeductions += employee.amountPostDeductions

                }
                me.payroll.totalAmountPostIncentives = totalAmountPostIncentives
                me.payroll.totalAmountPostDeductions = totalAmountPostDeductions

            },
            dataSource: function(input) {
                return '/employee?s=' + input
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

