<div class="table-responsive">
    <div class="cover"></div>
    <table class="table table-payroll table-sm table-striped">
        <thead>
            <tr>
            <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Basic</th>
                {% for incentive in payroll.incentives %}
                    <th>{{incentive.name}}</th>
                {% endfor %}
                <th>Total</th>
                <th>Undertime</th>
                <th>
                    Less: <br> Late
                </th>
                <th>Grant Total</th>
                {% for deduction in payroll.deductions %}
                    {% if deduction.mandatory %}
                        <th>{{deduction.name}}</th>
                    {% endif %}
                {% endfor %}
                <th>Total Mandatory Deductions</th>
                {% for deduction in payroll.deductions %}
                    {% if deduction.mandatory == false %}
                        <th>{{deduction.name}}</th>
                    {% endif %}
                {% endfor %}
                <th>Total Non-Mandatory Deductions</th>
            </tr>
        </thead>
        <tbody id="sortMe">
            <tr v-for="(employment, rowIndex) in payroll.employments" class="drag-employment" v-bind:data-id="employment._id" v-bind:data-employee-id="employment.employee._id">
                <td style="padding:0; text-align:center; vertical-align: middle;">
                    <svg class="dragMe" style="cursor: move; width:24px;height:24px; opacity: 0.4" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7,19V17H9V19H7M11,19V17H13V19H11M15,19V17H17V19H15M7,15V13H9V15H7M11,15V13H13V15H11M15,15V13H17V15H15M7,11V9H9V11H7M11,11V9H13V11H11M15,11V9H17V11H15M7,7V5H9V7H7M11,7V5H13V7H11M15,7V5H17V7H15Z" />
                    </svg>
                </td>
                <td>${employment.employee.lastName}, ${employment.employee.firstName} <u>${_.first(employment.employee.middleName)}</u></td>
                <td>${employment.position}</td>
                <td>${employment.salary|currency}</td>
                <td v-for="incentive in employment.incentives">${incentive.amount|currency}</td>
                <td>${employment.amountPostIncentives|currency}</td>
                <td>
                    <a target="_blank" v-bind:href="`http://localhost:9094/attendance/employee/employment/${employment.employee._id}/${employment._id}?month=${moment(payroll.dateStart).format('MMM')}&amp;year=${moment(payroll.dateStart).format('YYYY')}&amp;undertime=1`" class="d-flex">
                        <div>${employment.timeRecord.underDays} days</div>
                        <div class="pl-2 pr-2">${employment.timeRecord.underHours} hrs</div>
                        <div>${employment.timeRecord.underMinutes} mins</div>
                    </a>
                </td>
                <td>${((employment.tardiness) ? employment.tardiness : 0) | currency}</td>
                <td>${employment.grantTotal|currency}</td>
                <td v-for="(deduction, deductionIndex) in filterDeductions(rowIndex, true)">
                    <input v-on:blur="lockInput($event, rowIndex, deductionIndex)" type="text" v-bind:value="deduction.amount" v-on:input="inputMoney($event, deduction)">
                    <span class="text-danger" v-on:dblclick="editInput($event, rowIndex, deductionIndex, deduction.deductionType)">${deduction.amount | currency}</span>
                </td>
                <td>${getTotalDeductions(rowIndex, true) | currency}</td>
                <td v-for="(deduction, deductionIndex) in filterDeductions(rowIndex, false)">
                    <input v-on:blur="lockInput($event, rowIndex, deductionIndex)" type="text" v-bind:value="deduction.amount" v-on:input="inputMoney($event, deduction)">
                    <span class="text-danger" v-on:dblclick="editInput($event, rowIndex, deductionIndex, deduction.deductionType)">${deduction.amount | currency}</span>
                </td>
                <td>${getTotalDeductions(rowIndex, false) | currency}</td>
            </tr>
            
        </tbody>
    </table>

</div> 
<div class="mt-3">
    <button type="button" v-on:click="saveMe" class="btn btn-primary">Save</button>
    <a href="/payroll/employees/{{payroll._id}}/payroll.xlsx" class="btn btn-light">Download</a>
</div>