{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    
    {% include 'account/part-header.html' %}
    {% include 'account/part-tabs.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
    {% include 'parts/flash.html' %}

        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/account/password" method="POST" class="form-default">
            <h3 class="h6">Change Password</h3>
            <p><em>Note: Please dont share your password with anyone. Your HRIS account serves as your digital identity in GSU.</em></p>
            <hr>
            
            <div class="form-group">
                <label for="oldPassword">Current Password</label>
                <div class="toggled-password-group">
                    <input id="oldPassword" placeholder="Type your current password..." name="oldPassword" v-model="oldPassword" v-bind:type="passwordType" class="form-control">
                    <button v-on:click="togglePassword" class="btn btn-eye d-flex align-items-center" v-bind:data-state="passwordType" type="button">
                        <svg style="width:18px;height:18px" viewBox="0 0 24 24"><path d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg>
                        <svg style="width:18px;height:18px" viewBox="0 0 24 24" ><path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>
                    </button>
                </div>
                <small class="invalid-feedback">${getError('oldPassword')}</small>
            </div>
            
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <div class="toggled-password-group">
                    <input v-on:keyup="checkPassword($event.target.value, ['{{user.email}}', '{{user.firstName}}', '{{user.lastName}}'])" v-on:blur="checkPassword($event.target.value, ['{{user.email}}', '{{user.firstName}}', '{{user.lastName}}'])" id="newPassword" placeholder="Your new password..." name="newPassword" v-model="newPassword" v-bind:type="passwordType2" class="form-control">
                    <button v-on:click="togglePassword2" class="btn btn-eye d-flex align-items-center" v-bind:data-state="passwordType2" type="button">
                        <svg style="width:18px;height:18px" viewBox="0 0 24 24"><path d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg>
                        <svg style="width:18px;height:18px" viewBox="0 0 24 24" ><path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>
                    </button>
                </div>
                <small class="invalid-feedback">${getError('newPassword')}</small>
                {# <em>${passSuggest}</em> #}
                <div v-if="newPassword.length>0" class="mb-3 mt-3">
                    <label for="">Your password must have:</label>
                    <div>
                        <small></small>
                        <ul class="list-none">
                            <li><span class="text-danger" v-if="!passwordUpper">✗</span><span class="text-success" v-else>✓</span> - One uppercase character</li>
                            <li><span class="text-danger" v-if="!passwordLower">✗</span><span class="text-success" v-else>✓</span> - One lowercase character</li>
                            <li><span class="text-danger" v-if="!passwordSpecial">✗</span><span class="text-success" v-else>✓</span> - One special character</li>
                            <li><span class="text-danger" v-if="!passwordMoreThan8">✗</span><span class="text-success" v-else>✓</span> - Minimum of 8 characters</li>
                            <li><span class="text-danger" v-if="!passwordStrong">✗</span><span class="text-success" v-else>✓</span> - A strong score. Score: ${passwordDesc}. </li>
                        </ul> 
                    </div>
                </div>
            </div>

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Change Password</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/script-password.js"></script>
<script src="{{app.url}}/js/zxcvbn.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            window.VuePassword.mixin,
        ],
        data: {
            oldPassword: '',
            newPassword: '',
        },
        validations: {
            oldPassword: {
                required: window.validators.required
            },
            newPassword: {
                required: window.validators.required,
                isStrongPassword: window.customValidators.isStrongPassword('Weak password.')
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

