<div class="hros certificate-of-appearance">
    <div class="border-thick">
        <div class="border-thin p-5">
            <div class="row align-items-end">
                <div class="col-12 text-center mb-5">
                    <h1>Certificate of Appearance</h1>
                </div>
            </div>
            <div class="row mb-1 align-items-end">
                <div class="col-10 text-center">
                </div>
                <div class="col-2 text-center">
                    <div class="underline-min"></div>
                    <div>Date</div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-12">
                    <p class="text-uppercase font-weight-bold mb-5">To Whom it May Concern:</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is to certify that <span class="underline text-center"> {{employee.firstName}} {{employee.middleName|first}}. {{employee.lastName}}</span> of  <span class="text-uppercase font-weight-bold">Guimaras State College</span>, Buenavista, Guimaras has personally appeared on this office on <span class="underline" contenteditable="true"></span> on <span class="underline" contenteditable="true"></span>.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Issued this <span class="underline" contenteditable="true"></span> day of <span class="underline" contenteditable="true"></span> at <span class="underline" contenteditable="true"></span>.</p>
                    <p class="text-right">
                        <span class="underline" contenteditable="true"></span>
                    </p>
                </div>
                
            </div>
           
            
        </div>
    </div>
</div>
