{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}
    {% include 'employee/employee-profile-photo.html' %}
    {% include 'employee/employee-view-tabs.html' %}

    <div class="tab-content p-3 pt-4 min-height-500">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/employment/create" method="POST" class="form-default">
            
            {% set name = 'campus' %}
            {% set label = 'Campus *' %}
            {% set options = [{value:'', text:''}, {value:'main', text:'Salvador'}, {value:'baterna', text:'Baterna'}, {value:'mosqueda', text:'Mosqueda'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'group' %}
            {% set label = 'Group *' %}
            {% set options = [{value:'', text:''}, {value:'staff', text:'Staff'}, {value:'faculty', text:'Faculty'}, {value:'other', text:'Others'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'position' %}
            {% set label = 'Position *' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'employmentType' %}
            {% set label = 'Employment Type *' %}
            {% set options = [{value:'', text:''}, {value:'permanent', text:'Permanent'}, {value:'cos', text:'Contract of Service'}, {value:'jo', text:'Job Order'}, {value:'part-time', text:'Part-Time'}, {value:'casual', text:'Casual'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'salary' %}
            {% set label = 'Salary *' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'salaryType' %}
            {% set label = 'Salary Rate *' %}
            {% set options = [{value:'', text:''}, {value:'monthly', text:'Monthly'}, {value:'daily', text:'Daily'}, {value:'hourly', text:'Hourly'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'department' %}
            {% set label = 'Department' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'fundSource' %}
            {% set label = 'Source of Fund' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'sssDeduction' %}
            {% set label = 'SSS Amount' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'workScheduleId' %}
            {% set label = 'Work Schedule *' %}
            {% set options = workSchedules %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <a href="/employee/{{employee._id}}/employment" class="btn btn-light">Cancel</a>
                        <button class="btn btn-primary">Add Employment</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
{# {% include "parts/modal-employment.html" %} #}
{% endblock %}
{% block scripts %}
{{ super() }}
{# {% include "parts/script-employment.html" %} #}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            campus: '',
            group: '',
            position: '',
            employmentType: '',
            salary: '',
            salaryType: '',
            department: '',
            fundSource: '',
            sssDeduction: '',
            workScheduleId: '',
            workSchedules: {{workSchedules|default([], true)|stringify|safe}},
        },
        validations: {
            campus: {
                required: window.validators.required
            },
            group: {
                required: window.validators.required
            },
            position: {
                required: window.validators.required
            },
            employmentType: {
                required: window.validators.required
            },
            workScheduleId: {
                required: window.validators.required
            },
            salary: {
                required: window.validators.required,
                isMoneyFormat: window.customValidators.isMoneyFormat('Not a valid money format.')
            },
            salaryType: {
                required: window.validators.required,
            },
            sssDeduction: {
                isMoneyFormat: window.customValidators.isMoneyFormat('Not a valid money format.')
            },
        },
        mounted: function(){
            this.workScheduleId = _.get(this.workSchedules, '0.value')
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

