{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}
    {% include 'employee/employee-profile-photo.html' %}
    {% include 'employee/employee-view-tabs.html' %}

    <div class="tab-content p-3 pt-4 min-height-500">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/employment/{{employment._id}}/update" method="POST" class="form-default">

            <div class="form-group" :data-error="errors.campus" @click="errors.campus=false">
                <label for="campus">Campus <span class="text-danger">*</span></label>
                <select v-model="campus" name="campus" id="campus" class="form-control">
                    {% set options = CONFIG.campuses %}
                    {% for option in options %}
                        <option value="{{option.value}}">{{option.text}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" :data-error="errors.group" @click="errors.group=false">
                <label for="group">Group <span class="text-danger">*</span></label>
                <select v-model="group" name="group" id="group" class="form-control">
                    {% set options = [{value:'', text:''}, {value:'staff', text:'Staff'}, {value:'faculty', text:'Faculty'}, {value:'other', text:'Others'}] %}
                    {% for option in options %}
                        <option value="{{option.value}}">{{option.text}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" :data-error="errors.employmentType" @click="errors.employmentType=false">
                <label for="employmentType">Employment Type <span class="text-danger">*</span></label>
                <select @blur="guessPosition" name="employmentType" id="employmentType" v-model="employmentType" class="form-control">
                    {% set options = [{value:'', text:''}, {value:'permanent', text:'Permanent'}, {value:'cos', text:'Contract of Service'}, {value:'jo', text:'Job Order'}, {value:'part-time', text:'Part-Time'}, {value:'casual', text:'Casual'}, {value:'volunteer', text:'Volunteer'}] %}
                    {% for option in options %}
                        <option value="{{option.value}}">{{option.text}}</option>
                    {% endfor %}
                </select>
            </div>
             
            <div class="form-group" :data-error="errors.position" @click="errors.position=false">
                <label for="position">Position <span class="text-danger">*</span></label>
                <input name="position" id="position" v-model="position" type="text" class="form-control">
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group" :data-error="errors.salary" @click="errors.salary=false">
                        <label v-if="employmentType=='volunteer'" for="salary">Allowance</label>
                        <label v-else for="salary">Salary <span class="text-danger">*</span></label>
                        <input step="any" name="salary" id="salary" v-model="salary" type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" :data-error="errors.salaryType" @click="errors.salaryType=false">
                        <label v-if="employmentType=='volunteer'" for="salary">Allowance Rate</label>
                        <label v-else for="salary">Salary Rate <span class="text-danger">*</span></label>
                        <select name="salaryType" id="salaryType" v-model="salaryType" class="form-control">
                            {% set options = [{value:'', text:''}, {value:'monthly', text:'Monthly'}, {value:'daily', text:'Daily'}, {value:'hourly', text:'Hourly'}, {value:'na', text:'N/A'}] %}
                            {% for option in options %}
                                <option value="{{option.value}}">{{option.text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group" :data-error="errors.workScheduleId" @click="errors.workScheduleId=false">
                <label for="workScheduleId">Work Schedule <span target="_blank" class="text-danger">*</span> <a href="/schedule/create" class="btn btn-sm btn-outline-secondary">Create Schedule</a></label>
                <div>
                    <autocomplete v-model="workScheduleId"
                        name="workScheduleId"
                        :initial-value="workSchedule.id"
                        :initial-display="workSchedule.name"
                        placeholder=""
                        :source="workSchedules"
                        input-class="form-control"
                        :request-headers="headers"
                        v-on:selected="onSelect"
                        >
                    </autocomplete>
                </div>
            </div>

            <div class="form-group" :data-error="errors.employmentStart" @click="errors.employmentStart=false">
                <label for="employmentStart">Employment Start</label>
                <input name="employmentStart" id="employmentStart" v-model="employmentStart" type="date" class="form-control">
            </div>
            
            <div class="form-group" :data-error="errors.employmentEnd" @click="errors.employmentEnd=false">
                <label for="employmentEnd">Employment End</label>
                <input name="employmentEnd" id="employmentEnd" v-model="employmentEnd" type="date" class="form-control">
            </div>

            <div class="form-group" :data-error="errors.department" @click="errors.department=false">
                <label for="department">Department</label>
                <input name="department" id="department" v-model="department" type="text" class="form-control">
            </div>

            <div class="form-group" :data-error="errors.fundSource" @click="errors.fundSource=false">
                <label for="fundSource">Source of Fund</label>
                <input name="fundSource" id="fundSource" v-model="fundSource" type="text" class="form-control">
            </div>

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a href="/employee/{{employee._id}}/employment" class="btn btn-light">Cancel</a>
                                    <a href="/employee/{{employee._id}}/employment/{{employment._id}}/delete" class="btn btn-danger">Delete Employment</a>
                                    <a href="/employee/{{employee._id}}/employment/{{employment._id}}/promote" class="btn btn-success">Promote Employment</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-primary">Update Employment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
{# {% include "parts/modal-employment.html" %} #}
{% endblock %}
{% block scripts %}
{{ super() }}
{# {% include "parts/script-employment.html" %} #}
<script src="{{app.url}}/js/vuejs-auto-complete-extend.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vueJsAutoCompleteExtendMixin
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            active: '{{employment.active}}',
            campus: '{{employment.campus}}',
            group: '{{employment.group}}',
            position: '{{employment.position}}',
            employmentType: '{{employment.employmentType}}',
            employmentStart: "{{employment.employmentStart|default('',true)|format_date('YYYY-MM-DD')}}",
            employmentEnd: "{{employment.employmentEnd|default('',true)|format_date('YYYY-MM-DD')}}",
            salary: '{{employment.salary}}',
            salaryType: '{{employment.salaryType}}',
            department: '{{employment.department}}',
            fundSource: '{{employment.fundSource}}',
            sssDeduction: '{{employment.sssDeduction}}',
            workScheduleId: '{{employment.workScheduleId}}',
            workSchedules: {{workSchedules|default([], true)|stringify|safe}},
            errors: {
                campus: false,
                group: false,
                employmentType: false,
                position: false,
                salary: false,
                salaryType: false,
                workScheduleId: false,
            },
        },
        computed: {
            workSchedule: function(){
                const me = this;
                let found = me.workSchedules.find(w => w.id === me.workScheduleId)
                if(found) {
                    return found
                }
                return {
                    id: '',
                    name: ''
                }
            }
        },
        methods: {
            guessPosition: function(){
                let position = ''
                if(this.employmentType === 'cos'){
                    position += 'COS'
                } else if(this.employmentType === 'part-time'){
                    position += 'Part-Time'
                } else if(this.employmentType === 'volunteer'){
                    position += 'Volunteer'
                }
                if(this.group === 'faculty'){
                    if(!this.position){
                        this.position = position + ' Faculty'
                    }
                }
            },
            onSubmit: function(){
                const me = this;
                try {
                    if(!me.campus){
                        me.errors.campus = true
                        throw new Error('Campus is required.')
                    }
                    
                    if(!me.group){
                        me.errors.group = true
                        throw new Error('Group is required.')
                    }
                    
                    if(!me.employmentType){
                        me.errors.employmentType = true
                        throw new Error('Employment Type is required.')
                    }
                    
                    if(!me.position){
                        me.errors.position = true
                        throw new Error('Position is required.')
                    }

                    if(!me.salary){
                        me.errors.salary = true
                        throw new Error('Salary is required.')
                    } else {
                        if(me.employmentType !== 'volunteer'){
                            if(parseInt(me.salary) <= 0){
                                me.errors.salary = true
                                throw new Error('Salary must be more than 0.')
                            }
                        }
                    }

                    if(!me.salaryType){
                        me.errors.salaryType = true
                        throw new Error('Salary Rate is required.')
                    } else {
                        
                    }

                    if(!me.workScheduleId){
                        me.errors.workScheduleId = true
                        throw new Error('Work Schedule is required.')
                    }

                    me.$nextTick(function(){
                        me.$refs.form.submit()
                    })
                } catch (err) {
                    console.error(err)
                    alert(err.message)
                }
            }
        }
    });
</script>
{% endblock %}

