<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="d-flex align-items-start">
        <div>
            <h1 class="privy-name">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</h1>
            <p class="mb-0 pl-1 privy-address">{{employee.address}}</p>
        </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="/employee/all" class="btn btn-sm btn-outline-primary">Back</a>
        </div>
    </div>
</div>