<form id="form" action="{{url}}">
    <select onchange="document.getElementById('form').submit()" name="perPage" id="perPage" class="form-control">
        <option value="">All</option>
        <option {% if pagination.perPage == 1 %}selected{% endif %} value="1">1</option>
        <option {% if pagination.perPage == 2 %}selected{% endif %} value="2">2</option>
        <option {% if pagination.perPage == 5 %}selected{% endif %} value="5">5</option>
        <option {% if pagination.perPage == 10 %}selected{% endif %} value="10">10</option>
        <option {% if pagination.perPage == 20 %}selected{% endif %} value="20">20</option>
        <option {% if pagination.perPage == 50 %}selected{% endif %} value="50">50</option>
    </select>
</form>