<div id="vAppModalConsent" v-cloak class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex">
                    <svg class="mr-1" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                    </svg>

                    <span><strong>Data Privacy</strong> </span>
                </h5>
               
            </div>
            <div class="modal-body pl-4 pr-4">
                {% include 'data-privacy-content.html' %}
                <h6 class="font-weight-bold mb-3">Consent Form</h6>
                <div class="pl-md-4">
                    <p>All information shall be used by the University for legitimate purposes
                    specifically for and shall be processed by authorized personnel in accordance
                    with the Data Privacy Policies of the University.</p>
                    
                    <p>By clicking the "I Accept" button, I hereby allow/authorize GSU to use, collect and process the information for
                    legitimate purposes specifically for, and allow authorized personnel to process
                    the information.</p>
                </div>
            </div>
            <div class="modal-footer justify-content-center pb-5">
                <button v-bind:disabled="pending" id="btn-consent" v-on:click="submit" class="ml-2 btn btn-success" >
                    <span v-if="pending">(${privacyCountDown}) Please take a minute to read your data privacy before accepting <br></span>
                    <span class="mr-2">  I Accept </span>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#FFF" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>