<div id="modal-alert-success" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            
            <div class="modal-body text-center">
                <div class="text-center mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:60px; height:60px"  viewBox="0 0 24 24"><title>ok</title><path fill="green" d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z" /></svg>
                </div>
                <h2 class="h5 text-success mb-4">Success</h2>
                <div class="mb-4 content"></div>
                <button class="btn btn-success" type="button" class="close" data-dismiss="modal" aria-label="Close" style="border-radius: 25px; padding: 3px 15px 5px;">Okay</button>
            </div>
        </div>
    </div>
</div>