<div id="vAppModalConsent" v-cloak class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex">
                    <svg class="mr-1" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                    </svg>

                    <span><strong>Data Privacy</strong> </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-4 pr-4">
                <h1 class="h4 text-center">Data Privacy Consent Form</h1>
                <p class="text-center">(For Employees)</p>
                <p><strong>Guimaras State College (GSU)</strong> aims to comply with the <strong>Data Privacy Act of 2012 (DPA)</strong> and cooperate fully with the <strong>National Privacy Commission (NPC)</strong>. We regard your privacy with utmost importance. GSU is committed to meeting both your personal privacy, which is important to us, and ensuring that our genuine and legitimate interests as an educational institution and our ability to fully and effectively carry out our responsibilities as such are met. </p>

                <p>In this Form, the terms, “personal data” and “information” are used interchangeably. When we speak of “personal data”, the term includes the concepts of personal information, sensitive personal information, and privileged information. The first two are typically used to distinctively identify you. For their exact definitions, you may refer to the text of the DPA. </p>

                <h6 class="font-weight-bold mb-3">Processing of Personal Data </h6>

                <div class="pl-4">
                    <h6>A. Collection of Information</h6>
                    <div class="pl-4">
                        <p>We collect your personal data that include those you provide us during your job application, information we acquire or generate upon employment and during the course of your employment with us. </p>
                        <div class="pl-4">
                            <p>1. Information you provide us during your job application</p>
                            <div class="pl-4">
                                <p>Upon job application, we collect information found in the Civil Service Commission’s Personal Data Sheet (Revised 2017) such as – but not limited to – name, birth date, gender, civil status, government IDs, address, educational background, eligibility, work experience, familial info, etc.</p>
                            </div>
                      
                            <p>2. Information we acquire or generate upon employment and during the course of your employment with us </p>
                            <div class="pl-4">
                                <p>Upon employment and during the course of your stay with us, we collect information on your attendance, payroll, performance, medical records, and other human resource management records found in the Civil Service's PRIME-HRM memorandum.</p>
                            </div>
                        </div>
                    </div>
                
                    <h6>B. Access to Information </h6>
                    <div class="pl-4">
                        <p>Your personal information is accessed and used by GSU, specifically the Human Resource Management Office (HRMO), Management Information System Office (MIS), Accounting, Cashier Office and any other personnel who have legitimate interest in it for the purpose of carrying out their mandated duties. 
                        <p>We use and share your information as permitted or required by law to pursue our legitimate interests as an educational institution, including a variety of academic, administrative, historical, and statistical purposes. </p>
                        <p>Some examples of situations when we may use your information to pursue our legitimate interests as an educational institution are as follows: </p>
                        <ol>
                            <li>Establishing and maintaining information systems;</li>
                            <li>	Generating payroll information; </li>
                            <li>	Maintaining directories and contact information; </li>
                            <li>	Compiling and generating reports for statistical and research purposes; </li>
                            <li>	Recording, generating and maintaining records of professional development;</li>
                            <li>	Providing services such as health, information technology, safety and security;</li>
                            <li>	Communicating office issuances or announcements;</li>
                        </ol>
                    </div>
               
                    <h6>C. Sharing of Information </h6>
                    <div class="pl-4">
                        <p>Some examples of when we may share or disclose your personal information to others include: </p>
                        <ol>
                            <li>Reporting and/or disclosing information to the NPC and other government bodies or agencies (e.g., Commission on Higher Education, Civil Service Commission, etc.);</li>
                            <li>Sharing information for accreditation and university ranking purposes;</li>
                            <li>Responding to inquiries verifying that you are an employee of the school; </li>
                            <li>Conducting research or surveys for purposes of institutional development; </li>
                            <li>Sharing your contact information to the schools’ staff or students; </li>
                            <li>Publishing academic, co-curricular and extra-curricular activities such as - but not limited to - commencement exercises, college orientation, etc.</li>
                            <li>Sharing your academic accomplishments or honors and co -curricular or extracurricular achievements with the general public; </li>
                            <li>Marketing or advertising to promote the school, including its activities and events, through photos, videos, brochures, website posting, newspaper advertisements, physical and electronic bulletin boards, social media and other media; </li>
                            <li>Publishing communications with journalistic content </li>
                        </ol>
                    </div>
                </div>
                <h6 class="font-weight-bold mb-3">Data Protection</h6>
                <div class="pl-4">

                    <p>We shall implement reasonable and appropriate organizational, physical, and technical security measures for the protection of personal data which we collected. </p>

                    <p>The security measures shall aim to maintain the availability, integrity, and confidentiality of personal data and are intended for the protection of personal data against any accidental or unlawful destruction, alteration, and disclosure, as well as against any other unlawful processing </p>

                    <p>We only permit your data to be accessed or processed by our authorized personnel who hold such information under strict confidentiality. We restrict access to information to anyone who like to know/obtain such information without justifiable ground. </p>

                    <p>Any data security incident or breach that comes to the knowledge of GSU will be recorded and reported as required by law. GSU will take all necessary and reasonable steps to address such incident or breach and mitigate any negative effect of such incident or breach. If there is strong suspicion that an incident affects your personal information, GSU will notify you of such incident in an appropriate manner. </p>
                </div>

                <h6 class="font-weight-bold mb-3">Confidentiality </h6>
                <div class="pl-4">
                    <p>Authorized personnel shall operate and hold personal data under strict confidentiality. They are required to sign non-disclosure agreements and have received training on the institution’s privacy and security policies to ensure confidentiality and security of personal data. </p>
                </div>

                <h6 class="font-weight-bold mb-3">Right to Privacy  </h6>
                <div class="pl-4">
                    <p>As provided by the Act, you may object to the processing of your personal data, request to access your personal information, and/or have it corrected, erased, or blocked on reasonable grounds. For the details of your rights as a data subject, you can get in touch with our Data Privacy Officer at contact details below or at National Privacy Commission at https://privacy.gov.ph/. GSU will consider your request and reserves the right to deal with the matter in accordance with the law. </p>
                </div>

                <h6 class="font-weight-bold mb-3">Contact Information  </h6>
                <div class="pl-4">
                    <p>If you have further questions or concerns regarding your privacy rights, this Consent Form or any matter regarding the Data Privacy Act of 2012, you may contact our Data Protection Officer through the following details: </p>
                    <p class="text-center">
                        The GSU Data Privacy Response Team <br>
                        <strong>Dr. Simeon J. Cainday III</strong>  <br>
                        Data Protection Officer<br>
                        Tel No. <a href="tel:+639338608261">+63 933 860 8261</a><br>
                        E-mail address: <a href="mailto:dpo@gsc.edu.ph" class="">dpo@gsc.edu.ph</a>
                    </p>
                </div>

                <h6 class="font-weight-bold mb-3">Consent Form</h6>
                <div class="pl-4">
                    <p>All information shall be used by the College for legitimate purposes
                    specifically for and shall be processed by authorized personnel in accordance
                    with the Data Privacy Policies of the College.</p>
                    
                    <p>By clicking the Allow button, I hereby allow/authorize GSU to use, collect and process the information for
                    legitimate purposes specifically for, and allow authorized personnel to process
                    the information.</p>
                </div>
            </div>
            <div class="modal-footer justify-content-center pb-5">
                <button id="btn-consent" v-on:click="submit" class="ml-2 btn btn-success" style="display:flex;">
                    <span class="mr-2">Allow</span>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#FFF" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>