<div id="modal-help-pds" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="font-family: Poppins; font-weight: 300;">
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center">
                    <span>Personal Data Sheet Guide</span>
                </h5>
                <button v-bind:disabled="disabled" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                
                <h6 class="h6 mb-3">Notes</h6>
                <ol>
                    <li class="mb-1">Don't use ALL CAPS.</li>
                    <li class="mb-1">Don't abbreviate.</li>
                    <li class="mb-1">Fields marked with (<span class="text-danger">*</span>) are required.</li>
                    <li class="mb-1">Leave optional fields as blank. Write N/A if its not applicable.</li>
                </ol>
                <div class="mb-5">
                    <p>If you really want to abbreviate, write the full name along with the abbreviation enclosed in parenthesis: <br><em class="ml-5">Guimaras State College (GSC)</em></p>
                </div>
                
                <div class="text-center">
                    <button class="btn btn-success" @mouseenter="kk" type="button" class="close" data-dismiss="modal" aria-label="Close" style="border-radius: 25px; padding: 3px 15px 5px;">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>