<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="d-flex align-items-start">
        <div class="pt-2">
            <button class="toggler mr-2">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div>
            <h1>{{person.firstName}} {{person.middleName}} {{person.lastName}}</h1>
            <p class="mb-0 pl-1">{{person.address}}</p>
        </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="/resident/all" class="btn btn-sm btn-outline-primary">Back</a>
        </div>
    </div>
</div>