<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/resident\/personal\/(.)+/])}}" href="/resident/personal/{{person._id}}">Personal Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/resident\/address\/(.)+/])}}" href="/resident/address/{{person._id}}">Address</a>
        </li>
        {# <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/resident\/income\/(.)+/])}}" href="/resident/income/{{person._id}}">Income</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/resident\/family\/(.)+/])}}" href="/resident/family/{{person._id}}">Family</a>
        </li> #}
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/resident\/id-card\/(.)+/])}}" href="/resident/id-card/{{person._id}}">ID Card</a>
        </li>
        {# <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/resident\/passes\/(.)+/])}}" href="/resident/passes/{{person._id}}">Passes</a>
        </li> #}
    </ul>
</div>