{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">
                Users
            </h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/user/create" class="btn btn-sm btn-outline-primary">Add User</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    
    {% if users.length <= 0 %}
        <p>None found.</p>
    {% else %}
        {# {% include 'user/user-tabs.html' %} #}
        
        <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
            {# <div class="d-flex justify-content-end">
                <div class=" pb-3 align-self-center pr-3">
                    Per page:
                </div>
                <div class=" pb-3">
                    {% set url = '/user/all' %}
                    {% include 'parts/form-per-page.html' %}
                </div>
            </div> #}
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                {% set thId = 'username' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'lastName' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'firstName' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'email' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'active' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                            <th>
                                {% set thId = 'roles' %}
                                {% include 'parts/sorted-th.html' %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{loop.index + (pagination.page - 1) * (pagination.perPage|default(0,true))}}</td>
                            <td><a href="/user/{{user._id}}/edit">{{user.username}}</a></td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.active}}</td>
                            <td>{{user.roles|join(', ')}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-md-left pt-3 pb-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-md-left pt-3 pb-5">
                    {% include "parts/pagination.html" %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

