{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">Change Password {{userO.username}}</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/user/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/user/{{userO._id}}/password" method="POST" class="form-default">
            {% set name = 'password' %}
            {% set label = 'New Password' %}
            <div class="form-group">
                <label for="{{name}}">
                    {% if label %}
                        {{label}}
                    {% else %}
                        {{name|start_case}}
                    {% endif %}
                </label>
                <a href="/user/{{userO._id}}/password" class="btn btn-sm btn-light">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
                    </svg>
                </a>
                <div>
                    <input name="{{name}}" id="{{name}}" v-model="{% if vModel %}{{vModel}}{% else %}{{name}}{% endif %}" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('{{name}}')}</small>
                </div>
            </div>
            {% set label = '' %}

            <div class="form-group">
                <div>
                    <div class="form-check">
                        <input v-model="notify" name="notify" class="form-check-input" type="checkbox" value="1" id="notify">
                        <label class="form-check-label" for="notify">Notify {{userO.username}} by sending the password on "{{userO.email}}".</label>
                    </div>
                </div>
            </div>
            
            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Change</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        components: {
        },
        data: {
            password: '{{password}}',
            notify: '1',
        },
        validations: {
            password: {
                required: window.validators.required,
                minLength: window.validators.minLength(10)
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

