{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1 class="h2">Human Resource Online Services</h1>
            <p class="mb-3 pl-1">Choose from one of the online services of the HRMO.</p>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    <div class="tab-content p-3">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <div class="card">
                    
                    <div class="card-body">
                        <h5 class="card-title text-center">Authority to Travel <br>&nbsp;</h5>
                        <div class="text-center">
                            <a href="/hros/at/all" class="btn btn-success btn-sm">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                   
                    <div class="card-body">
                        <h5 class="card-title text-center">Certificate of Appearance <br>&nbsp;</h5>
                        <div class="text-center">
                            <div class="btn-group">
                                <a href="/hros/coa" class="btn btn-success btn-sm">Print</a>
                                <a href="/hros/coa/share" class="btn btn-success btn-sm">Share</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

