{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1 class="h4">Group: {{employeeList.name}}</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                {# <a href="/payroll/group/{{employeeList._id}}/update" class="btn btn-sm btn-outline-primary">Edit</a> #}
                <a href="/payroll/group/{{employeeList._id}}?refresh=1" class="btn btn-sm btn-outline-primary">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M18 14.5C19.11 14.5 20.11 14.95 20.83 15.67L22 14.5V18.5H18L19.77 16.73C19.32 16.28 18.69 16 18 16C16.62 16 15.5 17.12 15.5 18.5C15.5 19.88 16.62 21 18 21C18.82 21 19.55 20.61 20 20H21.71C21.12 21.47 19.68 22.5 18 22.5C15.79 22.5 14 20.71 14 18.5C14 16.29 15.79 14.5 18 14.5M4 3H18C19.11 3 20 3.9 20 5V12.17C19.5 12.06 19 12 18.5 12C17.23 12 16.04 12.37 15.04 13H12V17H12.18C12.06 17.5 12 18 12 18.5L12 19H4C2.9 19 2 18.11 2 17V5C2 3.9 2.9 3 4 3M4 7V11H10V7H4M12 7V11H18V7H12M4 13V17H10V13H4Z" />
                    </svg>
                </a>
                <a href="/payroll/group/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    
    <div id="vApp" v-cloak class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
        <p v-if="employeeList.members.length <= 0">No employees in list.</p>
        <div v-else class="table-responsive">
            <p class="h6">${employeeList.members.length} employees</p>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th>Name</th>
                        <th>Fund Source</th>
                        <th>Position</th>
                        <th width="1%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(member, index) in employeeList.members">
                        <td>${index+1}</td>
                        <td><a v-bind:href="`/employee/${member.employeeId}/employment`">${member.lastName}, ${member.firstName} ${member.suffix}</a></td>
                        <td>${member.fundSource}</td>
                        <td>${member.position}</td>
                        <td class="text-center">
                            <button v-on:click.prevent="deleteMember(member._id, index)" class="btn btn-sm btn-none text-danger">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <form ref="form" v-on:submit.prevent="onSubmit" action="/payroll/group/{{employeeList._id}}/member" method="POST" class="form-default pt-2">
            <div class="form-group">
                <label for="employmentId">Employee <span class="text-danger">*</span></label>
                <div>
                    <autocomplete ref="autocomplete" v-model="employmentId"
                        name="employmentId"
                        initial-value="{{''}}"
                        initial-display="{{''}}"
                        placeholder="Type employee name..."
                        :source="dataSource"
                        input-class="form-control"
                        :request-headers="headers"
                        v-on:selected="onSelect"
                        >
                    </autocomplete>
                    <small class="invalid-feedback">${getError('employmentId')}</small>
                </div>
            </div>
            <div class="form-row pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Add To List</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    Vue.config.errorHandler = function (err, vm, info) {
        console.error(err)
        console.log(info)
    // handle error
    // `info` is a Vue-specific error info, e.g. which lifecycle hook
    // the error was found in. Only available in 2.2.0+
    }
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VuePhAddress.mixin
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            employmentId: '',
            pending: false,
            employeeList: {{employeeList|default(true, [])|stringify|safe}},
        },
        validations: {
            employmentId: {
                required: window.validators.required
            },
        },
        mounted: function() {
            var me = this;
        },
        methods: {
            dataSource: function(input) {
                return '/employee?s=' + input
            },
            deleteMember: function(memberId, index){
                var me = this;
                
                if(!confirm('Remove member?')) return false

                me.pending = true

                fetch(`/payroll/group/{{employeeList._id}}/member/${memberId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then(async function(response){
                    if (response.ok) {
                        me.employeeList.members.splice(index, 1)
                    } else {
                        throw new Error(await response.text())
                    }
                }).catch(async function(error){
                    console.error(error)
                    alert(error);
                }).then(function(){
                    me.pending = false
                });
            },
            onSubmit: function(){
                var me = this;
                me.pending = true;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    fetch(`/payroll/group/{{employeeList._id}}/member`, {
                        method: 'POST',
                        body: JSON.stringify({
                            employmentId: me.employmentId
                        }),
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }).then(async function(response){
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error(await response.text())
                        
                    }).then(function(responseJson){
                        me.employeeList = responseJson
                        me.$refs.autocomplete.clear()
                    }).catch(async function(error){
                        console.error(error)
                        alert(error);
                    }).then(function(){
                        me.pending = false
                    });
                }
            }
        }
    });
</script>
{% endblock %}