{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% include 'employee/employee-header.html' %}
    {% include 'employee/employee-profile-photo.html' %}
    {% include 'employee/employee-view-tabs.html' %}

    <div class="tab-content p-3 pt-4 min-height-500">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/employee/{{employee._id}}/user/password-reset" method="POST" class="form-default">
            <div class="d-flex align-items-center mb-4">
                <h1 class="h4 mr-3 mb-0">Password Reset</h1>
            </div>
            <div class="form-group">
                <label for="password">New Password <span class="text-danger">*</span></label>
                <div>
                    <input name="password" id="password" v-model="password" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('password')}</small>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input v-model="send" name="send" type="checkbox" class="custom-control-input" id="send">
                        <label class="custom-control-label" for="send">Email the new password to <strong>${email}</strong></label>
                    </div>
                    <small class="invalid-feedback">${getError('send')}</small>
                </div>
            </div>

            <div v-if="send" class="form-group">
                <label for="email">Email Message Preview:</label>

                <iframe style="pointer-events: none; overflow: hidden;" scrolling="no" width="100%" height="320px" v-bind:src="iframeUrl" frameborder="0"></iframe>
            </div>

            <div class="form-row pt-3 pb-3">
                <div class="col-md-6 text-md-left">
                    <a class="btn btn-link" href="/employee/{{employee._id}}/user">Cancel</a>
                </div>
                <div class="col-md-6 text-md-right">
                    <button class="btn btn-primary">Reset Password</button>
                </div>
            </div>

        </form>

    </div>

</div>
{# {% include "parts/modal-employment.html" %} #}
{% endblock %}
{% block scripts %}
{{ super() }}
{# {% include "parts/script-employment.html" %} #}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            firstName: '{{employee.firstName}}',
            username: '{{username}}',
            password: '{{password}}',
            email: '{{onlineAccount.email}}',
            baseUrl: '/registration/email',
            loginUrl: `{{CONFIG.app.url}}/login?username={{username}}`,
            send: false,
        },
        validations: {
            password: {
                required: window.validators.required,
                minLength: window.validators.minLength(8)
            },
        },
        mounted: function(){
            let me = this;
        },
        computed:{
            iframeUrl: function(){
                let me = this;
                return `/employee/{{employee._id}}/user/password-reset-email-preview?username=${me.username}&firstName=${me.firstName}&email=${me.email}&password=${me.password}&loginUrl=${me.loginUrl}`
            }
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

