<div id="carousel-travel" class="carousel-travel carousel slide" data-ride="carousel" data-touch="false" data-interval="false">
    <div class="carousel-inner">
        {# 0 #}
        <div class="carousel-item active">
            <div class="form-group">
                <div class="form-group">
                    <label for="employmentId" class="font-weight-bold">Employment <span class="text-danger">*</span></label>
                    <div>
                        <select v-model="employmentId" name="employmentId" id="employmentId" class="form-control">
                            <option v-for="employment in employments" v-bind:value="employment._id">${employment.position}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <label for="periodOfTravel" class="font-weight-bold">Date(s) <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div>
                            <div class="d-flex flex-wrap">
                                <transition-group name="list" tag="div">
                                    <div v-for="(date, index) in dates" v-bind:key="date" class="list-item mr-1 mb-1 border pl-2 pb-1">
                                        <span>${date|formatDate('MMM DD, YYYY')}</span> 
                                        <button @click.prevent="deleteDate(index)" class="btn text-danger btn-sm p-1" type="button">X</button>
                                    </div>
                                </transition-group>
                            </div>
                            <input name="dateToAdd" @change="addDate" id="dateToAdd" v-model="dateToAdd" type="date" class="form-control mr-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="destination" class="font-weight-bold">Types of Leave <span class="text-danger">*</span></label>
                    <div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.vacation" type="checkbox" class="custom-control-input" id="vacation">
                            <label class="custom-control-label" for="vacation">Vacation Leave <small>(Sec. 51, Rule XVI, Omnibus Rules Implementing E.O. No. 292)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.forced" type="checkbox" class="custom-control-input" id="forced">
                            <label class="custom-control-label" for="forced">Mandatory/Forced Leave <small>(Sec. 25, Rule XVI, Omnibus Rules Implementing E.O. No. 292)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.sick" id="sick" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="sick">Sick Leave  <small>(Sec. 43, Rule XVI, Omnibus Rules Implementing E.O. No. 292)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.maternity" id="maternity" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="maternity">Maternity Leave <small>(R.A. No. 11210 / IRR issued by CSC, DOLE and SSS)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.paternity" id="paternity" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="paternity">Paternity Leave <small>(R.A. No. 8187 / CSC MC No. 71, s. 1998, as amended)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.specialPrivilege" id="specialPrivilege" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="specialPrivilege">Special Privilege Leave <small>(Sec. 21, Rule XVI, Omnibus Rules Implementing E.O. No. 292)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.soloParent" id="soloParent" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="soloParent">Solo Parent Leave <small>(RA No. 8972 / CSC MC No. 8, s. 2004)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.study" id="study" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="study">Study Leave <small>(Sec. 68, Rule XVI, Omnibus Rules Implementing E.O. No. 292)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.tenDayVawc" id="tenDayVawc" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="tenDayVawc">10-Day VAWC Leave <small>(RA No. 9262 / CSC MC No. 15, s. 2005)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.rehabPrivilege" id="rehabPrivilege" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="rehabPrivilege">Rehabilitation Privilege <small>(Sec. 55, Rule XVI, Omnibus Rules Implementing E.O. No. 292)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.specialLeaveWomen" id="specialLeaveWomen" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="specialLeaveWomen">Special Leave Benefits for Women <small>(RA No. 9710 / CSC MC No. 25, s. 2010)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.calamity" id="calamity" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="calamity">Special Emergency (Calamity) <small>Leave (CSC MC No. 2, s. 2012, as amended)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.adoptionLeave" id="adoptionLeave" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="adoptionLeave">Adoption Leave <small>(R.A. No. 8552)</small></label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input v-model="leaveTypes.others" id="others" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="others">Others:</label>
                        </div>
                        <input v-if="leaveTypes.others" type="text" class="form-control" placeholder="Please specify...">
                    </div>
                </div>
            </div>
            <div class="form-row pt-3 pb-3">
                <div class="col-6 mb-3">
                    <a href="/hros/leave/all" class="btn btn-light">Cancel</a>
                </div>
                <div class="col-6 mb-3 text-right">
                    <button v-on:click="nextPage(1)" class="btn btn-primary" type="button">Next</button>
                </div>
            </div>
        </div>
        {# 1 #}
        <div class="carousel-item ">
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <tr>
                        <td class="font-weight-bold" width="30%">Name of Official</td>
                        <td>{{employee.firstName}} {{employee.lastName}}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Designation</td>
                        <td>${designation}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Official Station</td>
                        <td>${officialStation}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Destination</td>
                        <td>${destination}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Period of Travel</td>
                        <td>${travelPeriod}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Nature of Business</td>
                        <td>${natureOfBusiness}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Favorably endorsed for approval</td>
                        <td>${endorser} - <em>${endorserDesignation}</em></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Approved</td>
                        <td>${approver} - <em>${approverDesignation}</em></td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Auto Set Dates on DTR to Travel?</td>
                        <td>
                            <div v-if="autoset">Yes</div>
                            <div v-else>No</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-row pt-3 pb-3">
                <div class="col-6 mb-3">
                    <button v-on:click="page=0"class="btn btn-light" type="button">Back</button>
                </div>
                <div class="col-6 mb-3 text-right">
                    <button class="btn btn-primary">Apply</button>
                </div>
            </div>
        </div>
        {# 2 #}
    </div>
</div>