{% extends "document.html" %}

{% block body %}
<div id="vApp" v-cloak class="col-md-12" v-bind:data-pending="pending">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3 mb-3 border-bottom">
        <h1 class="h5 mb-0">Leave Form</h1>
        <div class="btn-group">
            <a href="/hros/leave/all" class="btn btn-sm btn-light">Go Back</a>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    <div class="tab-content p-3 mb-5">
        <form ref="form" v-on:submit.prevent="onSubmit" action="/hros/leave/create" method="POST" class="form-default">
            {% include 'hros/leave/carousel.html' %}
        </form>
    </div>
</div>
{% include "hros/leave/modal-date.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var leaveTypes = {{leaveTypes|default({}, true)|stringify|safe}}
    var leaveAvailed = {{leaveAvailed|default({}, true)|stringify|safe}}
    var employments = {{employments|default([], true)|stringify|safe}}

    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        filters: {
            formatDate: function(date, format){
                return moment(date).format(format)
            },
            yesNo: function(v){
                return (v+'').replace('true', 'Yes').replace('false', 'No')
            }
        },
        data: {
            pending: false,
            page: '#0',
            employments: employments,
            employmentId: '{{employmentId}}',
            designation: '',
            officialStation: '',
            destination: '',
            periodOfTravel: '',
            periodOfTravelEnd: '',
            natureOfBusiness: '',
            endorser: '',
            endorserDesignation: '',
            approver: '',
            approverDesignation: '',
            autoset: true,
            isAddingDate: false,
            charLength: 180,
            dates: [],
            dateToAdd: '',
            leaveTypes: leaveTypes,
            leaveAvailed: leaveAvailed,
            otherLeaveSpecifics: '',

            isLocal: false,
            localDetails: '',
            isAbroad: false,
            abroadDetails: '',
            isInHospital: false,
            inHospitalDetails: '',
            isOutPatient: false,
            outPatientDetails: '',
            specialLeaveWomenDetails: '',
            isMastersDegree: false,
            isExamReview: false,
            isMonet: false,
            isTerminalLeave: false,
            isCommutationRequested: false,
        },
        computed: {
            salary: function(){
                var me = this;
                var employment = me.employments.find(function(e){
                    return e._id === me.employmentId
                })
                return _.get(employment, 'salary', '') + ' ' + _.get(employment, 'salaryType', '') 
            },
            datesStringify: function(){
                return this.dates.join(',')
            },
            leaveTypesAvailed: function () {
                var me = this;
                var keyNames = Object.keys(me.leaveAvailed)
                var availed = keyNames.filter( k => me.leaveAvailed[k]) // all true
                availed = availed.filter( k => !['vacation', 'specialPrivilege', 'sick', 'specialLeaveWomen', 'study', 'others'].includes(k)) // exclude these
                var availed2 = me.leaveTypes.filter((l)=>{
                    return availed.includes(l.key)
                }).map((l)=>{
                    return l.label
                })
               
                return availed2
            },
            employmentPosition: function(){
                var me = this;
                var employment = me.employments.find(function(e){
                    return e._id === me.employmentId
                })
                return _.get(employment, 'position', '')
            },
            department: function(){
                var me = this;
                var employment = me.employments.find(function(e){
                    return e._id === me.employmentId
                })
                return _.get(employment, 'department', '')
            },
            datesString: function(){
                var me = this;
                var dates = me.dates.map(function(d){
                    return moment(d).format('MMM DD YYYY')
                })
                return dates.join(', ')
            }
        },
        watch: {
            isMastersDegree: function(n, o){
                if(n === false && o === true){
                    this.mastersDegreeDetails = ''
                }
            },
            isExamReview: function(n, o){
                if(n === false && o === true){
                    this.examReviewDetails = ''
                }
            },
            isMonet: function(n, o){
                if(n === false && o === true){
                    this.monetDetails = ''
                }
            },
            isTerminalLeave: function(n, o){
                if(n === false && o === true){
                    this.terminalLeaveDetails = ''
                }
            },
            page: function (newPage, oldPage) {
                var me = this;

                try {
                    if (newPage === '#' || !newPage) {
                        newPage = '#0';
                    }
                    
                    me.page = newPage;
                    var newPageInt = parseInt((newPage + '').replace('#', ''))
                    jQuery('#carousel-leave').carousel(newPageInt)
                } catch (error) {
                    alert(error)
                }
            },
        },
        mounted: function(){
            var me = this;
            // me.page = '#1'
            // me.leaveAvailed.vacation = true
            // me.leaveAvailed.specialLeaveWomen = true
            // me.leaveAvailed.sick = true
            // me.leaveAvailed.study = true
            // me.isLocal = true
            // me.isAbroad = true
            // me.isInHospital = true
            // me.inHospitalDetails = 'Doctors hospital'
            // me.outPatientDetails = 'Home quarantine'
            // me.specialLeaveWomenDetails = 'Menstrual cramps'
            // me.isOutPatient = true
            // me.localDetails = 'Siquijor'
            // me.abroadDetails = 'Hongkong Disneyland'
            this.charLength = 180 - ((this.natureOfBusiness + '').split('').length)
        },
        methods: {
            dateModal: function(){
                jQuery('#vAppModalDate').modal('show')
            },
            addDate: function(){
                var me = this;

                try {
                    console.log(moment(me.dateToAdd).diff(moment(), 'days'))
                    if(moment(me.dateToAdd).diff(moment(), 'days') < -365){
                        throw new Error('Date too far.')
                    } 
                    if(moment(me.dateToAdd).diff(moment(), 'days') > 365){
                        throw new Error('Date too far.')
                    } 
                    if(!me.dates.includes(me.dateToAdd)){
                        me.dates.push(me.dateToAdd)
                        me.dates.sort()
                    }
                    me.dateToAdd = ''
                } catch(error){
                    alert(error)
                    me.dateToAdd = ''
                }
            },
            deleteDate: function(index){
                var me = this;
                me.dates.splice(index, 1)
                me.dateToAdd = ''
            },
            limitChars: function (max, e) {
                if (e.target.value.length >= max) {
                    this.natureOfBusiness = e.target.value.substring(0, max);
                }
                this.charLength = 180 - ((this.natureOfBusiness + '').split('').length)
            },
            nextPage: function (page) {
                var me = this;
                try {
                    if(me.page === '#0'){
                        var hasOne = Object.keys(me.leaveAvailed)
                            .map( k => me.leaveAvailed[k])
                            .reduce((prev, cur) => prev || cur, false)
                        if(!hasOne){
                            throw new Error('Please select the Type of Leave.')
                        }
                        if(me.leaveAvailed.others && !me.otherLeaveSpecifics){
                            throw new Error('Please specify.')
                        }
                        if(me.dates.length <= 0){
                            throw new Error('Please provide the date(s) of your leave.')
                        }
                    } else if(me.page === '#1'){
                        if(me.leaveAvailed.vacation || me.leaveAvailed.specialPrivilege){
                            if(!me.isLocal && !me.isAbroad){
                                throw new Error('Please select if within Philippines or abroad.')
                            }
                            if(me.isLocal && !me.localDetails){
                                throw new Error('Please specify where in the Philippines.')
                            }
                            if(me.isAbroad && !me.abroadDetails){
                                throw new Error('Please specify where abroad.')
                            }
                        }
                        if(me.leaveAvailed.sick){
                            if(!me.isInHospital && !me.isOutPatient){
                                throw new Error('Please select if in hospital or out patient.')
                            }
                            if(me.isInHospital && !me.inHospitalDetails){
                                throw new Error('Please specify illness.')
                            }
                            if(me.isOutPatient && !me.outPatientDetails){
                                throw new Error('Please specify illness.')
                            }
                        }
                        if(me.leaveAvailed.specialLeaveWomen && !me.specialLeaveWomenDetails){
                            throw new Error('Please specify illness.')
                        }
                        if(me.leaveAvailed.study && (!me.isMastersDegree && !me.isExamReview)){
                            throw new Error('Please select your study leave.')
                        }
                        
                    }
                    me.page = page
                } catch(error){
                    alert(error)
                }
            },
            syncDates: function () {
                var me = this;
                var mDate1 = moment(me.periodOfTravel)
                var mDate2 = moment(me.periodOfTravelEnd)
                if (mDate1.isValid() && !mDate2.isValid()) {
                    me.periodOfTravelEnd = me.periodOfTravel
                }
                if (mDate1.isValid() && mDate1.isAfter(mDate2)) {
                    me.periodOfTravelEnd = me.periodOfTravel
                }
            },
            onSubmit: function () {
                var me = this;
                try {
                    if(me.page === '#0'){
                        var hasOne = Object.keys(me.leaveAvailed)
                            .map( k => me.leaveAvailed[k])
                            .reduce((prev, cur) => prev || cur, false)
                        if(!hasOne){
                            throw new Error('Please select the Type of Leave.')
                        }
                        if(me.leaveAvailed.others && !me.otherLeaveSpecifics){
                            throw new Error('Please specify.')
                        }
                        if(me.dates.length <= 0){
                            throw new Error('Please provide the date(s) of your leave.')
                        }
                        me.page = '#1'

                    } else if(me.page === '#1'){
                        if(me.leaveAvailed.vacation || me.leaveAvailed.specialPrivilege){
                            if(!me.isLocal && !me.isAbroad){
                                throw new Error('Please select if within Philippines or abroad.')
                            }
                            if(me.isLocal && !me.localDetails){
                                throw new Error('Please specify where in the Philippines.')
                            }
                            if(me.isAbroad && !me.abroadDetails){
                                throw new Error('Please specify where abroad.')
                            }
                        }
                        if(me.leaveAvailed.sick){
                            if(!me.isInHospital && !me.isOutPatient){
                                throw new Error('Please select if in hospital or out patient.')
                            }
                            if(me.isInHospital && !me.inHospitalDetails){
                                throw new Error('Please specify illness.')
                            }
                            if(me.isOutPatient && !me.outPatientDetails){
                                throw new Error('Please specify illness.')
                            }
                        }
                        if(me.leaveAvailed.specialLeaveWomen && !me.specialLeaveWomenDetails){
                            throw new Error('Please specify illness.')
                        }
                        if(me.leaveAvailed.study && (!me.isMastersDegree && !me.isExamReview)){
                            throw new Error('Please select your study leave.')
                        }
                        me.page = '#2'
                        
                    } else if (me.page === '#2'){
                        me.pending = true
                        me.$nextTick(function () {
                            me.$refs.form.submit();
                        });
                    }
                } catch(error){
                    alert(error)
                }
            }
        }
    });
    var vAppModal = new Vue({
        el: '#vAppModalDate',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            dateToAdd: '',
        },
        methods: {
            addDate: function(){
                var me = this;

                try {
                    if(me.dateToAdd){
                        if(!moment(me.dateToAdd, true).isValid()){
                            throw new Error('Invalid date')
                        }
                        if(moment(me.dateToAdd).diff(moment(), 'days') < -365){
                            throw new Error('Date too far.')
                        } 
                        if(moment(me.dateToAdd).diff(moment(), 'days') > 365){
                            throw new Error('Date too far.')
                        } 
                        if(!vApp.dates.includes(me.dateToAdd)){
                            vApp.dates.push(me.dateToAdd)
                            vApp.dates.sort()
                        }
                        me.dateToAdd = ''
                        jQuery('#vAppModalDate').modal('hide')
                    }
                } catch(error){
                    alert(error)
                }
            },
        }
    })
    
</script>
{% endblock %}