{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">All Office Issuances</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            
        </div>
    </div>
    {% include 'parts/flash.html' %}
    {% if memos.length <= 0 %}
        <p>No memo found.</p>
    {% else %}
        <div class="d-flex justify-content-end">
            <div class=" pb-3">
                {% set url = '/memo/all' %}
                {% include 'parts/form-per-page.html' %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="15%">
                            {% set thId = 'number' %}
                            {% set thLabel = 'Memo No.' %}
                            {% include 'parts/sorted-th.html' %}
                            {% set thLabel = '' %}
                        </th>
                        <th>
                            {% set thId = 'subject' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th width="15%">
                            {% set thId = 'date' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for memo in memos %}
                    <tr>
                        <td>{{memo.number}}</td>
                        <td><a href="/memo/{{memo._id}}">{{memo.subject}}</a></td>
                        <td>{{memo.date|format_date('MMM DD, YYYY')}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
            </div>
            <div class="col-md-6 text-center text-md-right">
                {% include "parts/pagination.html" %}
            </div>
        </div>
    {% endif %}
    
    <hr>

    <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/memo" method="POST" class="form-default">
        <h3>Add Memo</h3>
    
        <div class="form-group">
            <label for="number">Memo No.</label>
            <div>
                <input name="number" id="number" v-model="number" type="number" class="form-control">
                <small class="invalid-feedback">${getError('number')}</small>
            </div>
        </div>


        <div class="form-group">
            <label for="subject">Subject</label>
            <div>
                <textarea name="subject" v-bind:id="subject" v-model="subject" class="form-control" rows="5"></textarea>
                <small class="invalid-feedback">${getError('subject')}</small>
            </div>
        </div>

        {% set name = 'date' %}
        {% set label = 'Date Issued' %}
        {% include 'parts/form-group-date.html' %}
        {% set label = '' %}

        <div class="form-group">
            <label for="url">Link to Google Drive</label>
            <div>
                <input v-on:blur="format" name="url" id="url" v-model="url" type="text" class="form-control">
                <small class="invalid-feedback">${getError('url')}</small>
            </div>
        </div>

        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                <button class="btn btn-primary">Add Memo</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            number: '',
            subject: '',
            date: '',
            url: '',
        },
        validations: {
            number: {
                required: window.validators.required
            },
            subject: {
                required: window.validators.required
            },
            date: {
                required: window.validators.required
            },
            url: {
                required: window.validators.required
            },
        },
        methods: {
            format: function(value){
                this.url = this.url.replace(/\/view\?usp=sharing$/, '/preview')
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

