{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">{{memo.subject}}</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/memo/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    <div class="alert alert-info">Reminder: You must be logged-in using your GSC Google Account to view the memo below.</div>
    <iframe src="{{memo.url}}" width="100%" height="600px" frameborder="0"></iframe>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

