{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3 mb-3 border-bottom">
        <h1 class="h5 mb-0">Authority to Travel</h1>
        <div class="btn-group">
            <a href="/hros/at/create" class="btn btn-sm btn-primary">Apply</a>
        </div>
    </div>

    {% include 'parts/flash.html' %}
    
    {% if ats.length <= 0 %}
        <p>No previous online "Authority to Travel" found. <a class="btn btn-success btn-sm" href="/hros/at/create">Apply Online</a></p>
    {% else %}
        <div class="tab-content p-3">
            <div class="d-flex justify-content-end">
                <div class=" pb-3 align-self-center pr-3">
                    Per page:
                </div>
                <div class=" pb-3">
                    {% set url = '/hros/at/all' %}
                    {% include 'parts/form-per-page.html' %}
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Travel Date
                            </th>
                            <th>
                                Destination
                            </th>
                            <!-- <th class="text-center d-none d-md-table-cell">Status</th> -->
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for at in ats %}
                        <tr>
                            <td class="text-center">{{loop.index + (pagination.page - 1) * (pagination.perPage|default(0,true))}}</td>
                            <td>
                                {{at.periodOfTravel|format_date('MMMM DD, YYYY')}}
                                {% if at.periodOfTravel|format_date('MMMM DD, YYYY') !== at.periodOfTravelEnd|format_date('MMMM DD, YYYY') %}
                                    to {{at.periodOfTravelEnd|format_date('MMMM DD, YYYY')}}
                                {% endif%}
                            </td>
                            <td>
                                {{at.data.destination}}
                            </td>
                            <!-- <td class="text-center d-none d-md-table-cell">
                                {% if at.status === 1 %}
                                    <span class="text-warning">Awaiting Control Number</span>
                                {% elif at.status === 2 %}
                                    <span class="text-success">Approved</span>
                                {% endif %}
                            </td> -->
                            <td class="text-center">
                                {% if at.status === 1 %}
                                    <a href="/hros/at/{{at._id}}/delete" onclick="return confirm('Are you sure you want to cancel your application?')" class="btn btn-sm btn-danger">Cancel</a>
                                {% elif at.status === 2 %}
                                    <div class="dropdown">
                                        
                                        <button class="btn btn-outline-success btn-sm" type="button" data-toggle="dropdown" aria-expanded="false">
                                            <svg width="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>View Actions</title><path fill="currentColor" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="/hros/at/{{at._id}}/print" class="dropdown-item">Print</a>
                                            <a href="/hros/at/{{at._id}}/coa" class="dropdown-item">Print CA</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="/hros/at/{{at._id}}/share" class="dropdown-item">Share</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center text-md-left pt-3 pb-5">
                    {% include "parts/pagination.html" %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

