{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h4">Clinic </h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            
        </div>
    </div>
    {% include 'parts/flash.html' %}
    <div class="d-flex">
        <div class="card text-white m-3" style="background: #2674b4; width: 25%;">
            <div class="card-header">Vax Card</div>
            <div class="card-body d-flex flex-wrap justify-content-center">
                <h5 class="card-title"></h5>
                <div class="text-center">
                    <a href="/e/clinic/vax-card" class="btn btn-sm btn-primary">Vaccination Information</a>
                </div>
            </div>
        </div>
        <div class="card text-white m-3" style="background: #2391a0; width: 25%;">
            <div class="card-header">Health Declaration</div>
            <div class="card-body d-flex flex-wrap justify-content-center">
                <h5 class="card-title"></h5>
                <div class="text-center align-self-end">
                    <a href="/e/clinic/hdf" class="btn btn-sm btn-primary">Health Declaration Form</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        components: {
        },
        data: {
            firstName: '',
            middleName: '',
            lastName: '',
        },
        validations: {
            firstName: {
                required: window.validators.required
            },
            middleName: {
                required: window.validators.required
            },
            lastName: {
                required: window.validators.required
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

