{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h5">Vaccination Information</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>
    {% include 'parts/flash.html' %}
    <div id="vApp" v-cloak v-bind:data-pending="pending" class="tab-content p-3">
        <div class="row">
            <div class="col-md-12">
                <form ref="form" @submit.prevent="onSubmit" action="" method="post" class="border p-3 mb-4">
                    <div v-if="page==1" class="form-row">
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-switch">
                                <input v-model="unvaxxed" name="unvaxxed" type="checkbox" class="custom-control-input" id="unvaxxed">
                                <label class="custom-control-label" for="unvaxxed">Unvaxxed</label>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="name">Name of Vaccine <span class="text-danger">*</span></label>
                            <input v-model="name" name="name" id="name" type="text" class="form-control" v-bind:disabled="unvaxxed">
                            <small class="invalid-feedback">${getError('name')}</small>
                            <em>Eg. Sinovac</em>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="date">Date of Vaccination<span class="text-danger">*</span></label>
                            <input v-model="date" name="date" id="date" type="date" class="form-control" v-bind:disabled="unvaxxed">
                            <small class="invalid-feedback">${getError('date')}</small>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="sequence">Dosage Sequence <span class="text-danger">*</span></label>
                            <select v-model="sequence" name="sequence" id="sequence" class="form-control" v-bind:disabled="unvaxxed">
                                <option value=""></option>
                                <option>1st Dose</option>
                                <option>2nd Dose</option>
                                <option>Booster Shot #1</option>
                                <option>Booster Shot #2</option>
                            </select>
                            <small class="invalid-feedback">${getError('sequence')}</small>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="healthFacility">Health Facility Name<span class="text-danger">*</span></label>
                            <input v-model="healthFacility" name="healthFacility" id="healthFacility" type="search" class="form-control" v-bind:disabled="unvaxxed">
                            <small class="invalid-feedback">${getError('healthFacility')}</small>
                            <em>(eg. Jordan RHU)</em>
                        </div>
                        <div v-if="vaccineList.length <= 0" class="col-md-12 d-flex justify-content-end">
                            <button class="btn btn-large btn-primary">Save Vaccination Info</button>
                        </div>
                        <div v-else class="col-md-12 d-flex justify-content-end align-items-center">
                            <button class="btn btn-large btn-light mr-1" href="/e-profile/home" @click="page=2" type="button">Back</button> 
                            <button class="btn btn-large btn-primary">Save Vaccination Info</button>
                        </div>
                    </div>
                    <div v-if="page==2" class="form-row">
                        <div class="col-md-12 text-center align-items-center">
                            <button class="btn btn-large btn-primary" type="button" @click="page=1">Add Another Vaccine Shot</button>
                            <span class="ml-2 mr-2">or</span> 
                            <a class="btn btn-large btn-light" href="/e-profile/home">Continue to DTR</a> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <h2 v-if="vaccineList.length > 0" class="h6 mb-3">List of Vaccines</h2>
                <div v-if="vaccineList.length > 0" class="table-responsive mb-3">
                    <table class="table table-sm table-bordered table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Dosage</th>
                            <th>Health Facility</th>
                            <th width="1%"></th>
                        </tr>
                        <tr v-for="(vaccine, i) in vaccineList">
                            <td>${vaccine.name}</td>
                            <td><template v-if="!vaccine.unvaxxed">${vaccine.date|formatDate('MMM DD, YYYY')}</template><template v-else>N/A</template></td>
                            <td>${vaccine.sequence}</td>
                            <td>${vaccine.healthFacility}</td>
                            <td><button v-on:click="deleteX(i)" type="button" class="btn btn-sm btn-danger">X</button></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        filters: {
            formatDate: function(date, format){
                return moment(date).format(format)
            }
        },
        components: {

        },
        data: {
            pending: false,
            page: 1,
            unvaxxed: false,
            name: '',
            date: '',
            sequence: '',
            healthFacility: '',
            vaccineList: {{employee.personal.vaccines|default(true, [])|stringify|safe}}
        },
        validations: {
            name: {
                required: window.validators.requiredIf(function(){
                    return !this.unvaxxed;
                })
            },
            date: {
                required: window.validators.requiredIf(function(){
                    return !this.unvaxxed;
                })
            },
            sequence: {
                required: window.validators.requiredIf(function(){
                    return !this.unvaxxed;
                })
            },
            healthFacility: {
                required: window.validators.requiredIf(function(){
                    return !this.unvaxxed;
                })
            },
        },
        methods: {
            deleteX: function(i){
                let me = this;
                me.pending = true

                fetch(`/e/clinic/vax/delete`, {
                    method: 'POST',
                    body: JSON.stringify({
                        vaxId: me.vaccineList[i]._id,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then(async function(response){
                    if (response.ok) {
                        // me.department.members.splice(index, 1)
                        me.$delete(me.vaccineList, i)
                        alert('Info deleted.')
                    } else {
                        throw new Error(await response.text())
                    }
                }).catch(async function(error){
                    console.error(error)
                    alert(error);
                }).then(function(){
                    me.pending = false
                });

                
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        // me.$refs.form.submit();
                        me.pending = true
                        fetch(`/e/clinic/vax/create`, {
                            method: 'POST',
                            body: JSON.stringify({
                                unvaxxed: me.unvaxxed,
                                name: me.name,
                                date: me.date,
                                sequence: me.sequence,
                                healthFacility: me.healthFacility,
                            }),
                            headers: {
                                'Content-Type': 'application/json',
                                'X-Requested-With': 'XMLHttpRequest'
                            }
                        }).then(async function(response){
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error(await response.text())
                            
                        }).then(function(responseJson){
                            alert('Info added.')
                            me.vaccineList.push(responseJson)

                            me.unvaxxed = false
                            me.name = ''
                            me.date = ''
                            me.sequence = ''
                            me.healthFacility = ''
                            me.$v.$reset()
                            me.page = 2

                        }).catch(async function(error){
                            console.error(error)
                            alert(error);
                        }).then(function(){
                            me.pending = false
                        });
                        
                    });
                }
            }
        }
    });
</script>
{% endblock %}

