{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    {% set pageTitle = 'Add Admin User' %}
    {% include 'parts/header-main.html' %}

    <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/resident/create" method="POST" class="form-default">
        <h3>Personal Info</h3>
        {% set name = 'firstName' %}
        {% include 'parts/form-group-text.html' %}

        {% set name = 'middleName' %}
        {% include 'parts/form-group-text.html' %}

        {% set name = 'lastName' %}
        {% include 'parts/form-group-text.html' %}

        <h3>Login Info</h3>
        {% set name = 'email' %}
        {% include 'parts/form-group-text.html' %}

        {% set name = 'password' %}
        {% include 'parts/form-group-text.html' %}

        {% set name = 'active' %}
        {% set options = [{value:'true', text:'Yes'}, {value:'false', text:'No'}] %}
        {% include 'parts/form-group-select.html' %}

        <h3>Role and Permissions</h3>

        <div class="form-row pt-3 pb-3">
            <div class="col-md-12">
                <button class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            window.VuePhAddress.mixin,
            window.VuePhAddress.mixinRegions,
            window.VuePhAddress.mixinPresentAddress,
            window.VuePhAddress.mixinPermanentAddress,
        ],
        data: {
            firstName: '',
            middleName: '',
            lastName: '',
            suffix: '',
            gender: 'M',
            civilStatus: 'Single',
            birthDate: '',
            // region1: '06',
            // province1: '0679',
            // cityMun1: '067901',
            // brgyDistrict1: '',
            // unit1: '',
            // addressSame: false
        },
        validations: {
            firstName: {
                required: window.validators.required
            },
            middleName: {
                required: window.validators.required
            },
            lastName: {
                required: window.validators.required
            },
            gender: {
                required: window.validators.required
            },
            civilStatus: {
                required: window.validators.required
            },
            birthDate: {
                required: window.validators.required
            },
            // region1: {
            //     required: window.validators.required
            // },
            // cityMun1: {
            //     required: window.validators.required
            // },
            // brgyDistrict1: {
            //     required: window.validators.required
            // },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

