{% extends "document.html" %}

{% block body %}
<div class="col-md-12">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
          
            <h1 class="h2 ml-2">Scanners</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/scanner/create" class="btn btn-sm btn-outline-primary">Add Scanner</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    {% if scanners.length <= 0 %}
        <p>None found.</p>
    {% else %}

        <div class="d-flex justify-content-end">
            <div class=" pb-3">
                {% set url = '/scanner/all' %}
                {% include 'parts/form-per-page.html' %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            {% set thId = 'name' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thId = 'campus' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thId = 'device' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thId = 'userId' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th>
                            {% set thId = 'active' %}
                            {% include 'parts/sorted-th.html' %}
                        </th>
                        <th class="text-center" width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                {% for scanner in scanners %}
                    <tr>
                        <td><a href="/scanner/{{scanner._id}}">{{scanner.name}}</a></td>
                        <td>{{scanner.campus|capitalize}}</td>
                        <td>{{scanner.device|start_case}}</td>
                        <td>{{scanner.user.email}}</td>
                        <td>{{scanner.active|capitalize}}</td>
                        <td>
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="green" d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z" />
                            </svg>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">

            <div class="col-md-6 text-center text-md-left">

            </div>
            <div class="col-md-6 text-center text-md-right">
                {% include "parts/pagination.html" %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

