{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Create Scanner</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/scanner/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/scanner/create" method="POST" class="form-default">
            <div class="form-group">
                <label for="name">Scanner Name</label>
                <div>
                    <input v-on:keyup="changeUsername" v-on:change="changeUsername" name="name" id="name" v-model="name" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('name')}</small>
                </div>
            </div>

            {% set name = 'campus' %}
            {% set label = 'Campus' %}
            {% set options = [{value: '', text:''}, {value: 'salvador', text:'Salvador'}, {value: 'baterna', text:'Baterna'}, {value: 'mosqueda', text:'Mosqueda'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'device' %}
            {% set label = 'Scanning Device' %}
            {% set options = scanningDeviceList|default(true, [{value:'', text:' '}]) %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            <div class="form-group">
                <label for="username">Username</label>
                <div>
                    <input readonly name="username" id="username" v-model="username" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('username')}</small>
                </div>
            </div>

            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Create New Scanner</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            name: '',
            campus: 'main',
            device: 'fingerprint',
            username: '',
        },
        validations: {
            name: {
                required: window.validators.required
            },
            campus: {
                required: window.validators.required
            },
            device: {
                required: window.validators.required
            },
            username: {
                required: window.validators.required
            },
        },
        methods: {
            
            changeUsername: function(){
                var me = this;
                me.username = me.name.toLowerCase().replace(/[^\w ]/g, '').replace(/\s\s+/g, ' ').replace(/ /g, '.') // remove spaces for maam josephine "de asis"
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

