{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Edit Scanner</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/scanner/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/scanner/{{scanner._id}}/edit" method="POST" class="form-default">
            {% set name = 'name' %}
            {% set label = 'Scanner Name' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'campus' %}
            {% set label = 'Campus' %}
            {% set options = [{value: '', text:''}, {value: 'main', text:'Main'}, {value: 'baterna', text:'Baterna'}, {value: 'mosqueda', text:'Mosqueda'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'device' %}
            {% set label = 'Scanning Device' %}
            {% set options = scanningDeviceList|default(true, [{value:'', text:' '}]) %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            <div class="form-group">
                <label for="userId">Assign User <span class="text-danger">*</span></label>
                <div class="alert alert-info"><em>Reminder: User must have an "use_scanner" permission.</em></div>
                <div>
                    <autocomplete v-model="userId"
                        name="userId"
                        initial-value="{{scanner.userId}}"
                        initial-display="{{scanner.user.email}}"
                        placeholder="Type user email..."
                        :source="dataSource"
                        input-class="form-control"
                        :request-headers="headers"
                        v-on:selected="onSelect"
                        >
                    </autocomplete>
                    <small class="invalid-feedback">${getError('userId')}</small>
                </div>

            </div>

            {% set name = 'active' %}
            {% set options = [{value: true, text: 'Yes'}, {value: false, text: 'No'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'verification' %}
            {% set label = 'Verification Step' %}
            {% set options = [{value:'', text:''}, {value:'manual', text:'Manual'}, {value:'auto', text:'Automatic'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}
            <div class="alert alert-info"><em>Reminder: Device must have a webcam for "automatic" verification.</em></div>


            <div class="form-row pt-3 pb-3">
                <div class="col-md-12">
                    <button class="btn btn-primary">Update Scanner</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VuePhAddress.mixin
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            name: '{{scanner.name}}',
            campus: '{{scanner.campus}}',
            device: '{{scanner.device}}',
            userId: '{{scanner.userId}}',
            active: '{{scanner.active}}',
            verification: '{{scanner.verification}}',
        },
        validations: {
            name: {
                required: window.validators.required
            },
            campus: {
                required: window.validators.required
            },
            device: {
                required: window.validators.required
            },
            userId: {
                required: window.validators.required
            },
            active: {
                required: window.validators.required
            },
            verification: {
                required: window.validators.required
            },
        },
        methods: {
            dataSource: function(input) {
                return '/users?s=' + input
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}