{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Edit Scanner</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/scanner/all" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="tab-content p-3">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/scanner/{{scanner._id}}/edit" method="POST" class="form-default">
            {% set name = 'name' %}
            {% set label = 'Scanner Name' %}
            {% include 'parts/form-group-text.html' %}
            {% set label = '' %}

            {% set name = 'campus' %}
            {% set label = 'Campus' %}
            {% set options = [{value: '', text:''}, {value: 'main', text:'Main'}, {value: 'baterna', text:'Baterna'}, {value: 'mosqueda', text:'Mosqueda'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'device' %}
            {% set label = 'Scanning Device' %}
            {% set options = scanningDeviceList|default(true, [{value:'', text:' '}]) %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            {% set name = 'active' %}
            {% set options = [{value: true, text: 'Yes'}, {value: false, text: 'No'}] %}
            {% include 'parts/form-group-select.html' %}
            {% set label = '' %}

            <div class="form-group">
                <label for="username">Username</label>
                <div>
                    <input readonly name="username" id="username" v-model="username" type="text" class="form-control">
                    <small class="invalid-feedback">${getError('username')}</small>
                </div>
            </div>

           <div class="form-group">
                <label for="useCam">Use Webcam?</label>
                <div>
                    <div class="form-check">
                        <input name="useCam" id="useCam" v-model="useCam" class="form-check-input" type="checkbox" value="true">
                        <label class="form-check-label" for="useCam">
                            Yes
                        </label>
                    </div>
                    <small class="invalid-feedback">${getError('useCam')}</small>
                </div>
            </div>
           <div class="form-group">
                <label for="refresh">Refresh?</label>
                <div>
                    {% if scanner.refresh %}
                    <div class="alert alert-warning">Scanner refresh pending...</div>
                    {% else %}
                    <div class="form-check">
                        <input name="refresh" id="refresh" v-model="refresh" class="form-check-input" type="checkbox" value="true">
                        <label class="form-check-label" for="refresh">
                            Yes - reload scanner remotely
                        </label>
                    </div>
                    {% endif %}
                    <small class="invalid-feedback">${getError('refresh')}</small>
                </div>
            </div>
            
          
            <div class="form-row pt-3 pb-3">
                <div class="col-md-6">
                    <a href="/scanner/all" class="btn btn-light">Cancel</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/scanner/{{scanner._id}}/password" class="btn btn-light">Change Password</a>
                    <button class="btn btn-primary">Update Scanner</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            name: '{{scanner.name}}',
            campus: '{{scanner.campus}}',
            device: '{{scanner.device}}',
            active: '{{scanner.active}}',
            username: '{{scanner.user.username}}',
            refresh: {{scanner.refresh|default(false, true)}},
            useCam: {{scanner.useCam|default(false, true)}},
        },
        validations: {
            name: {
                required: window.validators.required
            },
            campus: {
                required: window.validators.required
            },
            device: {
                required: window.validators.required
            },
            active: {
                required: window.validators.required
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}