{% extends "document-public.html" %}

{% block body %}
<div class="col-md-4 col-sm-6 ml-auto mr-auto pt-5 mt-5">
    <div id="vApp" v-cloak>
        <form ref="form" v-on:submit.prevent="onSubmit" action="/scanner/{{scanner.uid}}/scan" method="POST" class="form-login" novalidate>
            <div class="form-header">
                <h1 class="h6 mb-0">Scanner: {{scanner.name}}</h1>
            </div>
            <div class="form-body text-center">
                <input type="hidden" name="code" v-model="code">
                <p>Ready to Scan</p>
                <canvas id="canvas" style="width:100%; max-width:400px; min-height:300px; margin:0 auto; background:black" ></canvas>
                {# <button v-on:click="onCapture">Scan QR Code</button> #}
                <hr>
                <p class="mb-0 mt-5">
                    <a class="btn btn-sm" href="/scanner/{{scanner.uid}}/pause">
                        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M16,14H17.5V16.82L19.94,18.23L19.19,19.53L16,17.69V14M17,12A5,5 0 0,0 12,17A5,5 0 0,0 17,22A5,5 0 0,0 22,17A5,5 0 0,0 17,12M17,10A7,7 0 0,1 24,17A7,7 0 0,1 17,24C14.21,24 11.8,22.36 10.67,20H1V17C1,14.34 6.33,13 9,13C9.6,13 10.34,13.07 11.12,13.2C12.36,11.28 14.53,10 17,10M10,17C10,16.3 10.1,15.62 10.29,15C9.87,14.93 9.43,14.9 9,14.9C6.03,14.9 2.9,16.36 2.9,17V18.1H10.09C10.03,17.74 10,17.37 10,17M9,4A4,4 0 0,1 13,8A4,4 0 0,1 9,12A4,4 0 0,1 5,8A4,4 0 0,1 9,4M9,5.9A2.1,2.1 0 0,0 6.9,8A2.1,2.1 0 0,0 9,10.1A2.1,2.1 0 0,0 11.1,8A2.1,2.1 0 0,0 9,5.9Z" />
                        </svg>
                    </a>
                    {# <a class="btn btn-sm" href="/logout">
                        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M22 17V16.5C22 15.12 20.88 14 19.5 14S17 15.12 17 16.5V17C16.45 17 16 17.45 16 18V22C16 22.55 16.45 23 17 23H22C22.55 23 23 22.55 23 22V18C23 17.45 22.55 17 22 17M21 17H18V16.5C18 15.67 18.67 15 19.5 15S21 15.67 21 16.5V17M14 20H4V17C4 14.33 9.33 13 12 13C13.08 13 14.6 13.22 16 13.66C15.61 14.15 15.33 14.74 15.16 15.38C14.19 15.1 13.09 14.9 12 14.9C9.03 14.9 5.9 16.36 5.9 17V18.1H14V20M12 12C14.21 12 16 10.21 16 8S14.21 4 12 4 8 5.79 8 8 9.79 12 12 12M12 6C13.11 6 14 6.9 14 8S13.11 10 12 10 10 9.11 10 8 10.9 6 12 6Z" />
                        </svg>
                    </a> #}
                
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/jsQR.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            code: ''
        },
        validations: {

        },
        mounted: function(){
            this.onCapture()
        },
        methods: {
            onCapture: function() {
                var me = this;
                var video = document.createElement("video");
                var canvasElement = document.getElementById("canvas");
                var canvas = canvasElement.getContext("2d");

                // Use facingMode: environment to attemt to get the front camera on phones
                navigator.mediaDevices.getUserMedia({
                    video: {
                        width: 400,
                        height: 300,
                        facingMode: "environment"
                    }
                }).then(function (stream) {
                    video.srcObject = stream;
                    me.stream = stream
                    video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
                    video.play();
                    requestAnimationFrame(tick);
                }).catch(function (error) {
                    alert(error)
                })

                function drawLine(begin, end, color) {
                    canvas.beginPath();
                    canvas.moveTo(begin.x, begin.y);
                    canvas.lineTo(end.x, end.y);
                    canvas.lineWidth = 4;
                    canvas.strokeStyle = color;
                    canvas.stroke();
                }

                var stopLoop = false;

                function tick() {
                    if (video.readyState === video.HAVE_ENOUGH_DATA) {
                        canvasElement.hidden = false;
                        canvasElement.height = video.videoHeight;
                        canvasElement.width = video.videoWidth;
                        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                        var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
                        var code = jsQR(imageData.data, imageData.width, imageData.height, {
                            inversionAttempts: "dontInvert",
                        });
                        if (code) {
                            drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
                            drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
                            drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#ff3b58");
                            drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
                            stopLoop = true;
                            me.code = code.data
                        } else {
                        }
                    }
                    if (!stopLoop) {
                        requestAnimationFrame(tick);
                    }

                    if(stopLoop){
                        me.onSubmit()
                    }
                }
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}