{% extends "document-public.html" %}

{% block body %}
<div class="col-md-12 ml-auto mr-auto pt-3 pb-3">
    <div id="vApp" v-cloak class="scanner-rfid" v-bind:data-pending="pending">
        <div class="logo-rotating p-3">
            <img class="logo-gear" v-bind:data-play="pending" src="/images/logo-gear.png" alt="GSC Gear">
            <img class="logo-inner" width="100" src="/images/logo-inner.png" alt="GSC Logo">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    {% include 'scanner/scan-device-carousel.html' %}
                </div>
            </div>
        </div>
        <form ref="form" class=" text-center" v-on:submit.prevent="onSubmit" action="/scanner/{{scanner.uid}}/scan" method="POST" novalidate>
            <div class="form-group" style="position:relative; overflow:hidden">
                <div style="position:absolute; left:0; right:0; top:0; bottom:0; background:#fff; z-index:1; opacity:1"></div>
                <label for="code">Code</label>
                <input style="outline: none" v-on:blur="focus" v-model="code" name="code" id="code" type="text" class="form-control" autocomplete="off">
                <br>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/jquery.min.js"></script>
<script src="{{app.url}}/js/popper.min.js"></script>
<script src="{{app.url}}/js/bootstrap.min.js"></script>
<script src="{{app.url}}/js/moment.min.js"></script>
<script src="{{app.url}}/js/axios.min.js"></script>
<script src="{{app.url}}/js/media-devices.js"></script>
<script>
    var timer = null
    var timer2 = null
    var reload = function(){
        window.location.reload(false); 
    }
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
        ],
        data: {
            pending: false,
            page: 0,
            code: '',
            useWebcam: false,
            webcamPhotoSnapper: null,
            webcamLoaded: false,
            photo: '',
            time: '',
            error: '',
            errorCountdown: '',
            time: '',
            name: '',
            returnTimer: null,
            returnCountdown: 0,
        },
        validations: {

        },
        mounted: function(){
            var me = this;

            document.getElementById("code").focus();

            document.getElementById("webcam-feed").addEventListener('loadedmetadata', function(e){
                me.webcamLoaded = true
            })
           
        },
        watch: {
            code: function(newCode, oldCode){
                var me = this;
            },
            page: function (newPage, oldPage) {
                var me = this;
                jQuery('#carousel-scan').carousel(newPage)
                
                if(newPage === 0) {
                    me.reset();

                } else if(newPage === 1) {

                    me.webcamStart();

                } else if(newPage === 2) {
                    me.webcamSnap();

                    me.log()

                } else if(newPage === 3) {
                   

                }
                me.reloadOnIdle();
            }
        },
        methods: {
            hambal: function(words = 'Place your card near the scanner.'){
                try {
                    var synth = window.speechSynthesis;
                    var voices = synth.getVoices();
                    var utterThis = new SpeechSynthesisUtterance(words);
                    utterThis.voice = voices[1];
                    utterThis.pitch = 1;
                    utterThis.rate = 1;
                    synth.cancel();
                    synth.speak(utterThis);
                } catch (err){
                    
                }
            },
            reloadOnIdle: function(){
                if(timer){
                    clearTimeout(timer);
                }
                timer = setTimeout(reload, 60000)
            },
            returnOnDugay: function(){
                var me = this;
                if(timer2){
                    clearTimeout(timer2);
                }
                timer2 = setTimeout(function(){
                    me.page = 0
                }, 10000)
            },
            returnBalik: function(delay){
                var me = this;
                if(me.returnTimer){
                    clearInterval(me.returnTimer);
                }
                me.returnCountdown = delay;
                me.returnTimer = setInterval(function(){
                    me.returnCountdown -= 1;
                    if(me.returnCountdown <= 0){
                        clearInterval(me.returnTimer);
                        me.page = 0;
                    }
                }, 1000)
            },
            reset: function(){
                var me = this;
                me.page = 0;
                me.code = '';
                me.photo = '';
                
            },
            focus: function(){
                setTimeout(function() {
                    document.getElementById("code").focus();
                }, 10);
            },
            webcamStart: function(){
                var me = this
                if(!me.webcamPhotoSnapper){
                    me.pending = true
                    MediaDevicesPresets.createWebcamPhotoSnapper(
                        document.getElementById("webcam-feed"),
                        document.getElementById("webcam-snapshot"),
                    ).then(function(webcamPhotoSnapper){
                        me.pending = false
                        me.webcamPhotoSnapper = webcamPhotoSnapper
                    }).catch(function(err){
                        me.page = 3;
                        me.error = err.message + '. Please check if you have a webcam.';
                        me.returnBalik(7);
                    }).then(function(){
                        me.pending = false
                    })
                }
            },
            webcamStop: function(){
                var me = this
                if(me.webcamPhotoSnapper){
                    me.webcamPhotoSnapper.stop()
                    me.webcamPhotoSnapper = null
                }
            },
            webcamPause: function(){
                var me = this
                if(me.webcamPhotoSnapper){
                    document.getElementById("webcam-feed").pause()
                }
            },
            webcamSnap: function(){
                var me = this
                if(me.webcamPhotoSnapper){
                    me.photo = me.webcamPhotoSnapper.snap()
                }
            },
            onSubmit: function(){
                var me = this;
                var code = me.code 
                if(!_.trim(me.code)){
                    return
                }
                
                document.getElementById("code").focus();
                document.getElementById("code").select();
                var before = me.page;
                var after = me.page + 1;
                if(after === 1){
                    if(!me.useWebcam){
                        after = 2
                    }
                } else if(after === 2){
                    if(!me.webcamLoaded && me.useWebcam){
                        return
                    }
                } else if(after === 3){
                    me.page = 0
                    return
                }
                me.page = after
            },
            log: function(){
                var me = this;
                var body = {
                    code: me.code,
                }
                me.pending = true
                axios.post('/scanner/{{scanner.uid}}/scan', body, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function (response) {
                    var data = _.get(response, 'data')
                    console.log(data)

                    var log = _.get(data, 'log')
                    var gender = _.get(data, 'employee.gender')
                    var firstName = _.get(data, 'employee.firstName')
                    var lastName = _.get(data, 'employee.lastName')
                    if(log){
                        me.time = moment(log.dateTime).format('hh:mm A');
                        me.name = firstName + ' ' + lastName;
                        var morning = moment(log.dateTime).format('A') === 'AM' ? true : false;
                        var message = '';
                        var salute = '';
                        if(gender === 'M') {
                            salute = ' Sir';
                        } else if(gender === 'F'){
                            salute = ' Maam';
                        }
                        if(morning) {
                            message += 'Good morning'+salute+'!';
                        } else {
                            message += 'Good afternoon'+salute+'!';
                        }
                        message += 'Your time is ' + moment(log.dateTime).format('hh:mm A')
                        me.hambal(message)
                    }
                    me.returnBalik(10)
                }).catch(function (error) {
                    if (error.response) {
                        // Request made, server responded with a status code outside of 2xx
                        // console.error(error.response.status)
                        var err = error.response.data;
                        me.page = 3;
                        me.error = err.msg;
                        me.returnBalik(7);

                    } else if (error.request) {
                        var msg = 'The request was made but no response was received'
                        console.error(msg);
                        me.page = 3;
                        me.error = msg;
                        me.returnBalik(7);

                    } else {
                        var msg = 'Something happened in setting up the request that triggered an Error.'
                        console.error(msg, error.message);
                        me.page = 3;
                        me.error = msg;
                        me.returnBalik(7);

                    }
                }).then(function () {
                    // always executed
                    {# setTimeout(function(){ #}
                        me.pending = false;
                    {# }, 2000) #}
                })
            }
        }
    });
</script>
{% endblock %}