{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h2">Scanner: {{scanner.name}} </h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/scanner/{{scanner._id}}/edit" class="btn btn-sm btn-outline-primary">Edit</a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}

    <div class="tab-content pt-3 pb-2 pl-3 pr-2">
            <p>Campus: {{scanner.campus|capitalize}}</p>
            <p>Device: {{scanner.device|capitalize}}</p>
            <p>Active: {{scanner.active|capitalize}}</p>
            <ol>
                {% for downTime in scannerStatus.downTimes %}
                    <li><span class="text-danger">{{downTime.date}}</span> from <strong>{{downTime.start}}</strong> to <strong>{{downTime.end}}</strong> for <em class="text-danger">{{downTime.diff}}</em> minutes</li>
                {% endfor %}
            </ol>
    </div>

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            name: '{{scanner.name}}',
        },
        validations: {
            name: {
                required: window.validators.required
            },
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

