{% extends "document-public.html" %}

{% block body %}
<div class="col-md-6 ml-auto mr-auto pt-5 mt-5">
    <div id="vApp" v-cloak>
        <div class="form-login">
            <div class="form-header">
                <h1 class="h6 mb-0">Scanner: {{scanner.name}}</h1>
            </div>
            <div class="form-body text-center">
                <div class="h3 mb-4">Verify Employee</div>
                <p>Is this person the same as the one in front of you?</p>
                <div class="mb-5">
                    <form action="/scanner/{{scanner.uid}}/verify" method="POST">
                        <a href="/scanner/{{scanner.uid}}/scan" class="btn btn-danger">No</a>
                        <input type="hidden" name="code" value="{{employee.uid}}">
                        <button class="btn btn-success">Yes</button>
                    </form>
                </div>
                <div class="profile-photo mb-3">
                    {% if employee.profilePhoto %}
                    <img src="{{employee.profilePhoto|s3_url('medium')}}" alt="photo">
                    {% else %}
                    <span class="initials">
                        {{employee.firstName|first}} 
                        {{employee.lastName|first}}
                    </span>
                    {% endif %}
                </div>
                <h1 class="h5 mb-3 text-uppercase">
                    <u title="First Name">{{employee.firstName}}</u> 
                    <u title="Middle Name">{{employee.middleName}}</u>
                    <u title="Last Name">{{employee.lastName}}</u>
                    <u title="Suffix">{{employee.suffix}}</u>
                    
                </h1>
                <p class="text-left">Position: <strong>{{employee.employments[0].position}}</strong></p>
                <p class="text-left">Address: <strong>{{employee.address}}</strong></p>
                <p class="text-left">Date of Birth: <strong>{{employee.birthDate|format_date("MMM DD, YYYY")}}</strong> <em>({{employee.birthDate|age}} yrs old)</em></p>
                <p class="text-left">Gender: <strong>{{employee.gender}}</strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            code: '',
            remaining: 5,
            timer: null,
            hideCancel: false
        },
        validations: {
        },
        mounted: function(){
            var me = this;
            {# me.timer = setInterval(function(){
                me.remaining -= 1;
                if (me.remaining <= 0) {
                    clearInterval(me.timer)
                    window.location.replace("/scanner-app");
                }
            },1000) #}
        },
        methods: {
            onCancel: function(){
                this.hideCancel = true;
                clearInterval(this.timer)
            },
        }
    });
</script>
{% endblock %}