<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="">
        <h1 class="h5">Personal Data Sheet</h1>
    </div>
    <div class="d-flex">
        <a onclick="(function(){jQuery('#modal-help-pds').modal('show')})(); return false;" target="_blank" href="https://drive.google.com/file/d/1cR1uD1ldZ45BZNMWX1o6RMCbPd_5TDwR/preview" class="btn btn-sm btn-outline-success">Guide to Filling up the PDS</a>
        <a href="/employee/{{employee._id}}/document/pds" class="btn btn-sm btn-success ml-1 mr-1">Download</a>
    </div>
</div>