<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/personal-info/])}}" href="/employee/{{employee._id}}/pds/personal-info">Personal <div class="d-md-inline d-none">Information</div> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/family-background/])}}" href="/employee/{{employee._id}}/pds/family-background">Family <div class="d-md-inline d-none">Background</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/educational-background/])}}" href="/employee/{{employee._id}}/pds/educational-background">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/csc-eligibility/])}}" href="/employee/{{employee._id}}/pds/csc-eligibility">Eligibility</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/work-experience/])}}" href="/employee/{{employee._id}}/pds/work-experience">Work <div class="d-md-inline d-none">Experience</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/voluntary-work/])}}" href="/employee/{{employee._id}}/pds/voluntary-work">Volunteerism</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/learning-development/])}}" href="/employee/{{employee._id}}/pds/learning-development">L&D</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/other-info/])}}" href="/employee/{{employee._id}}/pds/other-info">Other <div class="d-md-inline d-none">Info</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{urlPath|active_class([r/^\/employee\/(.)+\/pds\/more-info/])}}" href="/employee/{{employee._id}}/pds/more-info">More <div class="d-md-inline d-none">Info</div></a>
        </li>
    </ul>
</div>