<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{app.description}}">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{{app.title}}</title>

    <!-- Bootstrap -->
    <link rel="shortcut icon" href="{{app.url}}/favicon.png" />
    <link rel="stylesheet" href="{{app.url}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{app.url}}/css/style.css" />
</head>
<body class="body-public">
<div class="container-fluid">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>
{% block scripts %}
<script src="{{app.url}}/js/lodash.min.js"></script>
<script src="{{app.url}}/js/vue.js"></script>
<script src="{{app.url}}/js/vuelidate.min.js"></script>
<script src="{{app.url}}/js/validators.min.js"></script>
<script src="{{app.url}}/js/vuelidate-extend.js"></script>
{% endblock %}
</html>
