<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{app.description}}">
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link rel="shortcut icon" href="{{app.url}}/favicon.png" />
    <link rel="stylesheet" href="{{app.url}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{app.url}}/css/print.css" />
</head>
<body>
{% block body %}{% endblock %}
<script>
window.print();  
</script>
</body>
</html>
