{% extends "document-public.html" %}

{% block body %}
<div class="container container-first height-medium">
    <div class="row">
        <div class="col-md-5 ml-auto mr-auto pt-5 login-height">
            <div class="login-form">
                <div class="position-relative">
                    <a href="/" class="btn btn-sm position-absolute" style="left:0; top:0">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">    <path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
                    </a>
                </div>
                <div>
                    <div class="text-center">
                        <img class="mb-4" style="width:200px; height:auto;" src="/images/sent.png" width="400" height="400" alt="Logo">
                        <h1 class="h6 mb-3">Email changed successfully!</h1>
                        <a href="/e/account/email" class="btn btn-lg btn-success">Okay, got it.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}