{% extends "document-public.html" %}

{% block body %}
<div class="container container-first height-medium">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto pt-5 login-height">
            <div class="login-form">

                <div class="text-center position-relative mb-4">
                    <img class="rotate" src="/images/logo-gear.png" alt="GSC Gear">
                    <img class="position-relative" width="100" src="/images/logo-inner.png" alt="GSC Logo">
                </div>

                <h1 class="text-center h4 mb-5">HRIS Employee Registration</h1>

                <div>
                    <p class="h1 mb-3">Step 2</p>
                    <p class="mb-4">Scan the generated QR Code with your phone.</p>
                    <img style="max-width: 100%" src="data:image/png;base64, {{qr|safe}}" alt="QR">
                </div>

                <form ref="form" class="mt-5 text-center" v-on:submit.prevent="onSubmit" action="/scanner/{{scanner.uid}}/scan" method="POST" novalidate>
                    <div class="form-group" style="position:relative; overflow:hidden">
                        <div style="position:absolute; left:0; right:0; top:0; bottom:0; background:#fff; z-index:1; opacity:1"></div>
                        <label for="code">Code</label>
                        <input style="outline: none" v-on:blur="focus" v-model="code" name="code" id="code" type="text" class="form-control">
                        <br>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{app.url}}/js/jquery.min.js"></script>
<script src="{{app.url}}/js/popper.min.js"></script>
<script src="{{app.url}}/js/bootstrap.min.js"></script>
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            
        },
        validations: {
            
        },
        methods: {
            
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}