{% extends "document-public.html" %}

{% block body %}
<div class="container container-first height-medium register">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto pt-5 login-height">
            <div class="login-form">

                <div class="text-center position-relative mb-4">
                    <img class="rotate" src="/images/logo-gear.png" alt="GSC Gear">
                    <img class="position-relative" width="100" src="/images/logo-inner.png" alt="GSC Logo">
                </div>

                <h1 class="text-center h4 mb-5">HRIS Employee Registration</h1>
                

                <div>
                    {% include 'register-carousel.html' %}
                    <form id="vApp" v-cloak ref="form" class="mt-5 text-center" v-on:submit.prevent="onSubmit" action="/register" method="GET" novalidate>
                        <div class="form-group" style="position:relative; overflow:hidden">
                            <div style="position:absolute; left:0; right:0; top:0; bottom:0; background:#eeeeee; z-index:1; opacity:1"></div>
                            <label for="code">Code</label>
                            <input style="outline: none" v-on:blur="focus" v-model="code" name="code" id="code" type="text" class="form-control">
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{app.url}}/js/jquery.min.js"></script>
<script src="{{app.url}}/js/popper.min.js"></script>
<script src="{{app.url}}/js/bootstrap.min.js"></script>
<script src="{{app.url}}/js/axios.min.js"></script>
{{ super() }}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        
        data: {
            code: ''
        },
        mounted: function(){
            document.getElementById("code").focus();
            jQuery('#carousel-regis').carousel(1)
            this.checkIfQrScanned()
        },
        methods: {
            checkIfQrScanned: function(){
                var me = this;
                axios.get('/register-long-poll/{{registrationForm._id}}').then(function (response) {
                    // handle success
                    console.log(response);
                    jQuery('#carousel-regis').carousel(2)
                }).catch(function (error) {
                    // handle error
                    if (error.response) {
                        // The request was made and the server responded with a status code
                        // that falls out of the range of 2xx
                        if(error.response.status == 408){
                            me.checkIfQrScanned()
                        }
                    } else if (error.request) {
                        // The request was made but no response was received
                        // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                        // http.ClientRequest in node.js
                        console.error('The request was made but no response was received');
                    } else {
                        // Something happened in setting up the request that triggered an Error
                        console.log('Error', 'Something happened in setting up the request that triggered an Error.', error.message);
                    }
                }).then(function () {
                    // always executed
                    // console.log('alwaysnic');
                });
            },
            focus: function(){
                setTimeout(function() {
                    document.getElementById("code").focus();
                }, 10);
            },
            onSubmit: function(){
                var me = this;
               
                me.$nextTick(function() {
                    me.$refs.form.submit();
                });
            }
        }
    });
</script>
{% endblock %}