{% extends "document-public.html" %}

{% block body %}
<div class="container container-first height-medium register">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto pt-5 mb-5 login-height">
            <div id="vApp" v-cloak class="login-form">

                <div class="text-center position-relative mb-4">
                    <img class="rotate" src="/images/logo-gear.png" alt="GSC Gear">
                    <img class="position-relative" width="100" src="/images/logo-inner.png" alt="GSC Logo">
                </div>

                <h1 class="text-center h4 mb-5">HRIS Employee Registration</h1>

                <div>
                    {% include 'register-carousel.html' %}
                    <form ref="form" class="mt-5 text-center" v-on:submit.prevent="onSubmit" action="/register" method="POST" novalidate>
                        <div class="form-group" style="position:relative; overflow:hidden">
                            <div style="position:absolute; left:0; right:0; top:0; bottom:0; background:#eeeeee; z-index:1; opacity:1"></div>
                            <label for="code">Code</label>
                            <input style="outline: none" v-on:blur="focus" v-model="code" name="code" id="code" type="text" autocomplete="off" class="form-control">
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{app.url}}/js/jquery.min.js"></script>
<script src="{{app.url}}/js/popper.min.js"></script>
<script src="{{app.url}}/js/bootstrap.min.js"></script>
<script src="{{app.url}}/js/axios.min.js"></script>
{{ super() }}
<script>
    jQuery('body').on('click', function(){
        document.getElementById("code").focus();
    })
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        data: {
            code: '',
            error: '',
            qr: '',
            registrationFormId: '',
            cancelTokenSource: null
        },
        mounted: function(){
            document.getElementById("code").focus();
        },
        methods: {
            focus: function(){
                setTimeout(function() {
                    document.getElementById("code").focus();
                }, 10);
            },
            onSubmit: function(){
                var me = this;
               
                me.error = ''
                me.qr = ''
                me.registrationFormId = ''
                jQuery('#carousel-regis').carousel(1)

                me.$nextTick(function() {
                    axios.post('/register', {code: me.code}, {headers: {'X-Requested-With': 'XMLHttpRequest'}}).then(function (response) {
                        {# console.log(response); #}
                        me.qr = response.data.qr
                        me.registrationFormId = response.data.registrationForm._id
                        me.checkIfQrScanned()

                    }).catch(function (error) {
                        if (error.response) {
                            // Request made, server responded with a status code outside of 2xx
                            // console.error(error.response.status)
                            console.error(error.response.data)
                            me.error = error.response.data
                            jQuery('#carousel-regis').carousel(3)
                            jQuery('#carousel-regis .carousel-indicators').hide()
                            var t = setTimeout(function(){
                                clearTimeout(t)
                                jQuery('#carousel-regis').carousel(0)
                                jQuery('#carousel-regis .carousel-indicators').show()
                            }, 3000)
                        } else if (error.request) {
                            console.error('The request was made but no response was received');
                        } else {
                            console.error('Error', 'Something happened in setting up the request that triggered an Error.', error.message);
                        }
                    }).then(function () {
                        // always executed
                        me.code = ''
                    })
                });
            },
            checkIfQrScanned: function(){
                var me = this;
                // Only one request at a time
                if(me.cancelTokenSource){
                    me.cancelTokenSource.cancel('Canceled by the client.');
                }

                me.cancelTokenSource = axios.CancelToken.source();

                axios.get('/register/long-poll/' + me.registrationFormId, {
                    cancelToken: me.cancelTokenSource.token
                }).then(function (response) {
                    // handle success
                    // console.log(response);
                    jQuery('#carousel-regis').carousel(2)
                    var t = setTimeout(function(){
                        clearTimeout(t)
                        jQuery('#carousel-regis').carousel(0)
                    }, 5000)
                }).catch(function (error) {
                    if (axios.isCancel(error)) {
                        console.log('Request canceled', error.message);
                    } else if (error.response) {
                        // Request made, server responded with a status code outside of 2xx
                        // console.error(error.response.status)
                        if(error.response.status == 408){
                            jQuery('#carousel-regis').carousel(0)
                        }
                    } else if (error.request) {
                        console.error('The request was made but no response was received');
                    } else {
                        console.error('Error', 'Something happened in setting up the request that triggered an Error.', error.message);
                    }
                })
            },
        }
    });
</script>
{% endblock %}