{% extends "document-public.html" %}

{% block body %}
<div class="container container-first height-medium">
    <div class="row">
        <div class="col-md-5 ml-auto mr-auto pt-5 login-height">
            <div class="login-form" id="vApp" v-cloak>
                <div class="text-center position-relative mb-4">
                    <img width="100" src="/images/logo.png" alt="GSC Gear">
                </div>
                <h1 class="text-center h4 mb-4">HRIS Registration</h1>
                <div>
                    {% include 'parts/flash.html' %}
                    <form ref="form" v-on:submit.prevent="onSubmit" action="/register/{{registrationForm._id}}" method="POST" novalidate>
                        
                        <div class="form-group">
                            <label for="employmentId">Select Your Name</label>
                            <div>
                                <autocomplete v-model="employmentId"
                                    name="employmentId"
                                    initial-value="{{''}}"
                                    initial-display="{{''}}"
                                    placeholder="Start typing your name..."
                                    :source="dataSource"
                                    input-class="form-control"
                                    :request-headers="headers"
                                    v-on:selected="onSelect"
                                    >
                                </autocomplete>
                                <small class="invalid-feedback">${getError('employmentId')}</small>
                            </div>
                        </div>

                        {# <div class="form-group">
                            <label for="photo">Photo</label>
                            <div>
                                <input v-on:change="onFileChange" accept="image/*;capture=camera" name="photo" id="photo" ref="file_photo" type="file" class="form-control">
                                <small class="invalid-feedback">${getError('filesLength')}</small>
                            </div>
                        </div> #}
                        <div class="text-center p-2">
                            <div id="webcam" style=" margin: auto"></div>
                            <input class="m-2" type=button value="Take Snapshot" onClick="take_snapshot()">
                            <div id="results">Your captured image will appear here...</div>
                        </div>
                        

                    {#  #}
                        <div class="alert alert-warning">By clicking Register, I certify that the ID I scanned and the name above, and photo belongs to me.</div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-full-width">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "parts/modal-consent.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/jquery.min.js"></script>
<script src="{{app.url}}/js/popper.min.js"></script>
<script src="{{app.url}}/js/bootstrap.min.js"></script>
<script src="{{app.url}}/js/vuejs-auto-complete.js"></script>
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script src="{{app.url}}/js/webcam.min.js"></script>

<script>
    jQuery('#modal-consent').on('click', '#btn-consent', function(){
        jQuery('form').submit()
    })
    function take_snapshot() {
        var videoTrack = Webcam.stream.getVideoTracks()[0];
        var settings = videoTrack.getSettings();
        var aspectRatio = Math.round(settings.width / settings.height)
        var destW = 320;
        var destH = 240;
        console.log(settings, destW / aspectRatio, destH * aspectRatio)
        Webcam.set('dest_width', destW);
        Webcam.set('dest_height', Math.round(destH * aspectRatio));
        // take snapshot and get image data
        Webcam.snap(function(data_uri) {
            // display results in page
            document.getElementById('results').innerHTML = 
                '<h2>Here is your image:'+ destW +'x' +Math.round(destH * aspectRatio) +'</h2>' + 
                '<img src="'+data_uri+'"/>';
        });
    }
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
            VuePhAddress.mixin,
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            employmentId: '',
            photo: '',
            pending: false,
            filesLength: undefined,
        },
        validations: {
            employmentId: {
                required: window.validators.required
            },
            {# filesLength: {
                required: window.validators.required
            }, #}
        },
        mounted: function(){
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90,
                flip_horiz: true
            });
            Webcam.attach( '#webcam' );
            
        },
        methods: {
            onFileChange(event){
                this.filesLength = (event.target.files.length > 0) ? true : undefined
            },
            dataSource: function(input) {
                return '/query/employment?s=' + input
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                console.log()
                if (me.$v.$error) {

                    alert('Please correct the errors to continue.')
                } else {
                    jQuery('#modal-consent').modal('show')
                    me.$nextTick(function() {
                        {# me.$refs.form.submit(); #}
                    });
                }
            }
        }
    });
</script>
{% endblock %}