{% extends "document-public.html" %}

{% block body %}
<div class="container container-first height-medium">
    <div class="row">
        <div class="col-md-5 ml-auto mr-auto pt-5 login-height">
            <div class="login-form" id="vApp" v-cloak>
                <div class="text-center position-relative mb-4">
                    <img width="100" src="/images/logo.png" alt="GSC Gear">
                </div>
                <h1 class="text-center h4 mb-4">HRIS Registration</h1>
                <div>
                    {% include 'parts/flash.html' %}
                    <div class="alert alert-info">Congratulations {{employee.firstName}}, you are now registered. <br>Your username and password are as follows:</div>
                    <ul>
                        <li>Username: {{user.username}}</li>
                        <li>Password: {{password}} <br> <em>You can change this later in your account page.</em></li>
                    </ul>
                    <div class="alert alert-danger">Take note of your username and password. You wont be able to see this form again.</div>
                    
                    <div class="text-center p-5">
                        <a href="/login?username={{user.username}}" onclick="return confirm('Have you taken note of your username and password? If yes tap, OK. ')" class="btn btn-success btn-lg">Go to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "parts/modal-consent.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
   

    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        
        
        data: {
        },
        validations: {
           
        },
        mounted: function(){
            
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}