{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    {% include 'parts/flash.html' %}
    <div class="tab-content p-3 pt-4 min-height-500">
        <div class="d-flex align-items-center mb-4">
            <h1 class="h4 mr-3 mb-0">Recent History</h1>
        </div>
        {% if history.length %}
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>History</th>
                        <th>Date Time</th>
                        <th>Age</th>
                    </tr>
                    {% for h in history%}
                    <tr>
                        <td>
                            <span class="{{h.alert}}">{{h.description}}</span>
                        </td>
                        <td>{{h.createdAt|format_date('MMM DD, YYYY - h:mm A')}}</td>
                        <td><em>{{h.createdAt|from_now}}</em></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <a href="/employee/history/all?firstId={{history.at(0)._id}}" class="btn btn-light btn-sm">Prev</a>
                <a href="/employee/history/all?lastId={{history.at(-1)._id}}" class="btn btn-light btn-sm">Next</a>
            </div>
        {% else %}
            <p>Nothing to show. Go <a class="" href="/employee/history/all">Back</a>.</p>
        {% endif %}
    </div>
</div>
{% endblock body %}